[2020-07-02 19:05] raosudha89 commented on #335
@tlikhit  Do you have any ideas for how to do this?

[2020-07-02 19:05] raosudha89 commented on #355
@tlikhit  Can you check this when you get the time?

[2020-07-02 19:06] raosudha89 commented on #310
@goodmami  Thanks! I merged the PR.

[2020-07-02 20:09] anaerobeth commented on #332
Done creating public channels for W11-W20 and setting their topics and descriptions

[2020-07-02 20:09] raosudha89 commented on #332
I merged this PR https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/142

And created this PR https://github.com/acl-org/acl-2020-virtual-conference/pull/364  for using the newly added channel names correctly.

[2020-07-02 20:13] raosudha89 commented on #332
@finiteautomata  Sorry I had revert your PR. You seem to have changed an older version of workshops.csv file.

Can you make sure you update your sitedata_acl2020 submodule to the latest version and then add rocketchat channel in that version? Thanks.

[2020-07-02 20:26] hao-fang opened #365 "make sure the scroll to the top when open the plenary session page from the calendar"
**Number of Volunteers: 1**

Currently, when using plenary_sessions.html#tab-july7 to open the plenary session page, it will focus in the middle, instead of
the top.
I'm not sure how to fix this behavior.

[2020-07-02 20:53] anaerobeth commented on #365
A quick way to do this is to move the ids to empty `div`s above the date block:

<img width="985" alt="Screen Shot 2020-07-02 at 12 35 22 AM" src="https://user-images.githubusercontent.com/3663322/86407879-e2cc5100-bc83-11ea-9557-2bcb2d44938a.png">

Demo:
![plenary-scroll-top](https://user-images.githubusercontent.com/3663322/86408197-861d6600-bc84-11ea-8e2e-f5e5915ef040.gif)

Alternatives would b

[2020-07-02 21:02] anaerobeth commented on #365
Might not work if anchor links require `id`s to find the target `div`(ex. plenary_sessions.html#tab-july7)

[2020-07-02 22:27] hao-fang commented on #365
@anaerobeth hmm yeah ... we need to make sure when clicking the calendar card, it brings us to the right date..

[2020-07-02 22:35] anaerobeth commented on #335
I took a stab at this and programmatically built an onclick event with the locations of the T6-files:
![open-multiple-slides](https://user-images.githubusercontent.com/3663322/86414703-bec43c00-bc92-11ea-82db-baa93da46db3.gif)

However, some browsers may prevent opening of multiple tabs at once (depending on pop up blocker or redirect settings). Another option is to allow downloading a zip file of

[2020-07-02 22:44] anaerobeth commented on #365
The calendar card dives have their own `id`s separate from the anchor tag id:

<img width="522" alt="Screen Shot 2020-07-02 at 6 42 18 PM" src="https://user-images.githubusercontent.com/3663322/86415047-cd5f2300-bc93-11ea-99e0-6be1663cf574.png">

[2020-07-02 23:36] raosudha89 commented on #335
@anaerobeth  Yes, opening multiple tabs automatically could be prevented in some browsers. And it could be confusing too since it is slightly uncommon. The option of downloading a zip file sounds good to me. Can you do that? Thanks

[2020-07-02 23:37] hao-fang commented on #365
@anaerobeth Thank you so much!
Just FYI -- we are going to freeze the website at 11pm PST today. It's fine if this change didn't make to the 1.0 release.
You can still create and merge PRs, but those PRs will not be automatically deployed to the virtual.acl2020.org. We will manually do it during the conference.

[2020-07-02 23:42] raosudha89 opened #370 "Workshop: Open each workshop paper talk in a new page"
Currently, all pre-recorded talks of a workshop are all displayed in one page (e.g. https://virtual.acl2020.org/workshop_W1.html has about 50 talks all in one page).

Can we instead have a separate page for each talk and just have a link to that page in the main page?

[2020-07-02 23:46] #48 closed

[2020-07-02 23:46] #49 closed

[2020-07-02 23:59] raosudha89 opened #371 "Workshops: Add detailed scheduled of W7 to W20"
W7 to W20 workshops are all is currently missing detailed scheduled.

The schedule of each workshop can be found in its tab in [this spreadsheet](https://docs.google.com/spreadsheets/d/1BbjMuZyROC973mukGks45h4bwZwDziJmv8B1RNLfz1Q/edit#gid=646602401).

Check how this is done for W1 to W6 in workshops_schedule.json

[2020-07-03 00:27] raosudha89 opened #373 "Workshops: Verify that all pre-recorded talks are displayed correctly"
I found that some pre-recorded talks just keep loading and never show the video. For e.g.

- W8 : Talk by Andrew
- W8: Talk by Kathleen
- W15: Talk by Steven

Not sure if its a slideslive video error or just my browser being slow to load videos.

[2020-07-03 00:32] raosudha89 commented on #370
We need to do this asap for W1 since it is scheduled on July 5.

[2020-07-03 02:29] raosudha89 commented on #335
@anaerobeth  Thank you so much for fixing this. I have merged your PRs.

[2020-07-03 02:29] #335 closed

[2020-07-03 02:50] anaerobeth commented on #332
@raosudha89 Let me know if you need me to update the workshops.csv file and create a new PR.

[2020-07-03 04:05] anaerobeth commented on #360
@raosudha89  I can pick up this task. Do you want the link added after the tutorial description but before the Livestreaming block?

[2020-07-03 04:07] hao-fang commented on #327
https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/152

[2020-07-03 04:07] #327 closed

[2020-07-03 05:09] raosudha89 commented on #310
W4 is missing ID for one video (talk by Liyan Xu) in this spreadsheet https://docs.google.com/spreadsheets/d/1mnkvwYGcramosUflCRlVdgzUPIUSfkqUDpDTa5Faslg/edit#gid=747737888

I have asked Jarda about this. Once I get an answer, we can close this.

[2020-07-03 05:13] raosudha89 commented on #360
@anaerobeth Looks great. I merged your PR. You are awesome :) thanks!

[2020-07-03 05:13] #360 closed

[2020-07-03 05:27] goodmami commented on #310
@raosudha89 that one missing ID isn't the biggest problem, as I pointed out above. Here are some other issues:
- The title of Liyan Xu's talk is "Liyan Xu"
- Yuxia Wang's talk's title starts with "Title:" (it should not)
- Manirupa Das's talk has a typo ("for for")
- The spreadsheet lists 11 talks, which is **half** of the 22 listed on the [BioNLP workshop website](https://aclweb.org/aclwiki/BioNL

[2020-07-03 05:32] raosudha89 commented on #310
@goodmami  Thanks for listing out the issues.

- Since the video is missing for that talk, we cannot update its title. Once we have the video we can update it
- Can you fix that?
- Can you fix that too?
- I think some talks are only going to be livestreamed. So maybe for this workshop, they have only 11 pre-recorded talks and the rest they plan to show only in the live session.

[2020-07-03 05:45] goodmami commented on #310
Ok that's fine. I fixed those problems and another one or two. See https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/158

I also noticed that Manirupa Das's talk was missing the phrase "and Automated Text Categorization" compared to the title at the workshop website. Given this and the other errors, it looks like it was edited in the spreadsheet after the fact. I did not re-inse

[2020-07-03 05:46] goodmami commented on #310
Forgot to add: I only fixed this in the .csv file on GitHub. I don't have permissions to change the spreadsheet. So please be aware of this if someone later re-extracts the info by downloading the csv file from the spreadsheet, as it would overwrite my changes.

[2020-07-03 07:33] #205 closed

[2020-07-03 07:33] #208 closed

[2020-07-03 07:35] #306 closed

[2020-07-03 07:35] hao-fang commented on #306
Closing this to clean up the issues.

[2020-07-03 07:38] #332 closed

[2020-07-03 07:43] hao-fang commented on #101
@anaerobeth Thanks a lot for working on this. Unfortunately I don't have enough time to update it in the RocketChat.
So I simply turned off the `Show "Home Button"` option.
Sorry about missing this.. and you have made a lot of other great contributions to our website!

[2020-07-03 07:43] #101 closed

[2020-07-03 07:44] #83 closed

[2020-07-03 07:44] #104 closed

[2020-07-03 07:45] hao-fang commented on #90
@stupid-2020 thanks for the suggestions..
we didn't have time for this.... hope everything will be fine ... 🤞

[2020-07-03 07:45] #90 closed

[2020-07-03 07:45] #40 closed

[2020-07-03 07:46] #269 closed

[2020-07-03 07:47] #25 closed

[2020-07-03 07:47] #46 closed

[2020-07-03 07:47] #55 closed

[2020-07-03 07:48] hao-fang commented on #56
will reopen after the conference

[2020-07-03 07:48] #56 closed

[2020-07-03 14:51] anaerobeth commented on #365
@hao-fang Alternate implementation where I created a `base_plenary.html` from `base.html` and added a window scroll after the script for hash tags finishes:

![plenary-scroll-to-top](https://user-images.githubusercontent.com/3663322/86479448-31c4c580-bd1a-11ea-9b84-7084196b2808.gif)

Note: Buggy behavior seen in about 1 out of 15 times I click the plenary links

[2020-07-03 15:17] hao-fang commented on #104
Just a note for future references

Remember to choose "Yes - Use Amazon SES" option. (ref https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-email.html)
![image](https://user-images.githubusercontent.com/9957482/86481828-96295a00-bd05-11ea-8ce5-e7bdfa2ae14c.png)

[2020-07-03 15:24] sanxing-chen opened #393 "[RocketChat] Channels list often shuffle itself"
The channels list on the left of the panel frequently shuffles itself, after some animation the order seems to be unchanged.

The issue occurs in both Safari, Edge browser, and client in macOS, and the animation is synchronous across clients.

One minor issue: link for downloading the desktop version of rocket chat in https://acl2020.rocket.chat/home is incorrect, should be https://rocket.chat/ins

[2020-07-03 15:41] clefourrier opened #394 "Sponsors: Live page does not contain any logo/link towards sponsor spaces"
The sponsors page seems to be broken on the live website: the logos are not visible, and though it's possible to hover above, they do not redirect anywhere.

![image](https://user-images.githubusercontent.com/22726840/86483444-5e95ce80-bd54-11ea-9cbd-7a0281393e73.png)

[2020-07-03 15:53] sanxing-chen commented on #394
It looks good in my client, try maybe refresh cache?

![image](https://user-images.githubusercontent.com/18565449/86484262-d3044980-bd23-11ea-8241-c6d052f0fa26.png)

[2020-07-03 15:58] clefourrier commented on #394
Cache problem, closing the issue.
Thks @sanxing-chen

[2020-07-03 15:58] #394 closed

[2020-07-03 15:58] clefourrier commented on #393
I can confirm this behavior on Firefox and Chrome.

[2020-07-03 16:11] hao-fang opened #395 "Update FAQ for Safari"
Currently the SlidesLive embedded video doesn't work well with Safari. It shows
![image](https://user-images.githubusercontent.com/9957482/86485209-fd96d800-bd0c-11ea-8ad7-a66c555e9707.png)

We have already an FAQ
![image](https://user-images.githubusercontent.com/9957482/86485221-0a1b3080-bd0d-11ea-97cd-580e6ec99826.png)

But there is a workaround for Safari

Someone need to update the FAQ, proba

[2020-07-03 16:18] raosudha89 opened #396 "[Plenary Session] Add individual videos for business and review meetings"
Right now all videos for business and review meetings have been merged together.

List them separately just like papers on workshops page.

[2020-07-03 16:24] hao-fang opened #397 "Fix the sponsor page for "John Hopkins University""
https://virtual.acl2020.org/sponsor_15.html

[2020-07-03 16:33] raosudha89 opened #398 "[FAQ page] Some updates that should go in July 4 website release"
I am using this issue to track some frequently asked questions on acl2020-virtual-helpdesk@googlegroups.com so that we can add them to the Help page

- [ ] Question: If I watch pre-recorded talks for tutorials, do I still need to attend the live session? What will be different there?  Answer: "Each tutorial format is different. For tutorials, in addition to showing the pre-recorded talks during th

[2020-07-03 16:35] raosudha89 commented on #370
@tlikhit  Can you see if you can work on this? Thanks.

[2020-07-03 16:42] raosudha89 commented on #310
The title of Liyan Xu's talk has been updated. Closing this since all pre-recorded talks have been added. Thanks @goodmami

[2020-07-03 16:42] #310 closed

[2020-07-03 16:57] tlikhit commented on #370
@raosudha89 Sure! Will each talk have content other than the slideslive embed? If not, what do you think about just loading the talk below the title on click?

[2020-07-03 17:19] hao-fang opened #400 "Corrections on the WiNLP page"
Rename FFR v1.0 to FFR v1.1 on WiNLP workshop https://virtual.acl2020.org/workshop_W1.html

[2020-07-03 17:51] hao-fang opened #402 "Safari compatiability issue with the `add-to-calendar.js`"
It seems this is broken in Safari.

[2020-07-03 17:52] anaerobeth commented on #373
I tested loading the videos in Chrome Version 80.0.3987, Firefox 72.0.2 and Safari 11.0.2

The following videos are stuck in loading:
W8: Andrew, Kathleen and Andress
W15: Steven and Kass-hout

[2020-07-03 18:05] raosudha89 commented on #400
1. The website shows the schedule from 9 am - 2 am PDT .
https://virtual.acl2020.org/workshop_W1.html

However, the workshop runs from 9 am - 4:15 pm PDT, according to the schedule on the spreadsheet.
https://docs.google.com/spreadsheets/d/1sTRj-skkp7qYz1zwqvmPuXRay6HIHEOS7NOuUMsW8oE/edit?pli=1#gid=936853935

Would you please help correct that?

2. Also, our organizer list is
Rossana Cunha, Samira

[2020-07-03 18:19] raosudha89 commented on #296
@anaerobeth  It looks like some workshop schedule is displayed incorrectly. Like W2 is from 9am to 1:30 PDT but it has been listed as 09:00-13:30 GMT. I haven't checked the other schedules. But please note that the schedule mentioned in [this spreadsheet](https://docs.google.com/spreadsheets/d/1BbjMuZyROC973mukGks45h4bwZwDziJmv8B1RNLfz1Q/edit#gid=1713259850) are in PST (and not GMT).

[2020-07-03 18:33] anaerobeth opened #404 "[RocketChat] Missing RocketChat channels for W16-20 in the workshop page"
In the workshop page view, Rocketchat channels are not found for W16-20 because of mismatched casing:

Ex.
#workshop-15-NLPMC (rocketchat_channel in `workshops.csv`) vs #workshop-15-nlmpc (actual channel name)

[2020-07-03 18:36] raosudha89 opened #405 "Workshop schedules are displayed incorrectly"
@anaerobeth It looks like all workshop schedules are displayed incorrectly. Like W2 is from 9am to 1:30 PDT but it has been listed as 09:00-13:30 GMT. Please note that we should be using the schedule mentioned in [this spreadsheet](https://docs.google.com/spreadsheets/d/1mnkvwYGcramosUflCRlVdgzUPIUSfkqUDpDTa5Faslg/edit#gid=1102315556) and they are in PST (and not GMT).

If some schedule in missing

[2020-07-03 18:37] raosudha89 commented on #296
@anaerobeth  I created a new issue for this https://github.com/acl-org/acl-2020-virtual-conference/issues/405

[2020-07-03 18:37] #296 closed

[2020-07-03 18:55] raosudha89 commented on #405
@anaerobeth  I will start working on this since several workshop organizers are emailing us.

[2020-07-03 18:56] hao-fang opened #406 "Fix the demo link in https://virtual.acl2020.org/paper_demo.84.html"
There is an additional "www" in front of what should be: https://exbert.net (not www.exbert..)

[2020-07-03 19:00] anaerobeth commented on #405
OK please go ahead. Apologies for not getting to this sooner.

[2020-07-03 19:01] anaerobeth commented on #406
@hao-fang I can pick up this task

[2020-07-03 19:03] raosudha89 commented on #405
@anaerobeth  No worries. I am working on it now.

[2020-07-03 19:31] hao-fang opened #407 "Add calendars to plenary talks page"
Is there a way to add plenary sessions to one's calendar, similar to individual talks?

[2020-07-03 19:34] hao-fang opened #408 "Figure out a way for authors to update the cover images"
See https://acl2020.rocket.chat/channel/presenter-helpdesk?msg=5J5FgzQFWnjZ6kKrz

[2020-07-03 19:39] #406 closed

[2020-07-03 19:54] hao-fang opened #409 "Fix the SlidesLive ID for demo.107"
It should be `38928619`. There is a missing `9`.

https://virtual.acl2020.org/paper_demo.107.html

[2020-07-03 19:57] GuyAglionby opened #410 "Overflow on paper detail view"
On the paper overview page, if detail mode is selected the keywords don't fit in the box.

![image](https://user-images.githubusercontent.com/1337259/86495088-c3aaed80-bd6f-11ea-923b-93eda7aee0dc.png)

[2020-07-03 20:13] SebastinSanty commented on #409
I suppose this is a problem for a couple of demos, not just this

[2020-07-03 20:23] hao-fang opened #414 "RocketChat requests"
Used to summarize all RocketChat related requests.

[2020-07-03 20:23] hao-fang commented on #414
https://acl2020.rocket.chat/channel/helpdesk?msg=jaARc347Y4omdBEKG

[RocketChat] Hi, is it possible to become admins of our paper's channels? For instance if I'd like to add a link to the code in the description, or pin a message. (incidentally it seems like the abstract in the channel description comes from the submitted version of the paper, not the camera ready)

[2020-07-03 20:25] SebastinSanty opened #415 "Re-add list view for papers"
There are several complaints about the images being mis-matched or not accurately depicting the paper #408. Also, there can be preferences of sifting through quickly. Hence, a list-view could be helpful to a certain set of users.

Ref discussion: https://twitter.com/yoavgo/status/1279139297485033472

[2020-07-03 20:37] hao-fang opened #416 "Better way to embed videos for workshop papers"
[Website] I wish you hadn't embedded the videos in the main WiNLP page. It takes so long to be loaded.

https://acl2020.rocket.chat/channel/helpdesk?msg=FskwnezzHbjRMJtF7

[2020-07-03 20:43] #355 closed

[2020-07-03 21:20] raosudha89 commented on #370
@tlikhit  Each talk just have title, speakers and the video.

When you say load on click, do you mean like on click it will show the video and otherwise it will be hidden? We just need to be able to not load all talks by default. If this helps in that, then yes, sounds great.

We need this done in next few hours please. thanks.

[2020-07-03 21:20] raosudha89 commented on #416
This is a duplicate of https://github.com/acl-org/acl-2020-virtual-conference/issues/370

[2020-07-03 21:20] #416 closed

[2020-07-03 21:21] raosudha89 commented on #370
Attendee asked for this too on rocketchat:

[Website] I wish you hadn't embedded the videos in the main WiNLP page. It takes so long to be loaded.

https://acl2020.rocket.chat/channel/helpdesk?msg=FskwnezzHbjRMJtF7

[2020-07-03 21:23] raosudha89 commented on #400
This has been fixed now.

[2020-07-03 21:23] #400 closed

[2020-07-03 21:32] tlikhit commented on #370
@raosudha89 Yeah, that's what I meant. Should I also make it so that there is only one presentation playing at a time? i.e. if a presentation is currently playing and another presentation is clicked it closes the current one

[2020-07-03 21:39] anaerobeth commented on #370
@raosudha89 @tlikhit If page load time is a problem for pages like W1, n alternative would be to display links to open the videos in separate tabs:

![open-video-in-new-tab](https://user-images.githubusercontent.com/3663322/86498506-170f4280-bd54-11ea-85db-2d6c0efcceaa.gif)

[2020-07-03 21:40] hao-fang opened #420 "Fix the iCal link (need to add a title)"
The iCal link for the linked talk is broken (it doesn’t generate a title or provide the zoom link)
https://virtual.acl2020.org/paper_srw.85.html

[2020-07-03 21:42] hao-fang opened #421 "Update FAQ with the login issue"
Q: After I login to the main site, if I click on the "Login with ACL2020 account" button on any page (such as Chat), the circular spinner shows up but freezes and nothing else happens.

![image](https://user-images.githubusercontent.com/9957482/86498600-5da47300-bd3b-11ea-85a9-319a668bad4d.png)

Two possible reasons:
1) the pop-up windows are blocked
2) need to allow third party cookies

[2020-07-03 21:51] raosudha89 commented on #421
@hao-fang  I added it to the common Issue i made for many FAQs https://github.com/acl-org/acl-2020-virtual-conference/issues/398

[2020-07-03 21:51] #421 closed

[2020-07-03 21:53] raosudha89 commented on #405
Required PRs have been merged.

[2020-07-03 21:53] #405 closed

[2020-07-03 22:09] #409 closed

[2020-07-03 22:16] hao-fang commented on #365
@anaerobeth Thanks! Do you think we can merge this fix? Or do you suggest we wait and find the "right" solution?

[2020-07-03 22:23] raosudha89 commented on #370
I am not sure about this since we don't want them to watch it on slideslive webpage rather watch it on acl webpage.

[2020-07-03 22:25] raosudha89 commented on #370
That sounds like a good idea. Thanks.

[2020-07-03 22:26] #410 closed

[2020-07-03 22:28] raosudha89 commented on #373
@anaerobeth  Thanks for the detailed list. Can you check on the 'others' tab of [this spreadsheet](https://docs.google.com/spreadsheets/d/1RDUVoKz2qy8JSwMjJPDyzQ8-x7UnxJhLQadrf-MMnwU/edit#gid=1412903199) the status of these videos? If they are still 'incoming' that means they are yet to be uploaded. But if they are 'finished' then we will need to contact slideslive to see why they aren't loading.

[2020-07-03 22:30] hao-fang opened #424 "[Plenary] add date and show time in local timezone in plenary session pages"
Currently date is missing

![image](https://user-images.githubusercontent.com/9957482/86499861-2ab1ad80-bd42-11ea-846b-cc402b967e5f.png)

Also, the time is hard coded in GMT and PDT. Instead use the code from paper page/workshop page to display time in GMT and local timezone.

[2020-07-03 22:31] anaerobeth commented on #365
It is an improvement over the current behavior. We can always patch with something better when we have time.

[2020-07-03 22:35] hao-fang commented on #402
fixed with

[2020-07-03 22:35] #402 closed

[2020-07-03 22:35] #395 closed

[2020-07-03 23:46] tlikhit commented on #370
@raosudha89 Got it! I'm looking at some other optimizations to reduce load time. For example, the slideslive embed script is ~500kb and is being loaded inside a loop. Will see if I can find anything else and push 👍

[2020-07-03 23:57] anaerobeth commented on #373
Status of videos:
W1: Gina-not recording, Catherine-uploaded
W3: Olabiyi-returned
W4: Liyan-finished
W11: Monica-not recording
W14: Clara-finished  **
W17: Parsale-uploaded, Sara-uploaded

All the rest are still 'incoming' .

** W14: Clara is the only one marked 'finished' but does not load. It's presentation id is 38929866 but it's slideslive link in the spreadsheet is https://slideslive.com/3892

[2020-07-04 00:14] #365 closed

[2020-07-04 00:15] hao-fang commented on #57
🎉

[2020-07-04 00:15] #57 closed

[2020-07-04 00:17] hao-fang opened #427 "Fix paper abstract for main.249"
**Volunteers: 1**

https://acl2020.rocket.chat/channel/presenter-helpdesk?msg=kruC8hoeTXLon4Gnj

[2020-07-04 01:12] raosudha89 commented on #370
@tlikhit  Sounds good. Hope we can push this change in today's release. Tagging @hao-fang to check this PR before he does the release for tonight.

[2020-07-04 01:17] raosudha89 commented on #373
@anaerobeth  Thanks!

Regarding W14: Clara -- can you fix the presentation id in w14_papers.csv file?

Regarding W4: Liyan -- you marked this finished too. Is it an id mismatch as well?

[2020-07-04 01:39] raosudha89 opened #430 "[T7] Add link to worksheet"
T7 wishes to have the following link added to the website, under the name "Tutorial Worksheet"

link: https://docs.google.com/document/d/1WUerIY4MKuKEmvWR2OeB_oJCSBl3k4Q7KWwNzm5HYhs/view

[2020-07-04 01:50] anaerobeth commented on #373
I'll update the link for W14: Clara.
I removed W4: Liyan from the list since it loads OK now

[2020-07-04 02:19] anaerobeth commented on #373
@raosudha89 Looks like Google sheet records are swapped out for Clara and Jane.
In the in the Google sheet:
W14 SIGMORPHON | W1402 | finished | Recursive Schemes for Phonological Analysis | Clara Vania | slideslive.com/38929867
W14 SIGMORPHON | W1401 | incoming | On Understanding Character-level Models for Representing Morphology | Jane Ch, lee | slideslive.com/38929866

In w14_papers.csv
  1 UID,

[2020-07-04 02:30] anaerobeth commented on #430
@raosudha89 I can pick up this task

[2020-07-04 03:43] #430 closed

[2020-07-04 04:23] raosudha89 commented on #370
@tlikhit  I am testing your solution right now and I am seeing some issues.

- As I am watching one video, if I click another video, the first one collapses, but the audio continues
- Also sometimes when I go back to the first video, intermittently, the video becomes smaller and smaller until it disappears

I wonder if these things are happening because we are trying to collapse first video when s

[2020-07-04 05:11] raosudha89 commented on #424
I am working on this.

[2020-07-04 05:31] raosudha89 commented on #424
I added the day. I wasn't able to add time in local timezone. That still needs to be fixed.

[2020-07-04 05:44] sanxing-chen commented on #393
This can be solved by changing the order channels by alphabet rather than activities in the user side. But it’s still unclear why there’s invisible activity. Providing an instruction to users could be helpful.

https://twitter.com/emmasmanning/status/1279089238877888512?s=21

[2020-07-04 06:12] #398 closed

[2020-07-04 06:30] raosudha89 opened #439 "Add volunteers to helpdesk email alias"
Get emails from https://docs.google.com/forms/d/1hRkmmMf7GAEz-zJXFzQ-CjgUXPOoAN7NilO_q54ruF0/edit?ts=5efd1969#responses

and add them to acl2020-virtual-helpdesk@googlegroups.com

[2020-07-04 07:26] hao-fang commented on #408
we should be able to ask authors to create PR in a separate repo, which auto publish to github.io. Then the main website should point to that repo to retrieve images.

[2020-07-04 07:28] #397 closed

[2020-07-04 07:28] hao-fang commented on #420
it seems to happen only on this paper... probably it's title is special?

[2020-07-04 07:54] hao-fang commented on #393
@sanxing-chen  @clefourrier If you choose sort by `activity`, should it always put the most recent updated channels on top? Sorry I may have misunderstood this ..

[2020-07-04 08:02] clefourrier commented on #393
@hao-fang The problem is that the server seems to "check" on each channel (by reordering them) even when no new activity happened.

[2020-07-04 08:16] tlikhit commented on #370
#442 should fix this. Sorry, I couldn't debug properly earlier because all embeds were buffering for me. Also, would you prefer to not collapse the first video before starting another?

[2020-07-04 08:34] ozancaglayan commented on #414
Is it only me who can't login to RocketChat at all? It says, "Login with your ACL2020 account" and when I click, the throbber spins a bit and stops, and that's all.

[2020-07-04 08:40] ozancaglayan commented on #373
The link to `Audio-Visual Understanding of Passenger Intents for In-Cabin Conversational Agents` talk at https://virtual.acl2020.org/workshop_W1.html is wrong, i.e. it opens another talk. The link below from the google sheets is correct:

https://slideslive.com/38931265/audiovisual-understanding-of-passenger-intents-for-incabin-conversational-agents

[2020-07-04 08:50] hao-fang commented on #414
@ozancaglayan Can you try below?

![image](https://user-images.githubusercontent.com/9957482/86508898-a3dbef80-bd98-11ea-9f27-86eefa8328c2.png)
We have added this to https://virtual.acl2020.org/about.html.

[2020-07-04 09:01] ozancaglayan commented on #414
Ok, sorry, I did disable Ad-blocker but did not notice that this required enabling cookies which are marked to be "tracking cookies". Thanks.

[2020-07-04 09:07] hao-fang commented on #393
@clefourrier I see. I think I know why this happens. I have hide all system messages (e.g., new user joins a channel) but the RocketChat must have treated those system messages as new activity. So it keeps shuffle the list.

I have now make the "default user preference" to be sort by alphabetical. Hope this will help new users.
![image](https://user-images.githubusercontent.com/9957482/86509172-d8

[2020-07-04 14:49] anaerobeth commented on #427
@hao-fang I can pick up this task

[2020-07-04 17:16] anaerobeth commented on #404
Fixed

[2020-07-04 17:16] #404 closed

[2020-07-04 18:38] raosudha89 commented on #338
We now have the this information from Jarda: https://docs.google.com/spreadsheets/d/1qsbgQ2fc1klwfn35NU3XROHIdfEwdGJOBiEqOO5RDQA/edit#gid=0

I will work on updating this.

[2020-07-04 20:42] raosudha89 opened #448 "[W7] Update timing and add zoom link to keynote"
W7 organizer says:

There are three issues with the schedule and the workshop page on the
ACL virtual conference website:

1. We have an invited talk at 2pm, which we run as a separate zoom
session ourselves and it would need to be listed on the workshop's
virtual page (so that people know that it's happening and how to
access it; see below).

2. The current end time of the workshop listed on the

[2020-07-04 20:43] raosudha89 opened #449 "[T8] Update slides"
Dear tutorial chairs,

Can you help us remove the "slides" link from our website ASAP (see the screenshot):
https://virtual.acl2020.org/tutorial_T8.html
It is only linked to a 2-page version and I start receiving messages about this. I already uploaded all the slides to the Github link: https://github.com/danqi/acl2020-openqa-tutorial so removing it is better.

One quick thing - I wonder if we can

[2020-07-04 20:44] raosudha89 opened #450 "[T6] Remove slides link"
Dear Sudha and Zizhe,

The teachers of T6 would like not to display their slide in the webpage but to just keep the link to their websides (updated versions of their slides are there).

Many thanks!

Yue and Agata

[2020-07-04 20:57] jowagner opened #451 "paper image not taken from paper and shows a CRF layer not present in the system discussed"
The image shown for my paper "Treebank Embedding Vectors ..." on https://virtual.acl2020.org/papers.html uses an image that is not in my paper and shows a CRF layer not present in the system discussed. I checked 3 random papers and they use material from the respective papers. Something seems to be wrong with the image selection process.

As a workaround, it would be nice to provide a function for

[2020-07-04 21:54] raosudha89 opened #453 "Subcommittees on organizers tab"
Request from D&I chairs

A thought - and sorry to ask about this now: Might it be possible to acknowledge subcommittee co-chairs in the Organizers tab
(https://virtual.acl2020.org/organizers.html)?
We realize it is too late to add photos etc. and that there is limited bandwidth for updates. There is an existing listing on acl2020.org for D&I subcommittee co-chairs (also for the Senior Program Comm

[2020-07-04 21:56] raosudha89 opened #454 "Update socials on schedule page"
Here are the sessions along with the timeslots.
S3: 1-2pm PDT on July 6
S4: 10-11pm PDT on July 6
S5: 11am-Noon PDT on July 7
S6: 1-2pm PDT on July 7

You can just call them Birds of a Feather (Session number).

[2020-07-04 21:58] prabhat1081 commented on #454
@raosudha89  PR for the update: https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/190

[2020-07-04 22:00] raosudha89 commented on #454
Thanks @prabhat1081  Merged.

[2020-07-04 22:00] #454 closed

[2020-07-04 22:05] raosudha89 opened #455 "[T3] Add material"
There is another request to complete the T3 material. Could the 3 pdf files with exercises from here:
https://drive.google.com/drive/folders/1YySOUHo5Ae5Efi33SF0ffP5dsIp6NEM_?usp=sharing
be uploaded and linked from the tutorial page,

[2020-07-04 22:13] raosudha89 opened #456 "Convert workshops.csv to workshops.yml file"
It is easier to edit yml files than csv. See how this was done for tutorials.yml

[2020-07-04 23:25] raosudha89 commented on #338
This is done  now.

[2020-07-04 23:25] #338 closed

[2020-07-05 00:17] #370 closed

[2020-07-05 00:28] anaerobeth commented on #456
@raosudha89 I can pick up this task.

[2020-07-05 00:43] danqi commented on #449
@raosudha89 Thank you so much for the help!

This looks great!  Can you maybe also help us add one more speaker column?

The order of the 8 parts are:
Danqi Chen
Scott Yih
Scott Yih
Danqi Chen
Danqi Chen
Danqi Chen
Scott Yih
Scott Yih

[2020-07-05 00:46] #455 closed

[2020-07-05 00:47] #450 closed

[2020-07-05 00:55] raosudha89 commented on #449
Done. This is should be reflected upon today's website release.

![image](https://user-images.githubusercontent.com/7291397/86523320-78501800-be1f-11ea-9029-ebb41f73a8d6.png)

[2020-07-05 00:55] #449 closed

[2020-07-05 01:01] #373 closed

[2020-07-05 01:02] raosudha89 commented on #339
Zoom links have been added.

Jarda said livestream IDs will be added soon here https://docs.google.com/spreadsheets/d/1BbjMuZyROC973mukGks45h4bwZwDziJmv8B1RNLfz1Q/edit#gid=1713259850

[2020-07-05 01:05] raosudha89 opened #463 "Display CART captions for plenary Q+As"
From Caption Chairs:

we think the better solution is to add the iframe code under the Livestream video, either above or to the side of the Live Chat. We recommend reducing the default font size to 24 or so (replacing “fs=48” to “fs=24”) in the code in the iframe (default font size is larger than other font sizes on the website) and the iframe width and height can also be changed in the code.

As

[2020-07-05 01:06] raosudha89 commented on #456
@anaerobeth  Thanks!

[2020-07-05 01:09] #427 closed

[2020-07-05 01:29] raosudha89 commented on #371
@tlikhit  When you add the detailed schedule of W7, can you check this https://github.com/acl-org/acl-2020-virtual-conference/issues/448 ?

Their last keynote has a separate zoom link that we need to post in the schedule.

[2020-07-05 01:53] #451 closed

[2020-07-05 02:01] #393 closed

[2020-07-05 02:38] #396 closed

[2020-07-05 02:59] emilymbender opened #465 "Share link to Anthology pages (rather than Anthology pdfs)"
A request that came in over Twitter:

Brilliant thx. Any chance it would be easy to add a share option on the virtual site that can be used to copy title plus anthology link for pasting elsewhere? Current link is great but goes to the PDF instead of the corresponding web page.
https://twitter.com/benhachey/status/1279609714758660096

[2020-07-05 03:00] emilymbender commented on #465
I replied:

I will forward the suggestion. Meanwhile, you can easily get to the Anthology pages by just removing the .pdf at the end of the URL.

[2020-07-05 03:02] hao-fang commented on #463
Would be nice to do something based on this PR https://github.com/acl-org/acl-2020-virtual-conference/pull/466
* By default "hide/header"
* Change the "Caption" button to be "Show/Hide Caption".

[2020-07-05 05:04] #424 closed

[2020-07-05 05:05] #420 closed

[2020-07-05 05:05] #407 closed

[2020-07-05 06:15] ranyd18 opened #469 "Wrong Author Order in the Pre-record Talk"
Zhepei Wei reported through acl2020-virtual-helpdesk google group that in the extra preface added to the slides where the title and authors are presented, the order of authors is wrong.

The correct order should be as below:

Zhepei Wei, Jianlin Su, Yue Wang, Yuan Tian, Yi Chang

[2020-07-05 06:28] americast opened #472 "Fix presenter name in SocialNLP virtual site"
Hi everyone,

  The presenter name for the paper `NARMADA: Need and Available Resource Managing Assistant for Disasters and Adversities` in `W17: Natural Language Processing for Social Media (SocialNLP)` needs to be changed to `Sayan Sinha`. It would be great if this could be addressed quickly.

Link: https://virtual.acl2020.org/workshop_W17.html#

@raosudha89 Given that I am also a volunteer, I a

[2020-07-05 06:32] americast commented on #469
I believe SlidesLive has kept the author names in lexicographical order in the preface slide for all the presentations. :confused:

[2020-07-05 06:41] savary opened #476 "Schedule time zone adjustment doesn't hold when switching pages"
A tutorial teacher signaled that when the timezone is adjusted here:
https://virtual.acl2020.org/schedule.html
and then we go to the tutorial page:
https://virtual.acl2020.org/tutorials.html
the timezone is again local (not adjusted).

[2020-07-05 06:43] ranyd18 commented on #469
Hello Sayan,

Thanks for the reply. Is there any way we could change it? If not, i will
get back to the author who reported this issue.

Best,
Yiding

On Sun, Jul 5, 2020 at 2:32 PM Sayan Sinha <notifications@github.com> wrote:

[2020-07-05 06:52] americast commented on #469
Hi @ranyd18! I don't think we can make the change by issuing any patch in this repo. We would have to contact SlidesLive to make the change from their end. He has been contacted on chat, so let's hope this issue gets resolved soon! :smiley:

[2020-07-05 06:53] ranyd18 commented on #469
Hello Sayan,

Thanks for the prompt response! I will update the authors with this
information.

Best,
Yiding

On Sun, Jul 5, 2020 at 2:52 PM Sayan Sinha <notifications@github.com> wrote:

[2020-07-05 07:06] #469 closed

[2020-07-05 08:14] hao-fang commented on #472
@americast I have just granted you the access to both repos. Please submit a PR to fix https://github.com/acl-org/acl-2020-virtual-conference-sitedata/blob/master/w17_papers.csv

See [here](https://github.com/acl-org/acl-2020-virtual-conference/blob/master/CONTRIBUTING-ACL2020.md#how-to-create-a-pull-request-for-the-website-acl-2020-virtual-conference-and-the-data-sitedata_acl2020) for instruction

[2020-07-05 08:39] kaagithub opened #478 "Tutorial #3 (reviewing): adding material (pdf files)"
Hi,
We need our material to be on the web site ASAP!
[Paper42_Reviews.pdf](https://github.com/acl-org/acl-2020-virtual-conference/files/4874615/Paper42_Reviews.pdf)
[Paper42.pdf](https://github.com/acl-org/acl-2020-virtual-conference/files/4874616/Paper42.pdf)

[2020-07-05 10:26] savary opened #481 "Add link to the tutorial modalities"
Please, add the link to this new post:
https://acl2020.org/blog/detailed-modalities-of-tutorials/
from two tutorial pages:
https://acl2020.org/program/tutorials/
https://virtual.acl2020.org/tutorials.html
Thanks!

[2020-07-05 10:40] americast commented on #472
Thanks @hao-fang! I just sent a patch. I shall send another PR in this repo updating the submodule when it gets approved and merged.

[2020-07-05 14:08] raosudha89 commented on #481
Hi Agata,

We have added it here https://acl2020.org/program/tutorials/

We couldn't add it in time for our yesterday's release of the virtual website. So as a workaround, I added a link to the new blog post in the [old blog post](https://acl2020.org/blog/intro-to-tutorial-infrastructure/) that is linked on https://virtual.acl2020.org/tutorials.html

[2020-07-05 14:09] raosudha89 commented on #478
It has been added under 'Slides' of https://virtual.acl2020.org/tutorial_T3.html

[2020-07-05 14:11] raosudha89 commented on #476
The timezone change has to be done on each page separately. As of now we don't have the feature to get the change reflected on other pages.

[2020-07-05 14:22] SebastinSanty commented on #415
Fixed in #468

[2020-07-05 14:22] #415 closed

[2020-07-05 14:40] raosudha89 commented on #472
@americast  I have merged your PR https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/198

[2020-07-05 15:01] hao-fang opened #483 "Update abstract for paper_main.415"
https://acl2020.rocket.chat/channel/presenter-helpdesk?msg=ojJGg6TF4kZB9DcDA

[2020-07-05 15:44] savary commented on #481
Sure, thanks!

[2020-07-05 15:44] #481 closed

[2020-07-05 15:46] savary commented on #478
I see. "Exercises" would be a more accurate title than "Slides". But I'll tell the authors that the link is there.
Thanks!

[2020-07-05 15:51] savary commented on #476
Sure. Thanks anyway!

[2020-07-05 15:51] #476 closed

[2020-07-05 16:32] ananyaganesh commented on #463
Thank you for implementing this!

Note: `event=ACSDEMO` should be changed to `event=ACLCONFERENCE` for live captions.

Also, would it be possible to display the following text in a sidebar on the webpage where the livestream for plenary sessions will be played?

[2020-07-05 16:41] raosudha89 opened #485 "[Paper] Wrong author info in video thumbnails"
I am Manling, an author of main conference paper (submission #47, webpage https://virtual.acl2020.org/paper_main.230.html). It seems that the author order in the video thumbnails is wrong. Our author order is `Manling Li, Alireza Zareian, Qi Zeng, Spencer Whitehead, Di Lu, Heng Ji, Shih-Fu Chang`. By any chance, is it possible to update to the correct author order? Thank you so much!

[2020-07-05 17:27] Shashi456 opened #486 "Problem with calendar ics files in Safari"
Hi, I think there might be some problem with the calendar ics file for the paper QA sessions. For example, an event is on 09:00-10:00 GMT / 11:00-12:00 CEST according to the webpage, and my time zone is CEST (2 hours ahead of GMT/UTC), the downloaded ics file has the attribute DTSTART:20200706T110000Z, with the suffix "Z" meaning the UTC time, so it ends up with 13:00-14:00 in my calendar.
[Report

[2020-07-05 17:28] raosudha89 opened #487 "[W14] Update organizers list"
Hi All - somehow, one of the co-chairs for W14 - SIGMORPHON was left off the workshop description - Our three organizers are myself, Kyle Gorman, and Ryan Cotterell, but Ryan's name doesn't appear.  If someone could please fix that, it would be appreciated.  Thank you!

Garrett Nicolai

[2020-07-05 17:41] raosudha89 commented on #478
We can update it in tonight's release. But yes, for now, please let authors know. Thanks.

[2020-07-05 17:54] raosudha89 opened #488 "[W5] Update speaker name"
Hi Sudha, Hao,

One of our presenters informed us that the listing on the schedule of W-5 FEVER shows the wrong speaker. For the paper "Simple Compounded-Label Training for Fact Extraction and Verification" (https://slideslive.com/38929663; ID 9 in the spreadsheet) show Yixin Nie as the speaker, but it should be Lisa Bauer. I have made the change in the spreadsheet - would it be possible to change

[2020-07-05 18:18] eric-xw opened #489 "[W9] add the workshop schedule and the external zoom link"
Hi,

We noticed that the schedule of the ALVR workshop (W9) is not listed on https://virtual.acl2020.org/workshop_W9.html. Can you help fix it? The correct schedule of W9 is here: https://docs.google.com/spreadsheets/d/1BbjMuZyROC973mukGks45h4bwZwDziJmv8B1RNLfz1Q/edit#gid=1498765767.

By the way, we will have a poster session for QA and use our own zoom link for that as suggested. Below is the zoo

[2020-07-05 18:19] vinodkpg opened #490 "Updating authors of D&I Financial Access blog post"
Hi Sudha & Yizhe (or others),

Could you please update the author line of ACL D&I financial subcommittee efforts as follows (preferably in two lines):

D&I Financial Access Chairs
Tirthankar Ghosal, Allyson Ettinger & Ryan Georgi

Here's the blog link:
https://acl2020.org/blog/increasing-financial-accessibility/

Also, if possible, please correct the short note on the main acl2020 page:
"July 4, 2

[2020-07-05 19:26] #472 closed

[2020-07-05 20:50] marcellofederico opened #491 "W2: IWSLT - Schedule to be fixed"
The schedule needs to be fixed as follows:
Time (PDT) | Event | Speakers
July 9, 9:00 AM-9:15 AM | Foreword/Introduction | Marcello Federico/Alex Waibel
July 9, 9:15 AM-10:15 AM | Keynote + Q&A | Klaus Welle
July 9, 10:15 AM-11:15 AM | Findings of IWSLT 2020 +Q&A | Sebastian Stüker et al.
July 9, 11:30 PM-12:30 PM | Panel Offline Speech Translation | Marco Turchi et al.
July 9, 12:30 PM-1:30 PM |

[2020-07-05 21:24] anaerobeth commented on #488
@raosudha89 I can do this update

[2020-07-05 21:25] hao-fang opened #492 "Update main.415 abstract"
https://acl2020.rocket.chat/channel/presenter-helpdesk?msg=ojJGg6TF4kZB9DcDA

[2020-07-05 21:40] anaerobeth commented on #487
@raosudha89 I can do this update

[2020-07-05 21:46] anaerobeth commented on #492
@hao-fang I can do this update

[2020-07-05 22:06] GuyAglionby commented on #486
The only session on 6 July 9-10am GMT is session 2B - I downloaded the .ics for [this paper](https://virtual.acl2020.org/paper_main.157.html) and can't replicate the issue:

[code]

Do you know which paper the user was having trouble with in particular?

[2020-07-05 22:45] sanxing-chen opened #493 "[Websites] Detailed info for each social event session in the calendar"
Currently, the calendar only shows "Birds of a feather - session n", clicking on the item brings the user to a page contains all the social events which will take more effort to find the specific session again.

@raosudha89 @dreasysnail @hao-fang @tlikhit can you please help evaluate this issue?

![image](https://user-images.githubusercontent.com/18565449/86543754-7190d600-beef-11ea-8965-9fc93d6c0

[2020-07-05 22:50] #463 closed

[2020-07-05 23:54] raosudha89 opened #496 "Replace blue zoom icon with 'Join Zoom Meeting'"
Several tutorial attendees had trouble find the zoom link. They did not know that the blue icon besides the live session timing corresponds to the zoom link. I wonder if we should replace all blue icons with 'Join Zoom Meeting' ? i.e. in paper pages and workshop pages?

[2020-07-05 23:59] raosudha89 commented on #491
Thanks @GuyAglionby

@marcellofederico  This has been fixed. It will be reflected after tonight's release.

[2020-07-05 23:59] #491 closed

[2020-07-06 00:00] #492 closed

[2020-07-06 00:00] raosudha89 commented on #492
Thanks @anaerobeth

[2020-07-06 00:02] raosudha89 commented on #488
Thanks @anaerobeth

[2020-07-06 00:02] #488 closed

[2020-07-06 00:03] raosudha89 commented on #487
Thanks @anaerobeth

[2020-07-06 00:03] #487 closed

[2020-07-06 00:14] raosudha89 commented on #490
Done https://acl2020.org/blog/increasing-financial-accessibility/

[2020-07-06 00:14] #490 closed

[2020-07-06 00:34] hao-fang commented on #496
Done with #498

[2020-07-06 00:34] #496 closed

[2020-07-06 00:36] hao-fang commented on #485
See [this](https://acl2020.rocket.chat/channel/announcements?msg=wzgBhNbPSSSMRXNFY).

We can probably add a sentence in the paper page.

[2020-07-06 00:37] #408 closed

[2020-07-06 00:38] hao-fang commented on #408
Authors can now update the pictures by creating a PR in https://github.com/acl-org/acl-2020-virtual-conference-images

[2020-07-06 00:43] hao-fang opened #499 "[Enhancement] Add a read-only channel for each paper"
It might be interesting if we can have a way to let people "react" to a video.
Here is a rough idea.
We can create a read-only channel (but allow people to react) for each paper, and use the acl2020-admin-bot to post a message like "If you like this video, feel free to click the ❤️ ".
Then we just embed this read-only channel somewhere in the paper page.

[2020-07-06 02:51] hao-fang opened #500 "Use GMT in Socials and add local timezone"
See #484 for adding the local timezone feature.
But I would like to change the sitedata_acl2020 to use GMT by default everywhere in the website.

[2020-07-06 03:33] ddemner opened #502 "[W-4] missing Olga Kovaleva pre-recorded talk"
Olga Kovaleva recorded her BioNLP talk (#16 Towards Visual Dialogue for Radiology), but it is not on the workshop page.

[2020-07-06 04:07] sanxing-chen opened #503 "[Website] Invalid link on paper visualization page"
Paper links on the right-hand side of the paper [visualization page](https://virtual.acl2020.org/papers_vis.html) are all invalid now. This is probably a regression.

@raosudha89 @dreasysnail @hao-fang @tlikhit can you please help evaluate this issue?

![image](https://user-images.githubusercontent.com/18565449/86554769-86379300-bf1c-11ea-8af0-34c8dafdd1bc.png)
![image](https://user-images.githubu

[2020-07-06 04:51] hao-fang commented on #503
@sanxing-chen I'm going to take a look now

[2020-07-06 04:55] #503 closed

[2020-07-06 04:55] hao-fang commented on #503
Resolved with #504

[2020-07-06 04:59] hao-fang commented on #483
Close with https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/201

[2020-07-06 04:59] #483 closed

[2020-07-06 05:13] #478 closed

[2020-07-06 05:14] #414 closed

[2020-07-06 05:19] raosudha89 commented on #489
The workshop schedule has been added - https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/203

The zoom link is still to be added.

[2020-07-06 05:28] #439 closed

[2020-07-06 05:30] raosudha89 commented on #448
The workshop schedule has been added - acl-org/acl-2020-virtual-conference-sitedata#203

The zoom link is still to be added.

[2020-07-06 05:32] raosudha89 commented on #371
W7 to W19 (bar W15 since it has some discrepancies) have been added https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/203

[2020-07-06 05:35] raosudha89 commented on #502
We didn't get Olga's talk ID from slideslive. Please check tab W4 in [this spreadsheet](https://docs.google.com/spreadsheets/d/1mnkvwYGcramosUflCRlVdgzUPIUSfkqUDpDTa5Faslg/edit#gid=747737888)

Can you contact slideslive and ask why Olga's talk is missing from this sheet?

[2020-07-06 05:37] #485 closed

[2020-07-06 05:41] #456 closed

[2020-07-06 07:15] EggplantElf opened #509 "[Website] Wrong timezone for ics files in Safari"
Hi, I think there might be some problem with the calendar ics file for the paper QA sessions. For example, an event is on 09:00-10:00 GMT / 11:00-12:00 CEST according to the webpage, and my time zone is CEST (2 hours ahead of GMT/UTC), the downloaded ics file has the attribute DTSTART:20200706T110000Z, with the suffix "Z" meaning the UTC time, so it ends up with 13:00-14:00 in my calendar.

This p

[2020-07-06 07:19] Shashi456 commented on #486
Related issue #509

[2020-07-06 07:47] vinodkpg commented on #490
Sudha, so sorry to open this again. We found an error in the blog post; since it concerns the Sponsors, we want to fix it ASAP. Could you please change in the last para:

"financial subsidies to more than 80 conference participants." --->  "financial subsidies to more than 80 conference participants and writing support to over a thousand authors."

I have also updated the original doc here, if you

[2020-07-06 07:51] vinodkpg opened #511 "Another (URGENT; sorry!) update to Financial Access blog post"
Sudha,

So sorry to do this again. We found an error in the blog post: https://acl2020.org/blog/increasing-financial-accessibility/. Since it concerns the Sponsors, we want to fix it ASAP. Could you please make the following change in the last para:

"financial subsidies to more than 80 conference participants." ---> "financial subsidies to more than 80 conference participants and writing support

[2020-07-06 08:15] Shashi456 commented on #486
https://virtual.acl2020.org/paper_main.154.html
- Dirk hovy

[2020-07-06 08:41] #500 closed

[2020-07-06 09:18] kverspoor opened #514 "[W20] Late pre-recorded presentations?"
Due to our process, we are currently making final decisions about presentations in the workshop. I understand that we have long missed the deadline so am looking for best practice advice about the presentations currently being prepared.

I'm wondering whether it is still at all possible to use the SlidesLive platform to pre-record the presentations, or whether we should simply ask the presenters t

[2020-07-06 11:38] eshutova commented on #448
Hi Soudha,

Thanks a lot for adding the schedule! Two issues:

1. The keynote at 2pm is still not there.
2. At the bottom of the schedule, there is a link to livestream, which points to some NeuroIPS 2019 presentation. So I guess there is typo in some link.

Thanks a lot!
Katia

[2020-07-06 11:49] emilymbender opened #515 "Fix title of PCC presentation in business meeting"
Hi!

On https://virtual.acl2020.org/plenary_session_business_meeting.html the title of the PCC presentation should be "Report of the Professional Conduct Committee" (not what's currently there "Report of Professional Code of Conduct").  Thanks!

Emily

[2020-07-06 11:55] emilymbender commented on #515
I see that this slideslive page has the same problem https://slideslive.com/38929526/professional-conduct-committee-cochairs-report-to-acl-2020-business-meeting

[2020-07-06 12:53] ariepratama opened #516 "[Website] Slidelive Embedded video on all pages Cannot be displayed"
**Description**
Prior to this the slidelive embedded video should show in each paper. But now it's empty.

![image](https://user-images.githubusercontent.com/4386182/86593826-8f7e3980-bfc8-11ea-8068-bace27e213d7.png)

some clues in my console
![image](https://user-images.githubusercontent.com/4386182/86594946-83937700-bfca-11ea-955c-3a220ab95dbe.png)

**Expectation**
Embeded video should be shown

[2020-07-06 13:00] americast opened #517 "Incorrect Link in Demo Paper 50"
From Rocketchat https://acl2020.rocket.chat/channel/helpdesk?msg=dyTjtLnYsQ3Y2oQQY

The link for this demo paper is unfortunately wrong — https://virtual.acl2020.org/paper_demo.90.html. It links to https://syntaxgym.org but should be http://syntaxgym.org.

I shall provide a quick fix for this.

[2020-07-06 13:18] ariepratama commented on #516
hmm it seems JS error from Slideslive side?

[2020-07-06 13:49] #516 closed

[2020-07-06 14:14] anaerobeth commented on #345
@SushantKafle There is no information available for the images so we can only add something generic like "A representative figure from paper ..."

<img width="848" alt="Screen Shot 2020-07-06 at 10 11 30 AM" src="https://user-images.githubusercontent.com/3663322/86602927-5e264f00-bf71-11ea-8450-03be1e45b6f8.png">

[2020-07-06 14:18] anaerobeth commented on #345
@SushantKafle Let me know if the commit referenced above works and I will open a PR. Thanks.

[2020-07-06 14:19] karakiz opened #521 "Issue with Demo Paper 69 link"
The authors of the  demo paper 69:
https://virtual.acl2020.org/paper_demo.69.html
Says that the link to their demo is wrong.
The issue is the HTTPS header actually, they need to change it from HTTPS:// to HTTP://.

The correct link to their demo is: http://syntagnet.org/
Can you change it?

[2020-07-06 14:26] ariepratama commented on #517
@americast this PR causes error when building locally

[code]

will it ok on production side? just confirming

[2020-07-06 14:29] americast commented on #517
Hi @ariepratama,

  Thanks a lot for response. This has been taken care of in https://github.com/acl-org/acl-2020-virtual-conference/pull/519/commits/5d6d9d11eeb269621d90a0bc196e1f3cc04b43de.

Thanks again! :smile:

[2020-07-06 14:29] #517 closed

[2020-07-06 15:08] anaerobeth commented on #346
@SushantKafle I added aria-hidden="true" to the spans containing the brackets. If you would like to test the referenced branch with those changes to confirm they work with various screen readers, I'll be happy to open a PR. Thanks.

[2020-07-06 15:21] americast opened #522 "W10 session 3 date error"
The date for workshop 10 session 3 should be July 10, and not July 9.

Ref: https://virtual.acl2020.org/workshop_W10.html

[2020-07-06 17:26] tlikhit commented on #522
@americast Could you tell me the source? Just confirming because the workshop's website lists it to be on the 9th: https://sites.google.com/view/repl4nlp2020/schedule?authuser=0

[2020-07-06 17:34] tlikhit opened #523 "Paper 211 has wrong category"

[2020-07-06 17:50] raosudha89 commented on #514
@kverspoor  This is a question for SlidesLive. Although at this point, given all the different things they are managing, it may be hard for them to get this done in time. So if the presenter is okay with live sharing during zoom session, that might be the easiest at this point.

If the presenter really prefers to pre-record, then please do the following:

1. Email Jarda at (jarda@slideslive.com) a

[2020-07-06 17:55] hao-fang commented on #523
I replied https://acl2020.rocket.chat/channel/helpdesk?msg=WCJrZ2jzjwwojdEWu

We can re-open after the authors have confirmed with PCs.

[2020-07-06 17:55] #523 closed

[2020-07-06 17:56] raosudha89 commented on #522
@americast  You are right. The last session day should be July 10 (since we are using GMT to define the day and under PDT we have said -1d, see below).

Live Session 3: July 9 (00:00-03:00 GMT / 17:00-20:00 PDT -1d)

I will fix this in the release going in tonight. Thanks for catching this.

[2020-07-06 17:59] tlikhit commented on #522
Oh I thought you were referring to Session 3 under detailed schedule. You're right, thanks for catching this!

[2020-07-06 17:59] hao-fang commented on #521
Resolved with  acl-org/acl-2020-virtual-conference-sitedata#215. Will be released by tonight.

[2020-07-06 17:59] #521 closed

[2020-07-06 18:00] hao-fang commented on #515
Resolved by #212. Will release by tonight.

[2020-07-06 18:00] #515 closed

[2020-07-06 18:07] raosudha89 opened #525 "FAQ update"
From Dan:

I think we should add a sentence to the FAQ saying the following: "ACL will not be archiving any of the RocketChat threads, so if there is information there you want to keep, make sure to do so before the end of the conference.  For the many good suggestions for conference organization that are coming up on RocketChat, we'll have a survey at the end of the conference, and you should giv

[2020-07-06 18:11] americast commented on #522
@raosudha89 Yes, the `.csv` files are already updated in the repo, but the `.yml` file needs a fix. I have created a branch https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/216 with a fix but we might need to incorporate localisation.

@tlikhit Yes, you may refer to https://acl2020.org/assets/pdfs/conference-handbook/handbook_UTC+0.pdf for times in GMT.

[2020-07-06 18:27] raosudha89 commented on #448
1. @tlikhit  Can you fix this? We need to include the last keynote from 2pm-3pm as stated here https://sites.google.com/view/figlang2020/workshop-program?authuser=0

2. @eshutova   We are yet to receive the livestream ID for workshops from SlidesLive. Right now the link included is a placeholder. It will be fixed once SlidesLive give us the ID. Please follow https://github.com/acl-org/acl-2020-vir

[2020-07-06 18:35] raosudha89 commented on #511
@vinodkpg  I have updated the text in the blog https://acl2020.org/blog/increasing-financial-accessibility/

I can't seem to figure out how to reduce the gap. But hopefully the 'Figure 1' and "Figure 2" in the beginning of the caption will help people know which caption is for which image. Sorry about this. Only if I had more time.. :)

[2020-07-06 18:36] #511 closed

[2020-07-06 18:58] vinodkpg commented on #511
Thanks a million, Sudha!!! Don't worry about the Figure captions :)

[2020-07-06 19:08] raosudha89 commented on #522
I implemented a dirty fix to temporarily fix times of W10 (and W20 which had a similar issue) : https://github.com/acl-org/acl-2020-virtual-conference/pull/527

But someone with a better understanding of add_local_tz function (https://github.com/acl-org/acl-2020-virtual-conference/blob/master/static/js/time-extend.js) should do a better fix.

[2020-07-06 20:07] hao-fang opened #528 "Add a red line to the calendar to indicate current time"
https://acl2020.rocket.chat/channel/helpdesk?msg=4nfvKEuXTbQZaXcM5

[2020-07-06 20:09] hao-fang opened #529 "Export the Calendar to Google Calendar etc"
https://acl2020.rocket.chat/channel/helpdesk?msg=6SwGEM2jr4tG99HYZ

[2020-07-06 20:34] GuyAglionby commented on #522
The date is processed separately to the time for workshops - the code assumes all sessions are on the same day (see [here](https://github.com/acl-org/acl-2020-virtual-conference/blob/93564f2580052b059cd8ceb2f41c9750b2a197d9/miniconf/load_site_data.py#L570)), and only uses the individual sessions in `workshop.yml` to [extract the GMT time](https://github.com/acl-org/acl-2020-virtual-conference/blob

[2020-07-06 20:57] #528 closed

[2020-07-06 21:32] #525 closed

[2020-07-06 21:33] hao-fang commented on #486
Copied from #509

[2020-07-06 21:33] hao-fang commented on #509
Duplicated with #486

[2020-07-06 21:33] #509 closed

[2020-07-06 21:37] hao-fang opened #534 "Use same timezone localization code for workshops"
We should be consistent with tutorials/plenary/socials/papers.

[2020-07-06 21:37] hao-fang commented on #522
I created a new issue #534

[2020-07-06 21:37] #522 closed

[2020-07-06 21:56] #453 closed

[2020-07-06 23:32] parry2403 opened #536 "Update and Add NLPMC schedule"
We have updated the spreadsheet but it has not been updated on the website.

https://docs.google.com/spreadsheets/d/1BbjMuZyROC973mukGks45h4bwZwDziJmv8B1RNLfz1Q/edit#gid=646602401

https://virtual.acl2020.org/workshop_W15.html

[2020-07-06 23:53] parry2403 commented on #371
@raosudha89 I have updated the spreadsheet. Can you provide inputs on what is missing for W15 ?
https://docs.google.com/spreadsheets/d/1BbjMuZyROC973mukGks45h4bwZwDziJmv8B1RNLfz1Q/edit#gid=646602401

[2020-07-07 00:07] #534 closed

[2020-07-07 00:18] hao-fang commented on #529
With #531 this is probably not needed anymore

[2020-07-07 00:18] #529 closed

[2020-07-07 00:36] raosudha89 commented on #536
@tlikhit  Can you update the W15 schedule? Thanks

[2020-07-07 00:38] chokkyvista opened #538 "Add Demo link for Demo Paper 58"
Hi, one of the authors here.
Can we add a "Demo" link to our system-demo paper (https://virtual.acl2020.org/paper_demo.58.html) please?
We've just released a demo video for it at https://youtu.be/2he8Jgmjo9M.
Many thanks!

[2020-07-07 01:24] sanxing-chen commented on #538
@raosudha89 Can you please take a look at this, I'm happy to help with PR if you can give me access to the repo. Thanks! (I'm one of the volunteers btw)

[2020-07-07 01:31] hao-fang commented on #538
@sanxing-chen I gave you the access. Please follow instructions here to make your PRs

https://github.com/acl-org/acl-2020-virtual-conference/blob/master/CONTRIBUTING-ACL2020.md#how-to-create-a-pull-request-for-the-website-acl-2020-virtual-conference-and-the-data-sitedata_acl2020

[2020-07-07 01:40] hao-fang commented on #499
Closing this b/c it's too late.
Can suggest this to future conferences.

[2020-07-07 01:40] #499 closed

[2020-07-07 01:44] hao-fang commented on #356
I didn't see a good way to do this b/c it's hard to know the localized time of each session.

People have found some workaround so I'm going to close this.

https://acl2020.rocket.chat/channel/helpdesk?msg=HycNqAGBpyYD5sCX9

or it might be easier to search in the handbook of your time zone https://acl2020.org/participants/

https://acl2020.rocket.chat/channel/helpdesk?msg=PEKKyMtSexenggHxb

[2020-07-07 01:44] #356 closed

[2020-07-07 01:58] raosudha89 commented on #489
@eric-xw  Can you make the zoom link such that no password is required to enter the meeting? We don't display passwords in our interface.

[2020-07-07 02:05] raosudha89 commented on #489
@eric-xw  I just noticed that in the schedule spreadsheet (https://docs.google.com/spreadsheets/d/1BbjMuZyROC973mukGks45h4bwZwDziJmv8B1RNLfz1Q/edit#gid=1498765767), the poster session is already included. This means that the poster session will use the same zoom link that is used for the rest of the live session. You don't need to create a new zoom meeting link.

Only those poster sessions that ha

[2020-07-07 02:11] eric-xw commented on #489
Hi @raosudha89, our poster session dose have multiple parallel tracks, so we will use our own zoom room where breakout rooms are available.

[2020-07-07 02:13] raosudha89 commented on #489
@eric-xw  I see, in that case you will need to ask slideslive to remove that session from their schedule. Because right now they are assuming that session is include in their zoom link.

[2020-07-07 02:14] raosudha89 commented on #489
Also, note that the zoom link that SlidesLive provides can have breakout rooms. Just that they can livestream only the main zoom meeting. They won't be livestreaming the breakout sessions.

[2020-07-07 02:18] eric-xw commented on #489
Oh really? We were told by SlidesLive that we have to use our own Zoom room to host the breakout rooms. Maybe let's keep this one as it was already set up and the instructions were already sent to the paper authors. Thanks.

[2020-07-07 02:22] raosudha89 commented on #489
I see. I think there is some confusion. Okay, we can use this meeting link for your poster session. But can you make the meeting link such that one does not need a password to enter it? We don't display password in our website interface at the moment.

[2020-07-07 02:23] eric-xw commented on #489
Sure. We have turned off the password for the zoom room.

[2020-07-07 02:30] raosudha89 commented on #489
@eric-xw  Great, thanks.

[2020-07-07 02:31] eric-xw commented on #489
Thanks for your help!

[2020-07-07 02:47] #538 closed

[2020-07-07 03:57] abdullah-alnahas opened #542 "[Website] Downloading talk slides"
Some participants are asking whether is it possible to download slides associated with the talks. So, is it possible to do so?

[2020-07-07 04:28] hao-fang commented on #542
@abdullah-alnahas Unfortunately, I don't think it's possible as our infra team doesn't have the access to the uploaded slides.
I suggest them to reach out to the authors for such requests.

(Closing this one now)

[2020-07-07 04:28] #542 closed

[2020-07-07 04:39] hao-fang commented on #493
I think in general we need to improve the socials page / naming. But there is no consistent format / schedule for these events so it becomes a little hard to manage. So I don't have a good suggestion. I'll leave this open though.

For future conferences, we may figure out an easy/automatic way to update the calendar information with dynamically provided schedule from social event organizers.

[2020-07-07 04:42] sanxing-chen commented on #493
The problem is that there aren't even session numbers on the social page, the users can only lookup by time.

[2020-07-07 04:43] tlikhit commented on #536
Closing with https://github.com/acl-org/acl-2020-virtual-conference-sitedata/commit/924d6ec6e9c0c94ec9c4cba460659622650ab76e

[2020-07-07 04:43] americast commented on #522
Cool! But, would advancing the workshop by a minute be a better solution? That would still not be fool-proof however. :thinking:

[2020-07-07 04:44] tlikhit commented on #371
Updated W15. Only W20 remains to be updated now, waiting on the schedule from their end.

[2020-07-07 04:47] parry2403 commented on #371
When will this reflect on the website  ?

[2020-07-07 04:52] tlikhit commented on #371
@parry2403 The website should be updated now!

[2020-07-07 05:05] abdullah-alnahas opened #548 "[Website] Title of "Context-Driven Satirical Headline Generation" is not updated in the anthology"
This paper's title (@ https://www.aclweb.org/anthology/2020.figlang-1.5/) is not updated according to the camera-ready submission.
The updated title is: "Context-Driven Satirical Headline Generation", however, in the anthology and the ACL program an older version of the title is presented, which is "Context-Driven Satirical News Generation".

How to proceed with this?

[2020-07-07 05:22] hao-fang commented on #548
@abdullah-alnahas They need to reach out to acl2020programchairs@gmail.com for such requests.
Our website will be based on the proceedings / Anthology.

[2020-07-07 05:22] #548 closed

[2020-07-07 05:49] hao-fang commented on #493
I see. This needs to be done in two steps.

1. Someone probably needs to add the `name` field to each session based on the time
http://github.com/acl-org/acl-2020-virtual-conference-sitedata/blob/fc69deacb5cf3a02a3bcde1490433afc9c74b9ff/socials.yml#L92-L94 The name should be something live `S-Session 1`, where `S-` is a special prefix for social event sessions.

2. And then update the main repo co

[2020-07-07 07:17] americast opened #550 "Typo in workshop 17"
Correct `Openinig` to `Opening` in https://virtual.acl2020.org/workshop_W17.html

[2020-07-07 07:21] americast commented on #550
Sent a PR in the data repo.

Ref: https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/223

[2020-07-07 10:30] duynht opened #551 "[Website] Video not available for paper_main.45"
The pre-recorded video is not available on both [the virtual conference](https://virtual.acl2020.org/paper_main.45.html) and [SlidesLive](https://slideslive.com/38928694).

@raosudha89 @dreasysnail @hao-fang @tlikhit

[2020-07-07 14:20] hao-fang commented on #551
![image](https://user-images.githubusercontent.com/9957482/86795323-4b1f8780-c022-11ea-9604-b97239ae9c56.png)

[2020-07-07 15:37] #489 closed

[2020-07-07 15:38] #550 closed

[2020-07-07 15:39] raosudha89 commented on #502
Note from Olga about this in relevant email thread:

Thanks for trying to look into the issue, I am not sure what exactly happened, I will just present live.
I appreciate your time!

Closing this.

[2020-07-07 15:39] #502 closed

[2020-07-07 15:40] #448 closed

[2020-07-07 15:48] raosudha89 opened #552 "[FAQ] Add a new FAQ"
Question: "How do I report disrespectful engagement, trolling, or other hostile behavior?"
Answer: "ACL2020 adheres to the ACL Anti-Harassment Policy. Any participant who experiences harassment or
hostile behavior may contact the Professional Conduct Committee (PCC). During Virtual ACL, PCC
members are available most hours through the RocketChat channel #professional-conduct-committee.
Replying to

[2020-07-07 17:03] raosudha89 opened #554 "[BoF] Add session numbers in the social page"
The calendar has session numbers for Birds of a Feather Sessions (like Session 1, Session 2, etc), but the socials page (https://virtual.acl2020.org/socials.html) does not have the numbers.

[2020-07-07 17:21] hao-fang commented on #554
Related: https://github.com/acl-org/acl-2020-virtual-conference/issues/493#issuecomment-654617585

[2020-07-07 19:38] hao-fang opened #556 "[W9] Update schedule"
There is some change on their schedule.

![image](https://user-images.githubusercontent.com/9957482/86833643-a7000580-c04e-11ea-9823-8bf9d16f6af5.png)

[2020-07-07 20:57] oepen opened #557 "IWPT (W6) web page edit"
could you please remove the link to my pre-recorded talk 'Welcome from the IWPT 2020 Programme Committee' from the IWPT main page:

https://virtual.acl2020.org/workshop_W6.html

this pre-recording was only intended as an internal trial and should not have been exposed on the public overview; the current link (to SlidesLive) is not functional.

[2020-07-07 22:05] raosudha89 opened #558 "[W8] workshop schedule update and zoom link"
Hi,

We’ve had some changes to the schedule for W8 – NUSE.  I’ve updated the schedule on the google sheet at https://docs.google.com/spreadsheets/d/1BbjMuZyROC973mukGks45h4bwZwDziJmv8B1RNLfz1Q/edit#gid=225386413.

Can the schedule on the virtual.acl2020 page at https://virtual.acl2020.org/workshop_W8.html be updated per the google sheet?

Also, we’re getting links from presenters for the poster se

[2020-07-07 22:10] raosudha89 opened #559 "[W10] missing papers and keynote for REPL4NLP"
Dear Hao and Sudha,

Can you help us out here? I appreciate you must be really busy but there isn’t long until the workshop and a number of the papers (extended abstracts) are missing from the REPL4NLP website, and the authors are getting understandably upset.

Alex from slideslive confirmed these papers have been edited and are ready on their end, how can we get them on the website

These are the

[2020-07-08 00:40] ariepratama commented on #559
hello @raosudha89 where can I found the presentation id for these papers? or do I need to contact slideslive?

[2020-07-08 01:29] vinodkpg opened #560 "Add tile in Socials page for Black in AI Social"
Hi Sudha/Yizhe/Hao (or anyone else in the virtual infra committee)

Could you please add a new "tile" to the virtual site's Socials page? Black in AI has expressed interest to host a Social at ACL!
It is the first time for ACL and I am excited. Sorry for the short notice, but we would love to have this up on the Socials page asap.

**Title**: Black in AI Social
**Logo**: https://drive.google.com/f

[2020-07-08 02:10] raosudha89 commented on #559
@ariepratama  You can find them here: https://docs.google.com/spreadsheets/d/1mnkvwYGcramosUflCRlVdgzUPIUSfkqUDpDTa5Faslg/edit#gid=2130696280

Will be working on this in the next hour? If yes, please let me know.

We need to add this information in tonight's release. So if you are unavailable to work on this, then I can work on it.

[2020-07-08 02:25] eric-xw commented on #556
@hao-fang Thanks! But it might be better to refer to the schedule on the Google sheet: https://docs.google.com/spreadsheets/d/1BbjMuZyROC973mukGks45h4bwZwDziJmv8B1RNLfz1Q/edit#gid=1498765767.

[2020-07-08 02:27] kverspoor commented on #514
FYI, Jarda has indicated that this can no longer be accommodated, so I think we can close the ticket.

[2020-07-08 02:27] #514 closed

[2020-07-08 02:30] kverspoor opened #561 "[W20] Date/time on the website incorrect"
I see that W20 is now listed as July 10: https://virtual.acl2020.org/workshops.html#tab-july10

We had been told previously it would be July 09, and have been informing presenters as such.
It appears to be shifted by 24 hours: it should be 5:30-9:30pm PDT July 09 (10:30-14:30 AEST on July 10).

[2020-07-08 02:34] raosudha89 commented on #561
@kverspoor  This is indeed a mistake from our end. Thanks for catching this. We will fix this today. Sorry about it.

[2020-07-08 02:36] hao-fang commented on #560
@vinodkpg How long the session should be?

[2020-07-08 03:00] #560 closed

[2020-07-08 03:00] #561 closed

[2020-07-08 03:00] hao-fang commented on #551
![image](https://user-images.githubusercontent.com/9957482/86870051-8b1b5480-c08c-11ea-8937-60a3bf8d9ddd.png)

[2020-07-08 03:00] #551 closed

[2020-07-08 03:09] kverspoor commented on #561
Thanks so much. If you could also remove "Raina MacIntyre" from the Organizers list that would also be appreciated; she is no longer involved. (But this is not critical)

[2020-07-08 03:33] raosudha89 commented on #561
@kverspoor  Sure, we will update the organizers list.

[2020-07-08 03:48] kverspoor commented on #561
It's still showing the incorrect time for me? https://virtual.acl2020.org/workshop_W20.html
(I refreshed and opened a new private window, just in case)

[2020-07-08 03:54] vinodkpg commented on #560
Thanks Hao. I dont see it listed online still --- would it take a while to show?

[2020-07-08 04:04] raosudha89 commented on #558
Schedule has been updated. Waiting for zoom links.

[2020-07-08 04:11] raosudha89 commented on #559
Note: Keynote 4 is not missing: https://virtual.acl2020.org/workshop_W10.html

[2020-07-08 04:18] raosudha89 commented on #559
The missing papers are missing from the [spreadsheet ](https://docs.google.com/spreadsheets/d/1mnkvwYGcramosUflCRlVdgzUPIUSfkqUDpDTa5Faslg/edit#gid=2130696280) as well.  I have emailed SlidesLive about this. We can add them only once the IDs have been added to the spreadsheet.

[2020-07-08 04:19] #557 closed

[2020-07-08 04:46] #552 closed

[2020-07-08 04:47] #371 closed

[2020-07-08 04:56] raosudha89 commented on #561
@kverspoor We are yet to push the changes to the live website. We do this every night. So you will see the changes by late tonight.

Here is how the W20 page will look like after we push the change. And we have removed the July 5/9/10 tabs in the new version since it could be confusing for workshops like W20 which would start on July 9 for say people in Seattle but it will start on July 10 for som

[2020-07-08 05:17] ariepratama commented on #559
@raosudha89 ok will be working in this in a few minutes

[2020-07-08 05:23] hao-fang commented on #561
@kverspoor I just push the new release. It should be updated now.
During the conference time, our website is not updated in real-time because we need to exercise extra carefulness to check all changes does not break any existing pages. Therefore, we only schedule the update every night PST.

[2020-07-08 05:24] hao-fang commented on #560
@vinodkpg I just pushed the new release. It should be updated now.
During the conference time, our website is not updated in real-time because we need to exercise extra carefulness to check all changes does not break any existing pages. Therefore, we only schedule the update every night PST.

[2020-07-08 05:27] kverspoor commented on #561
Makes sense, thanks! Sorry, I misunderstood the previous response.

[2020-07-08 06:22] vinodkpg commented on #560
Oh great, makes sense! Thanks a ton!

Vinodkumar Prabhakaran
Research Scientist
Google, San Francisco.
https://www.cs.stanford.edu/~vinod/

On Tue, Jul 7, 2020 at 10:24 PM Hao Fang <notifications@github.com> wrote:

[2020-07-08 07:11] hao-fang commented on #561
@kverspoor no problem! @raosudha89 did all the work :)

[2020-07-08 07:11] hao-fang commented on #560
@vinodkpg Happy to help :)

[2020-07-08 07:18] #554 closed

[2020-07-08 07:22] hao-fang commented on #465
@emilymbender Thanks for replying the person! I just saw this.
We could add a button to get to the Anthology pages, but there are some CL & TACL papers that do not have Anthology pages right now.

To volunteers: you can probably just add add a link to "Anthology" by simply removing the ".pdf" in the URL, Just need to make sure to check the URL first and only do this for `https://www.aclweb.org/ant

[2020-07-08 07:23] kverspoor opened #569 "[W20]"
Late update of the schedule. So so sorry it is so late but we just made our final decisions ~24 hours ago!

I have added in the schedule to the "ACL 2020 Workshop Information" sheet under W20 tab. Should we update it on the workshop page or how do you want to handle it at this stage?

[2020-07-08 07:36] tlikhit commented on #569
@kverspoor  I will add this onto the workshop page. I see that there are quite a few unlabeled events. Is there any reason you've added only certain events? If not, is it okay if I put in all events mentioned in the detailed spreadsheet? (https://docs.google.com/spreadsheets/d/1eem24ssMD1wzWWBqSrlmqdIoM_0NkeM8UjOKKyu0B2M/edit#gid=0)

[2020-07-08 08:05] #493 closed

[2020-07-08 08:19] tlikhit commented on #569
@kverspoor Okay, I noticed your comment below the doc link and copied everything over. Is it possible to get a timeline for  the closing end time?

[2020-07-08 08:22] kverspoor commented on #569
We will end after the final Q&A, so 21:30

[2020-07-08 08:28] kverspoor commented on #569
Sorry I think I must have two "ACL 2020 Workshop Information" spreadsheets because I put the complete details in a different one. Anyway since you found the source that is fine :)

[2020-07-08 08:35] tlikhit commented on #569
Sorry for being ambiguous. Our default schedule format includes both start and end times for each event. I understand that the spreadsheet only lists the start times for events. I meant to ask about the time the closing concludes (21:30-XX:XX)
<img width="1045" alt="Screen Shot 2020-07-08 at 4 24 32 AM" src="https://user-images.githubusercontent.com/58948612/86895927-30591b80-c0d3-11ea-9bf8-157e93

[2020-07-08 11:41] kverspoor commented on #569
I really meant that we are ending at 21:30. There is no "closing session". So just 21:30-21:30!

Best regards,
Karin

sent from a device that encourages brevity and typos

________________________________
From: tlikhit <notifications@github.com>
Sent: Wednesday, July 8, 2020 6:35:46 PM
To: acl-org/acl-2020-virtual-conference <acl-2020-virtual-conference@noreply.github.com>
Cc: Karin Verspoor <kari

[2020-07-08 13:12] paulomann opened #572 "[Website] Paper with question marks on references"
Hi,

This paper (https://www.aclweb.org/anthology/2020.acl-main.769.pdf) has question marks on references. The author Rabeeh Karimi Mahabadi (@rkarimi) is certain that uploaded the correct version.

Can anyone check on this? Thanks.

@dreasysnail @raosudha89 @hao-fang @tlikhit

[2020-07-08 14:25] hao-fang commented on #572
The authors have reached out to program chairs to correct the Anthology PDF.

[2020-07-08 14:25] #572 closed

[2020-07-08 14:40] raosudha89 commented on #559
@ariepratama  The IDs have been updated in the [spreadsheet ](https://docs.google.com/spreadsheets/d/1mnkvwYGcramosUflCRlVdgzUPIUSfkqUDpDTa5Faslg/edit#gid=2130696280) now. Please use these IDs to update your PR. Thanks.

[2020-07-08 15:01] ariepratama commented on #559
okay!

[2020-07-08 15:11] ariepratama commented on #559
@raosudha89 updated and tested on my local

[2020-07-08 16:31] raosudha89 opened #573 "[W12] Remove live talks under pre-recorded talks list"
From organisers "Another issue we have is that there are links on our website page to the live talks and findings talks. These are not prerecorded so the links don't work. Could they be removed please?"

Action Item:

- Go to the W12 tab in [this spreadsheet](https://docs.google.com/spreadsheets/d/1mnkvwYGcramosUflCRlVdgzUPIUSfkqUDpDTa5Faslg/edit#gid=1444314385)

- Remove talks that have been labe

[2020-07-08 16:34] tlikhit commented on #569
Ah, that makes sense. Thanks!

 😂

[2020-07-08 17:00] raosudha89 opened #575 "[Workshops] Verify zoom links"
- Go to each workshop page. E.g. https://virtual.acl2020.org/workshop_W2.html
- Click on 'Join Zoom Meeting' for each live session (see below)
![image](https://user-images.githubusercontent.com/7291397/86948224-affddf00-c101-11ea-8d88-1b890b50c9e6.png)

- Verify that the zoom meeting opens with the correct meeting name (see below for W2)

![image](https://user-images.githubusercontent.com/7291397/

[2020-07-08 17:26] raosudha89 opened #576 "[Workshops] Verify all pre-recorded talks for July 9"
- Go to each workshop page. E.g. https://virtual.acl2020.org/workshop_W4.html

- Click on each pre-recorded talk and make sure they are visible.

- Verify that talks marked as 'LIVE PRESENTATION' in [livestream schedule spreadsheet](https://docs.google.com/spreadsheets/d/1BbjMuZyROC973mukGks45h4bwZwDziJmv8B1RNLfz1Q/edit#gid=1496320563) do not appear in w_papers.csv since those are not pre-recorded

[2020-07-08 17:28] raosudha89 opened #577 "[W3] Update zoom link"
Update the zoom link for W3 from [livestream spreadsheet](https://docs.google.com/spreadsheets/d/1BbjMuZyROC973mukGks45h4bwZwDziJmv8B1RNLfz1Q/edit#gid=1496320563)

[2020-07-08 17:46] strubell commented on #559
can we please merge these changes asap

[2020-07-08 19:55] raosudha89 opened #578 "[W7] Update name of live session 2"
For W7 FLP: is it possible to update the naming of the Live Session 2 to “Live Session 2: Invited Talk (Marilyn Walker) ” so people know that this is the link to the invited talk? It is very confusing otherwise to what this link refers to.

[2020-07-08 19:58] raosudha89 opened #579 "[FAQ] RocketChat and website availability after conference"
From Dan,

I think we should announce about the rocketchat and also make and announce a decision about the rest of the website. (i.e. something like "The ACL2020 website will remain up for ACL attendees to rewatch any of the conference videos, although the RocketChat and zoom links will be removed  [?on DATE? Friday? Monday?].  The videos will also be uploaded to the ACL Anthology over the next fe

[2020-07-08 20:35] #578 closed

[2020-07-08 20:35] #577 closed

[2020-07-08 20:36] #569 closed

[2020-07-08 20:36] #559 closed

[2020-07-08 20:42] raosudha89 commented on #558
Regarding zoom links: We have asked all workshops to create separate rocketchat channel for each of the workshop papers and post each paper zoom link in the respective paper channel. We advise you to do the same for W8 as well.

[2020-07-08 20:42] #558 closed

[2020-07-08 20:42] #573 closed

[2020-07-08 20:49] raosudha89 commented on #576
- W2 issues
   -  Talk by Enmin Su is just a single slide: https://slideslive.com/38929592/deep-blue-sonics-submission-to-iwslt-2020-open-domain-translation-task

[2020-07-08 20:55] raosudha89 opened #582 "[Workshops] Add full author list under pre-recorded talks"
Currently, for most workshops, only the name of the person who uploaded the final talk is listed under the paper title for each pre-recorded talk.

Go to the paper video and get the full author list and post it below the paper title.

[2020-07-08 21:13] raosudha89 commented on #579
@hao-fang  Do you know the exact details of when will do we plan to remove the links? I can then add the FAQ accordingly.

[2020-07-08 21:16] hao-fang commented on #579
@raosudha89 not yet ... it will take some time to remove these links. maybe we say `by July 25` because our contract with RocketChat ends on that date.

[2020-07-08 21:30] raosudha89 commented on #576
W5 issues:

- Talk Leon Derczynski is just a single slide: https://slideslive.com/38929664/maintaining-quality-in-fever-annotation
- Remove closing remarks since does not appear in schedule

[2020-07-08 21:44] raosudha89 commented on #576
W7 issues:

- Talk is the default slides -- ALBERT-BiLSTM for Sequential Metaphor Detection (Shuqun Li, Jingjie Zeng, Jinhui Zhang, Tao Peng, Liang Yang and Hongfei Lin)  https://slideslive.com/38929718/albertbilstm-for-sequential-metaphor-detection

[2020-07-08 21:44] raosudha89 commented on #576
W8 issues:

- Talk is not recorded -- Toward Narrative Summarization of Simulated Battles (Andrew S. Gordon, Institute for Creative Technologies, University of Southern California) https://slideslive.com/38929733/nuse-toward-narrative-summarization-of-simulated-battles

[2020-07-08 22:09] raosudha89 commented on #576
W9 issues:

- Speaker of 'Extending ImageNet to Arabic using Arabic WordNet' is incorrectly set to the title
- Talk is not recorded -- Invited talk by Louis-Philippe Morency https://slideslive.com/38929763/invited-talk
- Talk is not recorded -- Invited talk by Lucia Specia https://slideslive.com/38929765/invited-talk

[2020-07-08 22:29] raosudha89 commented on #576
W10 issues:

- Talk is not recorded -- Compositionality and Capacity in Emergent Languages (Abhinav Gupta, Cinjon Resnick, Jakob Foerster, Andrew Dai and Kyunghyun Cho) https://slideslive.com/38929771/compositionality-and-capacity-in-emergent-languages

[2020-07-08 22:36] raosudha89 commented on #556
Looks like W9 has been again updated. Lucia Specia instead of Yonaton Bisk -- https://docs.google.com/spreadsheets/d/1BbjMuZyROC973mukGks45h4bwZwDziJmv8B1RNLfz1Q/edit#gid=1498765767

[2020-07-08 22:36] vinodkpg opened #584 "Update to Black in AI Social tile"
Please update the session information in the tile in Black in AI Social in Socials page:

Session A: Jul 10 (14:00-15:30 GMT / 07:00-08:30 PDT)

to

Session A (Fireside chat with Dr. Donia Scott): July 9th (14:00-15:30 GMT / 07:00-08:30 PDT)
Session B (Social) : Jul 10 (14:00-15:30 GMT / 07:00-08:30 PDT)

Thanks a lot!
Vinod

[2020-07-09 01:17] tlikhit commented on #575
I've looked through all meetings and all titles seem to be correct. Some minor comments:
- W9's second session, which goes through UC Berkeley's zoom, doesn't list event information but I'm assuming that the link is correct.
- Session 2 and 3 for W2 and Session 3 for W10 are listed as occurring on 10th July on the websites(GMT) but the zoom links list them as belonging to the "Q&A D5 9th" category

[2020-07-09 03:36] raosudha89 commented on #575
Thanks @tlikhit

- The link is correct and since W2 organizers created it, they should be fine with event information not being listed
- Ya, that is because they are using the same zoom link for all sessions of W2. Since this is managed by SlidesLive, we don't have to worry about it.

Closing this now.

[2020-07-09 03:36] #575 closed

[2020-07-09 03:40] #584 closed

[2020-07-09 03:46] parry2403 commented on #371
Detailed Schedule is not visible again.

[2020-07-09 03:53] parry2403 commented on #536
@tlikhit @raosudha89  Detailed schedule is not visible again for W15.

[2020-07-09 04:01] #556 closed

[2020-07-09 04:05] #576 closed

[2020-07-09 04:06] raosudha89 opened #586 "[Workshops] Verify pre-recorded talks for July 10"
Similar to the one for July 9 https://github.com/acl-org/acl-2020-virtual-conference/issues/576

[2020-07-09 04:11] raosudha89 commented on #579
@hao-fang  Do you think we should add some version of this FAQ in our tonight's release? I know that Joel said they don't have a definite answer as yet. But if you think many people are asking this question, then we can say something without specifying exact dates.

[2020-07-09 04:12] tlikhit commented on #536
Yes, it appears that a later commit reverted some changes. Sorry for the trouble, I will look into this.

[2020-07-09 04:13] tlikhit commented on #536
@raosudha89 It appears that https://github.com/acl-org/acl-2020-virtual-conference-sitedata/commit/afe554d049bf83d9a50ea4d1cdb74598371c9ef8 reverted some changes, including removing W15 data. I will add in W15 data for now and will look through the diff for any other changes.

[2020-07-09 04:13] raosudha89 commented on #586
@tlikhit  Will you be able to work on this sometime early tomorrow? Thanks.

[2020-07-09 04:15] raosudha89 commented on #536
@tlikhit  Oh I am sorry, I don't know how that happened. Thanks for adding it again. Let me know when you do that. I will merge it for tonight's release (scheduled for 11pm PST).

[2020-07-09 04:17] tlikhit commented on #586
@raosudha89 Okay, will do this after re-adding W15 data

[2020-07-09 04:39] tlikhit commented on #536
@raosudha89 I've sent in PRs to update sitedata and bump it

[2020-07-09 04:41] #536 closed

[2020-07-09 04:50] eric-xw commented on #556
Hi @raosudha89, it seems the W9 schedule on the website has not been updated yet (https://virtual.acl2020.org/workshop_W9.html) and Lucia's talk video cannot be watched there. Thanks!

[2020-07-09 04:57] raosudha89 commented on #556
@eric-xw  The website will be updated sometime later tonight. We update the website only once a day at night where we push all changes together at once after carefully checking that the changes do not break existing pages.

I just closed this issue because we have merged the required code into the master branch. But the website will be update only after we do the night release.

[2020-07-09 04:59] eric-xw commented on #556
Got it. Thanks!

[2020-07-09 05:04] hao-fang commented on #579
@raosudha89 Let's wait for tomorrow probably, just to make sure we do not communicate the wrong information to people.
If they ask, our volunteers will be able to give some answers.
And we can update the FAQ tomorrow around noon once PCs have made an official decision, and we can then update the FAQ & make an announcement.

[2020-07-09 05:12] raosudha89 commented on #579
Sounds good. Thanks.

[2020-07-09 09:41] christos-c opened #594 "[W5] Update speaker name"
Hello,

We had a request from our speaker Philip Resnik to change his name on the list of prerecorded talks (from Phil to Philip). His name is correct on the schedule.

Cheers,
Christos

[2020-07-09 12:44] savary commented on #478
Sorry, there previous link was non permanent. Please, replace the linked under "Material" by:
https://github.com/reviewingNLP/ACL2020T3material
Thanks!

[2020-07-09 12:45] savary opened #595 "Update link for Tutorial #3"
In the page for tutorial T3 (https://virtual.acl2020.org/tutorial_T3.html) the link under "Material" is not permanent. Please, replace it with:
https://github.com/reviewingNLP/ACL2020T3material
Thanks!

[2020-07-09 19:33] raosudha89 commented on #586
@tlikhit  Any updates on this? If we need to do any updates to the website, please let me know.

[2020-07-09 19:34] raosudha89 commented on #339
All livestream IDs have been added as well.

[2020-07-09 19:34] #339 closed

[2020-07-09 19:34] raosudha89 commented on #582
Closing this since it doesn't look like we have heard any complaints from attendees because of this.

[2020-07-09 19:34] #582 closed

[2020-07-09 19:59] tlikhit commented on #586
I'll list issues one by one below:
W11: Invited Talks [3](https://slideslive.com/38929804/invited-talk-3),[4](https://slideslive.com/38929805/invited-talk-4),[5](https://slideslive.com/38929805/invited-talk-5),[6](https://slideslive.com/38929805/invited-talk-6) not recorded

[2020-07-09 20:03] tlikhit commented on #586
W12 - Not Recorded:
- A Question Type Driven and Copy Loss Enhanced Framework for Answer-Agnostic Neural Question Generation, Xiuyu Wu
- The NiuTrans System for WNGT 2020 Efficiency Task, Chi Hu
- Increasing Lexical Diversity in Plug and Play Language Models, Soham Parikh

[2020-07-09 20:07] tlikhit commented on #586
W14- Not Recorded:
- On Understanding Character-level Models for Representing Morphology, Clara Vania
- Inflectional data science and human/computer-aided linguistic analysis, Robert Malouf
- In search of isoglosses: continuous and discrete language embeddings in Slavic historical phonology, Chundra Cathcart

[2020-07-09 20:16] tlikhit commented on #586
W15- Not Recorded:
- Medical Conversations: Challenges and Future, Kass-hout Taha

[2020-07-09 20:18] tlikhit commented on #586
W16- Not Recorded
- How to Grow a (Product) Tree: Personalized Category Suggestions for eCommerce Type-Ahead - Jacopo Tagliabue, Bingqing Yu and Marie Beaulieu
- On Application of Bayesian Parametric and Non-parametric Methods for User Cohorting in Product Search, Shashank Gupta
-

[2020-07-09 20:21] tlikhit commented on #586
W17 - Not Recorded
- Opening, Lun-Wei Ku
- Closing, Lun-Wei Ku

[2020-07-09 20:23] tlikhit commented on #586
W19 - Not Recorded
- Opening Remarks, Amir Zadeh
- Keynote, Rada Mihalcea
- Keynote, Ruslan Salakhutdinov
- Closing Remarks, Amir Zadeh

[2020-07-09 20:58] anaerobeth commented on #595
@raosudha I can do this update.

[2020-07-09 21:07] anaerobeth commented on #594
@raosudha89 I can do this update

[2020-07-10 00:53] raosudha89 commented on #586
@tlikhit  Thank you so much for the detailed list. This is very useful. I will go ahead and update the websites accordingly. Thanks.

[2020-07-10 01:02] tlikhit commented on #586
@raosudha89 No problem! Please do let me know if I can help in updating the websites. I thought it'd be best to edit after getting clarification :)

[2020-07-10 02:54] #595 closed

[2020-07-10 02:54] #594 closed

[2020-07-10 02:57] hao-fang commented on #579
Close this as we already make the announcement and the conference is almost over.

[2020-07-10 02:57] #579 closed

[2020-07-10 02:58] hao-fang commented on #486
Close this b/c cannot reproduce the bug.. we can re-open if it happens again

[2020-07-10 02:58] #486 closed

[2020-07-10 02:59] hao-fang commented on #345
@anaerobeth If you have time to implement this, your proposal sounds good to me!

[2020-07-10 03:07] hao-fang commented on #346
@anaerobeth Let's add your changes. I think it is a good move. Thanks!

[2020-07-10 23:15] #345 closed

[2020-07-10 23:16] hao-fang commented on #586
Close this as the workshops are over.

[2020-07-10 23:16] #586 closed

[2020-07-11 05:00] #465 closed

[2020-07-14 18:49] hao-fang commented on #56
![image](https://user-images.githubusercontent.com/9957482/87464544-226e3380-c5c8-11ea-868d-a74b210f3bab.png)

This is changed after the conference is over when we disconnect SSO on RocketChat from the AWS Cognito pool. This chane will log all users off from RocketChat and they will not be able log back in (so no one need to monitor the workspace anymore).
Only the admin will have access to the wo

[2020-07-14 19:03] hao-fang opened #608 "Clean up the codebase for public release"
We will release the website to the public after all videos are uploaded to ACL Anthology.
Better to clean up the codebase a little bit.

- [ ] figure out the "right" way to remove Zoom links (Currently we just comment it out.)
- [ ] ...

[2020-10-31 00:10] #608 closed

[2021-04-12 20:24] cyriltw commented on #53
Something to add on the Rocket.Chat side of setting up Custom OAuth, it will ask for a URL. This should be URL on AWS Cognito, should look something like `https://<app_name>.auth.us-east-1.amazoncognito.com`