[2020-05-20 20:39] desilinguist opened #1 "Create and send out call for volunteers"
- [x] Create a call for 8-10 volunteers well-versed in CSS/JS/Python/Flask web apps.
- [x] Post call on ACl 2020 website
- [x] Coordinate with Emily Bender (ACL 2020 publicity chair) to publicize the call on social media and with Priscilla  Rasmussen to send to all ACL members.
- [x] Go through volunteer info and pick volunteers.

[2020-05-20 20:43] desilinguist opened #2 "Get answers from ICLR chairs"
We need to know the answers to the following questions from the ICLR 2020 chairs

- [x] Did they use a completely static website? If so, did they just use GitHub pages?
We ran a server ourselves for auth, although we just hosted images etc on github pages. Probably we could have put them anywhere
- [x] If you used a server to host the ICLR website, which server did you use?

- [x] How did they int

[2020-05-20 21:02] desilinguist commented on #2
@raosudha89 can you please add Sasha's answers from the email here so we have them documented a single place?

[2020-05-20 22:12] raosudha89 commented on #2
I updated the comment with his answers

[2020-05-20 22:40] desilinguist commented on #2
Based on his answers, I _think_ we can just get a basic DO droplet for $5/mo, set up nginx on it and then just deploy the static website there. However, I want to hear what specs the NIPS server had before suggesting a final solution.

[2020-05-21 00:55] desilinguist commented on #2
The server they ended up piggybacking on was a pretty beefy NeurIPS server with dozes of cores and 128G of RAM. We have asked if more moderate specs (e.g., Digital Ocean droplets with 4CPUs and 16G of RAM) would suffice for serving static content via nginx. Waiting for a reply.

[2020-05-21 14:31] desilinguist opened #4 "Decide on a server"
We can probably start with the a very basic Digital Ocean droplet and we can always migrate to one with better specs later if the need arises.

[2020-05-21 14:32] desilinguist opened #5 "Set up Digital Ocean account"
- [ ] Run the idea by Dan, Priscilla, and David to make sure they are all on board.
- [ ] If approved, create a DO account for ACL with the ACL credit card.
- [ ] Create a droplet based on the decision of #4.
- [ ] Set up nginx and Python (and any other tooling) on the droplet

[2020-05-21 14:35] desilinguist opened #6 "Set up a GitHub action to deploy website to AWS"
Create a GitHub action that will automatically update the static website on the DO droplet whenever any changes to the master branch are pushed.

We can adapt the [publish workflow](https://github.com/acl-org/acl-anthology/blob/master/.github/workflows/publish.yml) used by the ACL Anthology.

[2020-05-22 17:33] hao-fang opened #8 "Convert accepted papers to a csv file"
Merge the following files to a csv file that can be loaded by Mini-Conf.

### Main Conference
* [Accepted Papers](https://docs.google.com/spreadsheets/d/15WSbGv1BZQcZWMrVQK7YlbSpYAPgFK0h/edit#gid=1292329301)
* [Abstract & Author List](https://docs.google.com/spreadsheets/d/1_pIMrRR9luRNbRBwJRNGpYzMz3WdXidRTOAx2F-fOQE/edit#gid=0)
* [Track.xlsx](https://github.com/acl-org/acl-2020-virtual-conference

[2020-05-22 21:14] hao-fang opened #9 "Set up GitHub Action to lint code and run tests"
Should be easy with the Makefile.
Just run `make format-check` in the workflow.
But need to configure the right docker image and install the python & npm packages.

If installing packages is too slow, we should consider making a docker image instead.

[2020-05-23 06:19] hao-fang opened #12 "Use ACL icon and background image on index.html"
Currently the default background and icon is "Mini Conf".

Let's change them to ACL2020 specific ones.
https://acl2020.org/

[2020-05-23 06:31] hao-fang opened #13 "Set up user login for the website"
We will require auth to access the website. This might depend on #5, but to start with, we can just set up everything locally with a mock user account.

- [x] create a login front-end interface
- [x] enable auth to access the website

Ideally, we may want a common login cross different tools, but this may be out of scope, unless there is an easy solution.

Related Issue: https://github.com/Mini-Co

[2020-05-24 05:54] hao-fang opened #14 "Edit sitedata files"
We should replace these files with ACL content.

- [ ] workshops.csv See [here](https://acl2020.org/program/workshops/)
- [ ] speakers.csv See [here](https://acl2020.org/program/keynotes/).
- [ ] main_calendar.json: See `scripts/README_Schedule.md` for more information.
- [ ] papers_projection.json: needs to figure out how to generate this file. Probably uses `scripts/embeddings.py`.
- [ ] papers.

[2020-05-25 03:39] hao-fang opened #16 "Regular Paper Page"
**Number of Volunteers**: 1

## ICLR Layout
![image](https://user-images.githubusercontent.com/9957482/83800945-215af580-a65d-11ea-832c-00c54aa3eaa0.png)

## Update (2020-06-12)
Rre-org the components for the paper webpage. Currently, it looks like this
![image](https://user-images.githubusercontent.com/9957482/84549418-c6f51100-acbc-11ea-9a05-9319b21e7227.png)

- [x] Remove the red text "Add cont

[2020-05-25 06:42] hao-fang opened #17 "Figure out the strategy to sync with Mini-Conf upstream"
Currently I try to commit only ACL-specific changes to this fork, and all other general changes in the Mini-Conf repo.
I make PRs for merging upstreams in an adhoc way.
We may discuss the best way to keep in sync with the upstream.

[2020-05-25 06:44] hao-fang commented on #13
Re common login, it seems that RocketChat supports some OAuth which we may use.
https://docs.rocket.chat/administrator-guides/authentication/oauth

For now I think we won't need login for SlidesLive and Zoom, but we will have to confirm.

[2020-05-25 19:09] hao-fang commented on #13
Re login with static website -- It seems AWS has a nice solution [here](https://douglasduhaime.com/posts/s3-lambda-auth.html) with S3 and Lambda.
And S3 and Lambda are both inexpensive.
Not sure if DO has something similar we can use.

[2020-05-27 06:35] #9 closed

[2020-05-28 06:46] hao-fang opened #18 "Calendar / Schedule page"
**Number of Volunteers**: 1

One volunteer should be in charge of the calendar/schedule webpage.

- [x] get the final schedule from the PCs. I'll send the info via email.
- [x] update the calendar based on the final schedule
  - [x] For main conference paper QA sessions, should be completed by #74
  - [x] Need to update the plenary sessions schedule & other events
- [x] change the background color

[2020-05-28 06:48] hao-fang opened #19 "Home page"
**Number of Volunteers**: 1

One volunteer should be in charge of updating the content on the home page.

[2020-05-28 06:48] hao-fang opened #20 "Help page"
**Number of Volunteers**: 1

- [ ] Go through the ICLR2020 FAQ [here](https://iclr.cc/virtual_2020/about.html) and see if we can re-use any of them.
- [ ] post here (or RocketChat #website-volunteers) channel to request for more information.

[2020-05-28 06:49] hao-fang opened #21 "Workshops page"
**Number of volunteers**: 2

[2020-05-28 06:52] hao-fang opened #22 "Reset password link"
We may need to figure out a way to allow attendees to reset password.

[2020-05-28 06:53] hao-fang opened #23 "Plenary Sessions (under Schedule)"
**Number of volunteers**: 1

- [x] Edit the `sitedata_acl2020/speakers.csv`.
   * Get the keynote schedule [here](https://acl2020.org/program/keynotes/).
   * Ask @dreasysnail or @raosudha89 for more information.
- [x] Change "Example Day" to "Keynotes", and remove "Highlighted Papers" section in `templates/schedule.html`.

[2020-05-28 06:54] hao-fang opened #24 "Tutorials page"
**Number of Volunteers**: 2

We have 8 tutorials in total.
Besides the website development, we need to have a volunteer to collect necessary information from tutorial chairs.

[2020-05-28 06:55] hao-fang opened #25 "Sponsors & Exhibitor page"
**Number of Volunteers**: 3

TODO (Updated after #41)
- [x] Edit [sponsors.json](https://github.com/acl-org/acl-2020-virtual-conference-sitedata/blob/master/sponsors.json). The information below need to be provided by the sponsor. For demo purpose, just put some generic values.
  - [x] change the logos (needs to upload images to the folder `static/images/acl2020`
  - [x] add a `channel` field to r

[2020-05-28 06:58] hao-fang opened #26 "Host the demo webpage on ACL's AWS account"
- [x] create AWS resources using [this link](https://console.aws.amazon.com/lambda/home?region=us-east-1#/create/app?applicationId=arn:aws:serverlessrepo:us-east-1:520945424137:applications/cloudfront-authorization-at-edge) based on [this tutorial](https://aws.amazon.com/blogs/networking-and-content-delivery/authorizationedge-using-cookies-protect-your-amazon-cloudfront-content-from-being-download

[2020-05-28 06:59] hao-fang opened #27 "Socials page"
**Number of Volunteers**: 2

Example from ICLR
[ICLR 2020 - Socials.pdf](https://github.com/acl-org/acl-2020-virtual-conference/files/4783645/ICLR.2020.-.Socials.pdf)
![image](https://user-images.githubusercontent.com/9957482/83109399-312f7400-a076-11ea-8ccc-e825e32d602f.png)

Reach out the social event chairs to collect the following information
1) Organizer names
2) Logo
3) Event description
4)

[2020-05-28 07:01] hao-fang opened #28 "Chat page"
One volunteer should be in charge of the Chat page, which is the RocketChat interface.

[2020-05-28 07:02] #2 closed

[2020-05-28 07:04] hao-fang commented on #14
Close this b/c it is now split into smaller tasks.
#18 #19 #20 #21 #23 #24 #25 #27 #28

[2020-05-28 07:04] #14 closed

[2020-05-29 03:28] hao-fang opened #30 "Search by Track"
**Number of Volunteers**: 2

Enable web-interface shows (or allows searching) presentations organized by topic/track (though the topics are spread throughout the 3 days and various sessions).

I think this is basically supported by Mini-Conf. But we should double check with the PCs to see what they want.

UPDATE from PCs:

[2020-05-29 03:29] hao-fang opened #31 "Build Own Schedule"
Whova-like functionality where people can build a schedule of Q&As they want to attend.

This is probably not going to be supported, but I put it here just in case there is an easy solution.

Open source solutions:
- https://github.com/carlsednaoui/add-to-calendar-buttons
- https://github.com/spatie/calendar-links
- http://keith-wood.name/icalendar.html

Free solutions:
- https://add.eventable.com

[2020-05-29 03:41] #17 closed

[2020-05-29 03:48] #12 closed

[2020-05-31 01:27] hao-fang opened #32 "Demo papers webpage"
**Number of Volunteers**: 1

Some demo papers will provide a link to their online demo.
Need to add the link to the webpage.

[2020-05-31 03:21] hao-fang opened #33 "[ON HOLD] Livestream Page"
**Number of Volunteers**: TBD

We will livestream all plenary sessions on the main conference day.
Let's add a "Livestream" page which shows the livestream video and the schedule of the livestreaming events.

UPDATE: Need to get some details from SlidesLive.

[2020-06-02 08:03] hao-fang opened #34 "Figure out the right way to make the website private"
Only registered attendee can access the website during the conference.
We need to make sure other people cannot spin up a webpage using this public repo.

We have to either make this repo a private one or make some sitedata private.
If we make the repo private, then we cannot directly sync with the upstream. In addition, we cannot use GitHub action unless we use a paid plan.
So probably we have to

[2020-06-02 13:43] desilinguist commented on #34
@hao-fang My $.02:

1. For our organizational plan, we are able to use 3000 minutes of GitHub actions for private repos which should be plenty if we were to take this repo private? May be you can put together an estimate of how many minutes you will need? If it turns out to be more than 3000 minutes, we might even be able to pay for it.

2. Is this really likely to be an issue? How many people wil

[2020-06-02 16:34] hao-fang commented on #34
@desilinguist Thanks!

I don't have a good estimate, it is usually 2-3m for each PR/master commit pushed the the repo. Therefore, it means we can have 1k PR/master commits, which seems to be fine.

Let's move this discussion offline.

[2020-06-03 06:24] #34 closed

[2020-06-04 18:30] hao-fang commented on #28
This is implemented by https://github.com/Mini-Conf/Mini-Conf/pull/52

[2020-06-04 18:30] #28 closed

[2020-06-04 19:04] hao-fang commented on #5
Close this for now b/c we are going to use AWS.

[2020-06-04 19:04] #5 closed

[2020-06-04 19:06] hao-fang commented on #4
Close this for now because we are going to use a serverless solution on AWS.
If we need to add some fancier feature which requires a server, we can re-open this.

[2020-06-04 19:06] #4 closed

[2020-06-04 19:06] hao-fang commented on #1
This is done in our meeting today.

[2020-06-04 19:06] #1 closed

[2020-06-04 19:10] hao-fang commented on #6
This is partially done in https://github.com/Mini-Conf/Mini-Conf/issues/31.
But there are some remaining work.
- [ ] `make deploy` only deploy to Github gh-page. We need to deploy to AWS S3.
- [ ] We need to add a GitHub action. See [here](https://github.com/marketplace/actions/configure-aws-credentials-action-for-github-actions) for some additional instructions to set the AWS credentials.

[2020-06-04 19:17] hao-fang opened #37 "Organizing Committee"
**Number of Volunteers**: 1

Should replace the committee information.
This needs to be done in the private sitedata repo https://github.com/acl-org/acl-2020-virtual-conference-sitedata.

[2020-06-04 20:40] hao-fang opened #38 "Create per-paper RocketChat channels"
See [this script](https://github.com/acl-org/acl-2020-virtual-conference/blob/master/chat/make_poster_rooms.py).

We may need to add additional functionality, e.g., add some channel descriptions.
Also, we need to think about how we will invite the author(s) to the channel. Probably need another python script.

[2020-06-04 20:42] hao-fang opened #39 "Create Zoom links for individual QA sessions"
**Number of Volunteers**: 3

Each paper will have two QA sessions. We got some python script to create Zoom links using [this library](https://github.com/prschmid/zoomus). Talk with Hamid & Lianhui for more information.

- [x] Sign a Zoom contract.
- [x] We need to figure out our model of using host licenses and how to send the account information to the authors.
- [x] See #8 to get the session in

[2020-06-05 00:29] hao-fang opened #40 "Set up Google Analytics so can report Page Views"
**Number of Volunteers**: 1

[2020-06-07 06:31] hao-fang commented on #13
UPDATE: It seems this is the one-stop solution: https://aws.amazon.com/blogs/networking-and-content-delivery/authorizationedge-how-to-use-lambdaedge-and-json-web-tokens-to-enhance-web-application-security/

[2020-06-08 04:25] hao-fang commented on #13
UPDATE: Should use this one which uses signed cookies instead of signed URLs
https://aws.amazon.com/blogs/networking-and-content-delivery/authorizationedge-using-cookies-protect-your-amazon-cloudfront-content-from-being-downloaded-by-unauthenticated-users/

[2020-06-08 04:49] #13 closed

[2020-06-09 15:27] GuyAglionby commented on #8
Made [this csv](https://gist.github.com/GuyAglionby/cdfda342e978033c72bd04e895044182) using [this script](https://gist.github.com/GuyAglionby/8da5bf4852833c3d87516b1265282bda).

Couple caveats:

- (Most key) I've assumed that the order of papers in your xls file corresponds to the IDs that they will be given in the anthology (first paper ID 1, second 2, etc). If this isn't correct then the IDs sho

[2020-06-09 22:24] hao-fang commented on #26
With #44, every master commit will automatically publish a new version to AWS S3.

[2020-06-10 03:28] #6 closed

[2020-06-10 03:32] hao-fang commented on #22
No longer needed because we use AWS Cognito. See #13.

[2020-06-10 03:32] #22 closed

[2020-06-10 03:51] hao-fang opened #46 "Create general RocketChat channels"
**Number of Volunteers**: 4

- [ ] Get the list of channels from PCs (should ask them to give a short description of the channels)
   - [x] a channel for each paper #38
   - [x] invited speaker Kathy McKeown
   - [x] invited speaker Josh Tenenbaum
   - [ ] LTA award
   - [ ] DSA and ToT live
   - [x] Business meeting
   - [x] Review meeting
   - [ ] general PC channel (check with PCs if this shoul

[2020-06-10 03:55] hao-fang opened #47 "Login for RocketChat"
Partially discussed in https://github.com/Mini-Conf/Mini-Conf/issues/61.

Not sure if we can integrate iframe auth in the AWS framework.

[2020-06-10 04:17] hao-fang opened #48 "Emails for sending account information"
**Number of Volunteers**: 1

~We need to send the password for both the website account & the RocketChat account.
It would be better if we can use the same password / common login. But this depends on #47.~ (this is done)

- [ ] Email template (need to send a draft to Dan & PCs)
  * https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pool-settings-message-templates.html
- [ ] Co

[2020-06-10 04:22] hao-fang opened #49 "tech support during the conference"
Figure out how to run tech-support during the conference. (Need to involve Marjan to assign volunteers.)

- [ ] Add two more RocketChat Admin as the "Tech Lead" (should cover different timezone) See #62.
- [ ] (depending on our Zoom contract) Add x Zoom Admin as "Tech Lead"
- [x] Set up the #helpdesk channel
- [x] ~Set up the Onmichannel & assign agents (volunteers). See #66~

[2020-06-10 05:34] hao-fang commented on #47
Resolved here https://github.com/Mini-Conf/Mini-Conf/issues/61#issuecomment-641732654

[2020-06-10 05:34] #47 closed

[2020-06-10 05:41] hao-fang opened #50 "Embed Twitter timeline"
**Number of Volunteers**: 1

Would be nice if we can embed a Twitter timeline on our home page.
See [here](https://help.twitter.com/en/using-twitter/embed-twitter-feed) for instructions.

Should be easy but low priority.
Probably check with Publicity chairs about this.

[2020-06-11 07:17] hao-fang commented on #13
OAuth RocketChat with AWS Cognito: https://github.com/RocketChat/Rocket.Chat/issues/14866#issuecomment-513340416

[2020-06-11 07:36] hao-fang opened #53 "Document Login Auth"
## AWS Preparation
1. Grant necessary permissions to the AWS user. (TODO: check with Nitin)
![image](https://user-images.githubusercontent.com/9957482/84460767-9dd27300-ac1f-11ea-9d0a-792c130be49f.png)
1. Click [this link](https://console.aws.amazon.com/lambda/home?region=us-east-1#/create/app?applicationId=arn:aws:serverlessrepo:us-east-1:520945424137:applications/cloudfront-authorization-at-edge

[2020-06-11 08:14] hao-fang opened #54 "Basic "Similar Papers" function"
**Number of Volunteers**: 1

This is available in ICLR2020, but we will need to re-run the model.

- [ ] Get the paper with abstract by merging these two files
    * [accepted papers](https://docs.google.com/spreadsheets/d/15WSbGv1BZQcZWMrVQK7YlbSpYAPgFK0h/edit#gid=1292329301)
    * [abstracts](https://docs.google.com/spreadsheets/d/1_pIMrRR9luRNbRBwJRNGpYzMz3WdXidRTOAx2F-fOQE/edit#gid=0)
- [ ] Fo

[2020-06-11 08:16] hao-fang opened #55 "Figure out a way to allow registration during the conference"
**Number of Volunteers**: 1

Currently we can only manually add users to our AWS Cognito pool. We need to figure out an automatic process to create new accounts for last-minute registration.

- [x] Talk with Priscilla to see how the registration process works.

### Solution: Zapier (gmail + AWS Lambda)
It seems that Zapier has a good email parsing template. Let's try this first.
* https://www.npmj

[2020-06-11 19:56] hao-fang opened #56 "Document RocketChat configuration"
**Number of Volunteers**: TBD
(This will be the RocketAdmin's job.)

Related issues #47, #53

* General -> Options to X-Frame-Options. Clear it.

## Registration
* Administration -> Accounts > Registration > Registration Form > Disable
![image](https://user-images.githubusercontent.com/9957482/84461331-0e2dc400-ac21-11ea-8b74-446d9d87d09d.png)

## Layout
* Show read name instead of username. Go to

[2020-06-11 20:59] luanyi commented on #46
Talk to RocketChat people and see how to give sponsors permission to invite people to their channal only. @hao-fang

[2020-06-11 21:48] Chandrahasd commented on #54
Is there any resource where we can get more details about the model?

[2020-06-12 02:28] raosudha89 commented on #19
The homepage should include the following:
- [ ] Introductory video / Welcome note from Program Chairs
- [ ] Video/Slides from Infrastructure Chairs describing how to navigate the website
- [ ] Overall Schedule of the conference

@hao-fang: Please add if I missed something.

[2020-06-12 02:39] raosudha89 commented on #21
The workshop main page should include following details:
- [ ] Overall schedule of workshops i.e. list of workshops on each day (https://acl2020.org/program/workshops/)
- [ ] A link to each of the individual workshops
- [ ] Some way to ensure only the attendees registered for a workshop get to see the content of the particular workshop.

Each of the individual workshop pages should contain the fol

[2020-06-12 03:41] raosudha89 commented on #24
The main page of tutorials should contain the following:
- [ ] Overall schedule of the tutorials (https://acl2020.org/program/tutorials/). There will be several parallel tracks. More information can be found in the July 5th tab of [this spreadsheet](https://docs.google.com/spreadsheets/d/1sTRj-skkp7qYz1zwqvmPuXRay6HIHEOS7NOuUMsW8oE/edit?usp=sharing)
- [ ] Link to each tutorial

Some tutorials have

[2020-06-12 04:01] hao-fang opened #57 "import users to AWS Cognito"
**Number of Volunteers**: 1

- [ ] ~~Get the necessary permission to run import job (ask Nitin)~~ (I prefer to use AWS CLI or boto3 to create the users.)
    * https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-creating-import-job.html
- [ ] Get the list of registered users (ask Priscilla)
- [ ] Prepare a CSV file to be uploaded to AWS Cognito (using AWS CLI or boto3)

[2020-06-12 05:16] hao-fang opened #59 "[BUG] Invalid 'X-Frame-Options' header"
**Number of Volunteers**: 1

On the `chat.html` page, it shows the `Invalid 'X-Frame-Options' header` error.
We probably need to change the RocketChat setting: "General" -> "Options to X-Frame-Options".

![image](https://user-images.githubusercontent.com/9957482/84467444-06761b80-ac31-11ea-9f1c-6e99ec962430.png)

References:
* https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Optio

[2020-06-12 05:23] hao-fang opened #60 "[FEATURE] RocketChat username"
Currently, when log into RocketChat with ACL2020 account (via AWS Cognito), it will ask the user to create a userame, but it does not ask for the "Name" field, so it will create a random string.
Unfortunately, the AWS Cognito doesn't store the First/Last name information.
Should figure out a way to show proper username in RocketChat.

[2020-06-12 05:24] hao-fang opened #61 "[FEATURE] Do not show email in RocketChat"
Email address should be private.

[2020-06-12 06:06] hao-fang opened #62 "RocketChat Admin"
**Number of Volunteers**: 2

We will need two volunteers (ideally cover different time zones) to be the RocketChat admin.

Duties:
- [x] configure RocketChat settings
  - [x] Figure out the right permissions for different roles (e.g., `volunteers`, `sponsors`, `organizers`, etc.)
  - [x] Make the color scheme more close to ACL style (maybe red & white?)
  - [ ] Document all configurations (see #56

[2020-06-12 06:17] hao-fang commented on #54
@Chandrahasd Let's start with the same method. I updated the description with some actionable items. Please let me know if you have more questions.

[2020-06-12 06:30] hao-fang commented on #61
It turns out by default only admin can see the full user info.

From RocketChat:

![image](https://user-images.githubusercontent.com/9957482/84471945-404c1f80-ac3b-11ea-94e2-32aee4cbd005.png)

[2020-06-12 06:30] #61 closed

[2020-06-12 06:37] hao-fang commented on #8
@GuyAglionby I've updated the instruction. I think you have to modify your script to consume these three files.
* The paper ID is not the line number -- you need to find them in the "Abstract & Author List" spreadsheet or the "Track.xlsx" file.
* Sessions are now available.
* Abstracts are now available.
* We do not have keywords yet.

[2020-06-12 06:43] hao-fang commented on #37
@dreasysnail can you send the committee info to @sgdgp?
I think we just need to edit this file https://github.com/acl-org/acl-2020-virtual-conference-sitedata/blob/master/committee.yml

@sgdgp The PR should be created in  https://github.com/acl-org/acl-2020-virtual-conference-sitedata/ first, and then we should bump the git submodule version in https://github.com/acl-org/acl-2020-virtual-conferenc

[2020-06-12 06:50] sgdgp commented on #37
@hao-fang Thanks for the instructions. However [https://github.com/acl-org/acl-2020-virtual-conference-sitedata/](https://github.com/acl-org/acl-2020-virtual-conference-sitedata/) shows 404 error, I guess I am not added in that repo yet.

[2020-06-12 06:59] hao-fang commented on #37
@sgdgp I just added you to that repo. Can you try again?

[2020-06-12 07:01] sgdgp commented on #37
@hao-fang Yeah I can access it now. Thanks!

[2020-06-12 07:41] stupid-2020 commented on #60
Haven't take a look yet.  But wonder if the "user-attributes" (via AWS Cognito) could help.

[2020-06-12 08:10] stupid-2020 commented on #62
Hi hao-fang

I would like to ask for the details if I am possible to help on this issue.

1. Configuration of RocketChat should be done before 01-JUL, right?
2. Support during the whole conference (from 06-JUL to 10-JUL)?
3. What is the "support level"?  Response in minutes or hour?

My available hours should be:
  09:00 - 18:00 HKT   = (01:00 - 10:00 UTC) = (18:00 - 03:00 PDT)

[2020-06-12 09:57] georgepar commented on #54
Hi all,

I extracted the embeddings and saved them to this drive link, if anybody needs them:

https://drive.google.com/file/d/1BM-HtX5dOpiO3M_yDf-shVY-KMH72wwt/view?usp=sharing

[2020-06-12 11:23] georgepar commented on #8
created the [papers.csv](https://gist.github.com/georgepar/3d5cda48c50c6ee57f56aaea9b99603d#file-papers-csv) using [this file](https://docs.google.com/spreadsheets/d/1_pIMrRR9luRNbRBwJRNGpYzMz3WdXidRTOAx2F-fOQE/edit#gid=0) and [this script](https://gist.github.com/georgepar/3d5cda48c50c6ee57f56aaea9b99603d#file-create_papers_csv-py)

I haven't added session info yet and found keywords using TF-IDF

[2020-06-12 11:42] GuyAglionby commented on #8
Snap @georgepar , also just updated my script :)

@hao-fang - thanks for the new files. It doesn't look like there's a distinction between long and short papers in track.xlsx - we need this if we want to use the Anthology format (`2020.acl-{volume}.{paper-id}`) as they live in different volumes and so have different paper id spaces. Do you have easy access to this? I can get in touch with the Anth

[2020-06-12 12:27] georgepar commented on #8
Sorry for that, I needed the csv file for #54

[2020-06-12 12:50] GuyAglionby commented on #8
Gotcha! The projection looks cool. Happy to put the finishing touches on this

[2020-06-12 13:14] GuyAglionby commented on #32
My idea here is to create a new csv which maps paper ID to demo link (so as not to clutter papers.csv), then add a (conditional) button to the regular poster template. Will go ahead with this in the next couple of days unless anyone has comments

[2020-06-12 13:34] GuyAglionby commented on #38
If we can get a list of author emails from softconf, we can match them to RocketChat user ids ([this api](https://docs.rocket.chat/api/rest-api/methods/users/list)) and add those ids to the appropriate channel ([this api](https://docs.rocket.chat/api/rest-api/methods/channels/invite)).

[2020-06-12 14:13] georgepar commented on #8
Sounds good @GuyAglionby thanks :)

[2020-06-12 16:07] hao-fang commented on #62
@stupid-2020 Thanks! Please see my answers inline.

Ideally this should be done as soon as possible. But we have a chance to fine-tune it before 01-JUL.

It should be 05-JUL to 10-JUL.

We will probably get more volunteers for this. But for now we need to have 2 more "tech lead" for RocketChat. We haven't decided response turn-around time.

This is great to know!

Let me know if you need more deta

[2020-06-12 16:28] hao-fang commented on #60
@stupid-2020 I haven't tested it. So I created a CloudFormation stack using [this link](https://console.aws.amazon.com/lambda/home?region=us-east-1#/create/app?applicationId=arn:aws:serverlessrepo:us-east-1:520945424137:applications/cloudfront-authorization-at-edge) following the tutorial [here](https://aws.amazon.com/blogs/networking-and-content-delivery/authorizationedge-using-cookies-protect-yo

[2020-06-12 16:42] hao-fang commented on #40
@ppartha03 Thanks for working on this! Let me know if you need additional information.
I imagine this will be inserted somewhere in the [base.html](https://github.com/acl-org/acl-2020-virtual-conference/blob/master/templates/base.html).

[2020-06-12 17:04] hao-fang commented on #32
This sounds like a good plan. Thanks!

[2020-06-12 17:07] hao-fang commented on #25
@Chandrahasd Thanks for working on this. This is currently one of our top priority thing because sponsors need to see a working example to get some more ideas.
Please let me know if you have any questions.

@luanyi Can you send necessary information to @Chandrahasd you get from sponsors?
For missing information, we can put a placeholder field for demo purpose.

[2020-06-12 17:17] raosudha89 opened #64 "Student Research Workshop page"
**Number of Volunteers**: 1

Student research workshop papers will be treated the same as main conference papers.
However, we will need to make a single SRW page to include the following:
- [ ] Overall schedule of the workshop which can be found in the SRW tab of [this spreadsheet](https://docs.google.com/spreadsheets/d/1sTRj-skkp7qYz1zwqvmPuXRay6HIHEOS7NOuUMsW8oE/edit#gid=198768287)
- [ ] Name of

[2020-06-12 17:18] hao-fang commented on #8
@GuyAglionby The submission type info is in the [Abstract & Author List](https://docs.google.com/spreadsheets/d/1_pIMrRR9luRNbRBwJRNGpYzMz3WdXidRTOAx2F-fOQE/edit?usp=sharing). Can you use that?

[2020-06-12 17:39] GuyAglionby commented on #8
@hao-fang I can import that information, but from that I see that long and short papers are mixed together in track.xlsx. Because it's mixed I can't be confident in extracting separate paper IDs for each volume from that ordering, unless I e.g. take the first long paper as `2020.acl-1.1` and the first short as `2020.acl-2.1` and maintain separate counts going through. That would make sense but isn

[2020-06-12 17:59] hao-fang commented on #25
@Chandrahasd This might be a good starter project.

[2020-06-12 18:20] hao-fang commented on #8
@GuyAglionby I quickly checked the submission IDs and they seem to be unique. Do you have examples with duplicated IDs (in case I missed anything)?

[2020-06-12 18:34] Chandrahasd commented on #25
@hao-fang Sure! I'll start with this one.

[2020-06-12 18:56] hao-fang commented on #60
Ah, I added a `custom:name` field in the AWS Cognito and set the "Name" field in RocketChat OAuth to "custom:name`. Now it works well. I just need to set the `custom:name` field when creating the user (or update the attributes with [this command](https://docs.aws.amazon.com/cli/latest/reference/cognito-idp/admin-update-user-attributes.html).

![image](https://user-images.githubusercontent.com/9957

[2020-06-12 18:56] #60 closed

[2020-06-12 19:19] hao-fang commented on #48
Current message template. Need to edit this.

Subject: `Your temporary password for ACL2020`
Body:
[code]

[2020-06-12 19:19] GuyAglionby commented on #8
@hao-fang sorry, I don't think I'm explaining this well! I realised I've assumed that short papers and long papers are split into separate volumes - they weren't in 2019 but were in the years before.

If they are in the same volume, there's no issue. If they're in a different volume, then we will need to end up with IDs `2020.acl-1.{1-571}` for the long papers and `2020.acl-2.{1-208}` for the shor

[2020-06-12 19:26] hao-fang commented on #8
@GuyAglionby I see. Let's first assume they are in the same volume so we can get a basic website version ready. I'll reach out to our organizing committee and cc you to see what we are going to do with the Anthology.

[2020-06-12 20:22] vladdy commented on #62
I'd like to help with this as well. I'm in EDT timezone.

[2020-06-12 20:40] hao-fang commented on #62
@vladdy Great! I'll schedule a meeting once we decide who will be the other RocketChat admin.

[2020-06-12 20:47] stupid-2020 commented on #57
Dear hao-fang

As I can't find the related closed issue (The RocketChat account"), maybe we can update "user-attributes" of "CLI command" for creating users accordingly as well.

Thank you very much for your help and attention.

[2020-06-12 20:53] stupid-2020 commented on #62
@hao-fang I would like to help but I could only commit to support from 07-JUL to 10-JUL.  Is that ok?

[2020-06-12 20:59] hao-fang commented on #62
@stupid-2020 That might not work because we need three admin to cover different timezones for the whole conference.

One option is to create a shared email account which can directly get tech support from RocketChat. Multiple volunteers can use this account to ask questions.
(RocketChat's support plan only allows 3 accounts to directly contact them, including my own account.)

Let's see if there i

[2020-06-12 21:10] stupid-2020 commented on #62
@hao-fang I could setup an email account for forward emails if necessary.   Anyway, let's see if any other volunteer first.  Thanks and sorry for cause any inconvenience.

[2020-06-12 21:13] hao-fang commented on #57
@stupid-2020 Thanks. I closed that issue #60 because I figured it out with your suggestion :)
Yes, we can use the CLI command to create users. I'm going to upload a bash script and I'll add you as the reviewer.
But we will need to make a script to process a file rather than adding users one by one.

[2020-06-12 21:25] stupid-2020 commented on #26
@hao-fang Will do it soon.  And try to use pre-commit to automate the SHA update.

[2020-06-12 22:00] hao-fang commented on #16
@salma-elanigri Thanks for volunteering on this issue. I updated the instruction (see the section "Update (2020-06-12)".

Please check these https://github.com/acl-org/acl-2020-virtual-conference/blob/master/CONTRIBUTING.md and https://github.com/acl-org/acl-2020-virtual-conference/blob/master/CONTRIBUTING-ACL2020.md for setting up your local environment.
You can launch a local server via `make ru

[2020-06-12 22:09] hao-fang commented on #38
@GuyAglionby Thanks! Let's first create all the channels after #8 is done. After a second thought, we may not need to auto-invite authors because they will visit the webpage and they should join the channel there.

[2020-06-12 22:33] salma-elanigri commented on #16
Okay, thank you @hao-fang

[2020-06-12 22:37] hao-fang commented on #39
@raosudha89 I've introduced @ninell-oldenburg to Hamid & Lianhui so they will be in charge of this. I unassigned you from this one.

[2020-06-12 23:10] hao-fang commented on #46
This is not possible now because we go through our AWS Cognito user pool for login authentication. They will need to provide the emails for people they want to invite and we will create the account for them manually. There is no automatic sign-up option right now.

For future reference -- this will be further discussed in #62, i.e., granting the right permission to different roles so that they can

[2020-06-12 23:45] hao-fang commented on #54
@georgepar This is great! We probably will have a pretrained model on ACL2020 papers which may work better. I'll keep you posted about this.

[2020-06-13 00:42] hao-fang opened #66 "[RocketChat] Set up Omnichannel / LiveAgent for tech support"
This seems to be a nice feature for tech support during the conference.

It adds a "chat" icon on the website.
![image](https://user-images.githubusercontent.com/9957482/84555906-522dd100-acd4-11ea-9299-88e673a54b97.png)

The user can chat with an agent.
![image](https://user-images.githubusercontent.com/9957482/84555944-82756f80-acd4-11ea-80a0-a62b41d0eab6.png)

Agent interface:
![image](https://

[2020-06-13 07:58] #66 closed

[2020-06-13 07:59] hao-fang commented on #66
This is too much work for ACL2020.
Need to figure out the right logistics for future conferences.
For now, let’s just use #helpdesk channel.

[2020-06-13 08:08] hao-fang commented on #8
@GuyAglionby I've merged https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/4.
Can you make a PR in this repo to update the `sitedata_acl2020`?
[code]

We will need to add demo papers & SRW papers later. Do you think it can be in the same `papers.csv` file?
I'll get necessary files to you.

[2020-06-13 08:30] hao-fang commented on #25
UPDATE about RocketChat channels (cc @luanyi)

We will use public **Broadcast Channels**.  Broadcasted channels behave like read-only channels, with only users with the right permission being able to post there.
* Users without permission (the same one to post on read-only channels) inside this channel won't be able to see each other in the user list.
* Users without permission won't be able to re

[2020-06-13 11:46] GuyAglionby commented on #8
Yep should be no problem to use the same file

[2020-06-13 18:08] hao-fang commented on #19
We may want to embed the read-only #announcement RocketChat channel on the Home Page.
I'm not sure if it will look good though. An alternative is to make a new page of #announcement.

[2020-06-13 18:48] hao-fang opened #72 "Add demo papers to demo_papers.csv"
**Number of Volunteers**: 1

Follow-up on #8, we will need to add demo papers to the `papers.csv` file.

- [x] Get information from demo chairs (after #74 is done)

[2020-06-13 18:49] hao-fang commented on #8
Close this one and make #72 for the SRW & demo papers.

[2020-06-13 18:49] #8 closed

[2020-06-13 18:53] hao-fang opened #73 "Add SRW papers to srw_papers.csv"
**Number of Volunteers**: 1

Follow-up on #8, we will need to add SRW papers to the `srw_papers.csv` file.

- [x] Get information for SRW chairs (after #74 is done)

[2020-06-13 18:54] hao-fang commented on #64
We will also need to add the papers to `papers.csv`. See #74.

[2020-06-13 19:08] hao-fang opened #74 "Add live QA session info for main conference papers"
**Number of Volunteers**: 1

Follow up on #8, we need to show the live QA sessions in the "paper/poster" page. I have made a dummy version in #75.
They should be populated in `main(site_data_path)` method [here](https://github.com/acl-org/acl-2020-virtual-conference/blob/cc07257a5497455355fd28c1af9c1f2a19e4d1e1/main.py#L17) instead.
The corresponding time information can be found in [this file](ht

[2020-06-13 19:17] hao-fang commented on #30
We probably can put these information on the "Schedule".
It might be too much work to implement "search-by-track". Alternatively, we can make track as a keyword.
Any thoughts?

[2020-06-14 02:21] hao-fang commented on #74
@GuyAglionby I temporarily assigned this to you since you worked on the `papers.csv`.
Let me know if you prefer to work on something different.
(I renamed the "session" field in `papers.csv` to "track" which is the ACL tradition.)

[2020-06-14 14:16] dpappas commented on #30
Hello!

If you also have some keywords for each track we could probably include them in the search.
We could use keywords added by authors in their papers in similar tracks last year.
When the user enters a keyword, and the keyword matches with one we already have, we will return the parent track.

[2020-06-14 17:12] sgdgp commented on #37
@hao-fang Should I take the committee info from [https://acl2020.org/committees/organization](https://acl2020.org/committees/organization). Is there any particular profile image provided by the members beforehand or should I use from the personal websites etc. ?

[2020-06-15 01:41] stupid-2020 commented on #26
@hao-fang Do we have the IP address(es) for the virtual.acl2020.org?

BTW, according to my understand, the DNS for acl2020.org is not point to cloudfront (should be some DNS owned by the domain registrar).  Please advise.  Thanks a lot.

[2020-06-15 03:25] hao-fang commented on #26
@stupid-2020 Sorry I didn't make it clear. I'm working on the domain name right now. There are a few configurations I need to do on the AWS side. Hopefully this will be done this week.

I'll close this ticket for now to avoid confusion.

[2020-06-15 03:25] #26 closed

[2020-06-15 05:22] stupid-2020 commented on #55
If we can get registration information from argona-net.com, maybe we can create users automatically by modifying create_new_user.sh or have another script to call create_new_user.

Another question is the late registration (June 27, 2020 through the entire conference), how to handle such accounts?

[2020-06-15 06:29] hao-fang commented on #55
@stupid-2020 Yes. These are valid questions. I need to talk with our admin to figure out the details. I'll post updates once I get back from her.

[2020-06-15 06:48] hao-fang commented on #16
@salma-elanigri I'll answer your RocketChat question here for visibility so that other people can refer to this in future.

The template is indeed specified by the `template/poster.html`. This is a Jinja2 template. See details [here](https://jinja.palletsprojects.com/en/2.11.x/templates/).
The data `paper` is populated in `main.py` [here](http://github.com/acl-org/acl-2020-virtual-conference/blob/

[2020-06-15 07:23] hao-fang commented on #54
@vladdy @Chandrahasd @kaushal0494 @dpappas @ninell-oldenburg I un-assigned you from this issue because @georgepar has started working on it.
I now added a "**Number of Volunteers**" section at the beginning for each issue. Sorry for the confusion. I'll also send a clarification email to our mailing list soon.

But if you have already started working on this and get some update, please post here an

[2020-06-15 07:25] hao-fang commented on #50
@ppartha03 @raghavjajodia @ninell-oldenburg Can you three discuss who will work on this? I think we probably only need one person.
Also, this is pretty low priority right now so it would be nice to work on higher priority issues first.

[2020-06-15 07:27] hao-fang commented on #48
@vladdy I changed this issue to be "on hold" because we still need to figure out a few details before deciding how to proceed.
I'll let you know when we can start working on this.

[2020-06-15 07:33] hao-fang commented on #38
@GuyAglionby Can you check if we can have dot in the channel name? It seems that our paper UID is in the format of `1.234`. We may need to normalize the paper ID. Probably `1-234`?

[2020-06-15 07:35] hao-fang commented on #37
@ardakdemir I un-assigned you from this issue because @sgdgp has started working on it.
I now added a "Number of Volunteers" section at the beginning for each issue. Sorry for the confusion. I'll also send a clarification email to our mailing list soon.

[2020-06-15 07:37] hao-fang commented on #33
@vladdy We still need to get some details from SlidesLive. I'll post more instructions later.

[2020-06-15 07:41] hao-fang commented on #27
@Robert-Alonso Can you first make a sample webpage with some dummy social events? I'll get back to you with our schedule.
Let me know if you need more instructions about where to start.

[2020-06-15 08:02] hao-fang commented on #30
@dpappas I didn't know there are keywords in last year. Can you find some examples?

We do have the "track" information in the https://github.com/acl-org/acl-2020-virtual-conference-sitedata/blob/master/papers.csv
I like the autocomplete function for track search, which seems promising.

I think a top priority here is to surface the "track" information either in the Schedule page, or in a separate

[2020-06-15 08:04] ninell-oldenburg commented on #50
I'll unassign myself. I started working on another issue :-)

[2020-06-15 10:23] dpappas commented on #30
Hi Hao!

Since I could not find any keywords in the papers I grouped all papers per task and used SGRANK to extract some keywords automatically.

I created this json file from the abstracts in the papers.csv file.
I tried to push it to the sitedata directory but as github mentions

I believe, during searching, these keywords could be used for autocomplete and the parent task could be returned. I h

[2020-06-15 15:10] georgepar commented on #72
@hao-fang Hi, I can do this. Is there an google sheet about demo papers available yet?

[2020-06-15 16:58] raosudha89 commented on #19
- [ ] Do something like ICLR did with a blurb of all elements of the conference: https://iclr.cc/virtual/index.html

[2020-06-15 18:47] #54 closed

[2020-06-15 19:40] jcklie commented on #25
(cc @hao-fang ) I see that @Chandrahasd has already an open PR on `sponsors.html` so I do hesitate to make it more beautiful by myself. Can we take the images from the [ACL sponsor page](https://acl2020.org/sponsors/list/) and use them or do we need to ask sponsors to give them to us again? I would have a look to fix the style of `sponsor.html`. The other next steps I see are either blocked (spons

[2020-06-15 20:14] hao-fang commented on #25
@jcklie Yeah, I feel the best way is probably to have you start working on the `sponsor.html` -- there are more work to be done in those pages and I don't have a good intuition about how to arrange those components nicely. But I'll let you three to discuss with Yi to see how to collaborate efficiently :)

[2020-06-16 00:35] hao-fang commented on #27
@Robert-Alonso I updated the instructions.
Maybe you can make the sample webpage using the ICLR template https://github.com/ICLR/iclr.github.io/blob/master/templates/pages/socials.html
Let me know if you need any more information.

Also, if you feel you need another volunteer to pair with you, please let me know and we will see if we can assign another person on this issue.

[2020-06-16 01:10] hao-fang opened #83 "Top-level pages & Item pages"
[DO NOT UNPIN]
This issue is used to track the progress of the website development.

## Top-Level Pages
- [x] Home #19
  * @raosudha89
  - [ ] remove the intro video by General Chair & PCs
- [x] Schedule / Calendar #18
  - [ ] Fix all links in both week view and day view (edit `sitedata_acl2020/overall_calendar.json`)
- [x] Livestream #229 #233
- [ ] Plenary #84 #205
   - [x] basic layout
   - [ ]

[2020-06-16 01:52] GuyAglionby commented on #32
@hao-fang is there anything else that needs doing on this issue?

[2020-06-16 02:28] hao-fang commented on #32
@GuyAglionby We will need to replace the dummy demo file in `sitedata_acl2020` with the actual data. Let's keep this open for now. We will need to reach out to the demo chairs to get the information.
Do you want to keep working on this one? We can see if we can find another volunteer to take this one if you want to focus on other issues.

[2020-06-16 02:30] Robert-Alonso commented on #27
Thanks for the extra info and the reference repo @hao-fang, I was just about to ask about some details about the ICLR socials page screenshot which I was replicating in the [branch](https://github.com/acl-org/acl-2020-virtual-conference/tree/feature/27-socials-page) I was working on. I started with a format based on the workshops section with dummy social events, which I'll add to the sitedata rep

[2020-06-16 04:39] hao-fang commented on #32
@GuyAglionby Sorry. I forgot we have another issue #72 to fill in the `sitedata_acl2020` and there is a volunteer working on that now.
I'll close this one.

[2020-06-16 04:39] #32 closed

[2020-06-16 04:50] #74 closed

[2020-06-16 04:52] hao-fang opened #84 "Add Plenary Sessions to Schedule"
**Number of Volunteers**: 1

We will need to add plenary sessions to the Schedule page, e.g., opening/closing remarks, etc.

[2020-06-16 05:02] hao-fang commented on #39
I realize that we may need more than 1 volunteers on this issue because we may need to **manually** create a few zoom links for tutorials, workshops & social events.

[2020-06-16 05:17] hao-fang opened #86 "Fix missing photos for committee members"
**Number of Volunteers: 1**

There are a few missing photos.
- [x] Collect the list of committee members without a photo
- [x] Reach out to @raosudha89 @dreasysnail @hao-fang to get their emails
- [x] Get their photos or use a generic one

[2020-06-16 05:20] hao-fang opened #87 "Duplicated committee members"
**Number of Volunteers**: 1

@raosudha89 & @dreasysnail are shown twice in the committee member.
Talk with them to see how we should present this information?
Probably we should just show "Virtual Infrastructure Committee & Website Chairs"?

[2020-06-16 05:42] Robert-Alonso commented on #20
Hi @hao-fang, I was going through the ICLR 2020 FAQ and identified the following points, which may be part of the info we’ll need for ACL:
- There is an option to export the schedule info as an ics file, this may be a feature for https://github.com/acl-org/acl-2020-virtual-conference/issues/18 and an initial alternative for https://github.com/acl-org/acl-2020-virtual-conference/issues/31
- 6Connex

[2020-06-16 05:52] hao-fang commented on #20
@Robert-Alonso Thanks for looking into this!

Yes, as a basic version, we will follow ICLR to generate all the ics files. I'm not sure how it works. This will be added to regular paper pages #16 as each live QA session will get an ics file. Can you add this to our Help first?

We will not use 6connex for ACL2020. We are building our own sponsor experience #25. Can you follow up there to make sure

[2020-06-16 08:04] hao-fang opened #88 "Add the SlidesLive ID for main conference papers"
**Number of Volunteers: 1**

We've got the mapping from SubmissionID <-> SlidesLive presentation IDs.
We will need to add this information in our `sitedata_acl2020`.
I'll send the file via email to the volunteer who can work on this issue.

[2020-06-16 08:05] stupid-2020 commented on #59
It sounds this bug is fixed by RocketChat:

![image](https://user-images.githubusercontent.com/66775489/84748195-e062c980-afea-11ea-9d5d-625bf0ef826d.png)

But how could I access acl2020.rocket.chat?

Reference:
-  [Livechat widget and headers #6448](https://github.com/RocketChat/Rocket.Chat/issues/6448)

[2020-06-16 08:08] hao-fang commented on #59
@stupid-2020 Ah, thanks for digging up the information! Let me reach out to the RocketChat support team then to see if they know how to fix this.
I'll post update here.

[2020-06-16 08:24] stupid-2020 commented on #86
List of committee members without a photo:

1. Priscilla Rasmussen
2. Milica Gašić
3. Dilek Hakkani-Tur
4. Lianhui Qin (invalid link)

[2020-06-16 08:27] stupid-2020 commented on #86
Once I get the photo URLs, I have to update [committee.yml](https://github.com/acl-org/acl-2020-virtual-conference-sitedata/blob/master/committee.yml), right?

[2020-06-16 08:34] stupid-2020 commented on #87
@hao-fang If it is similar to #86 , I could handle as well.  Thanks.

[2020-06-16 09:22] penny9287 commented on #73
I can work on this  issue.

[2020-06-16 09:25] penny9287 commented on #88
I can work on this issue.

[2020-06-16 17:21] raosudha89 commented on #18
Request from PCs:
- [ ] In the calendar, have a way to distinguish between what has already happened and what is yet to come and also have a way to know where are we currently i.e. which day and what time.

[2020-06-16 17:29] raosudha89 commented on #16
Note from PCs:
- [ ] The paper title should appear in a different color than the 'Live', 'Q&A', 'Cal' links to show that the title is not clickable.

[2020-06-16 17:41] raosudha89 commented on #30
Note from PCs
- [ ] In the search option, add 'search by track'.

[2020-06-16 17:52] raosudha89 opened #89 "ACL Exec page"
- [ ] Business Meeting which has talks and rocketchat channel

- [ ] Review Meeting

[2020-06-16 17:55] raosudha89 commented on #23
Suggestion from PCs
- [ ] Make this a plenary session instead and include Keynotes, Test of Time Award, Lifetime achievement award and other livestream

[2020-06-16 17:56] raosudha89 commented on #33
Note from meeting with PCs: maybe we don't have this separate tab since it is confusing. We can just highlight live sessions in the calendar under schedule tab.

[2020-06-16 18:09] raosudha89 opened #90 "Stress test the website"
- [x] Ask Cho and Sasha how they stress test ICLR
- [ ] Get a large number of volunteers to test the website a couple of days before the conference.
- [ ] Think of ideas to stress test (based on Sasha's response below).

[2020-06-16 19:03] hao-fang commented on #55
CVPR2020 mentioned "Late registration may result in a delay in being able to access CVPR Virtual."

http://cvpr2020.thecvf.com/attend/registration
![image](https://user-images.githubusercontent.com/9957482/84817039-55250c00-afc9-11ea-8d58-2945a614a6ce.png)

[2020-06-16 19:54] hao-fang opened #93 "Add more instructions to CONTRIBUTING-ACL2020.md"
I realize not everyone is familiar with the environment setup & workflow. It would be nice if someone can improve the `CONTRIBUTING-ACL2020.md`, e.g., adding some links to explain how to make a Pull Request etc.

[2020-06-16 22:41] hao-fang opened #94 "Update regular paper live Q&A schedule"
**Number of Volunteers: 1**

Program Chairs have updated the live Q&A schedule.
Please update `sitedata_acl2020` with the new schedule.

[ACL 2020 live Q&A schedule (for authors).xlsx](https://github.com/acl-org/acl-2020-virtual-conference/files/4789430/ACL.2020.live.Q.A.schedule.for.authors.xlsx)

[2020-06-16 22:53] hao-fang commented on #86
@stupid-2020 Can you follow up with me next week if we didn't get back to you with these email addresses?
Feel free to replace the `http` with `https` first.

[2020-06-16 22:54] hao-fang commented on #87
@stupid-2020 I assigned this to you. Thanks!

[2020-06-16 23:22] #94 closed

[2020-06-17 00:37] raosudha89 commented on #90
Response from Sasha:

The main website is pretty bullet proof as it is just HTML. The main stress testing was with chat, zoom, and videos. For rocket.chat it started out relatively slow so we had to scale to server with more memory (we used hosted so we just asked them to do it). Cho mostly ran the volunteer process, here is what he did:

3. We noticed you had 500 volunteers.  What were their task

[2020-06-17 01:02] stupid-2020 commented on #86
ok.

Will update soon.

[2020-06-17 01:24] hao-fang commented on #19
@raosudha89 can you keep track of these two issues as well?

- [ ] #86
- [ ] #87

[2020-06-17 06:41] hao-fang opened #96 "[Question] Do not require users to change their password at first login"
... just to make the first-time login simpler.
I'm not sure how to do this in AWS Cognito.
If someone already knows about this, please post below.
Otherwise I'll take a look when I have time.

[2020-06-17 06:43] hao-fang commented on #59
Closing this since it seems to be a RocketChat problem which we don't have any control.
Disable restrictions on access inside any iframe seems to make the error go away, but I don't know exactly what it means.

![image](https://user-images.githubusercontent.com/9957482/84864148-132cb200-b02b-11ea-85c9-48f001ca9418.png)

[2020-06-17 06:43] #59 closed

[2020-06-17 07:34] hao-fang commented on #38
@GuyAglionby Do you know what credentials you need from RocketChat to create the channels using the python script?

[2020-06-17 07:40] GuyAglionby commented on #38
I think whoever runs the script needs permissions `create-c` and `edit-room` on their account ([list here](https://docs.rocket.chat/guides/administrator-guides/permissions))

[2020-06-17 07:57] hao-fang commented on #38
@GuyAglionby I've give all "volunteer" role with `create-c` and `edit-room` permissions. Can you try to see if it works for you?

[2020-06-17 09:43] georgepar commented on #23
Not sure how to do this. Any hints?

[2020-06-17 09:46] GuyAglionby commented on #38
Thanks, I've tested by creating the room for the first paper only and it works. However, I'm not able to leave as I'm the only owner of the room. Could we create a dummy account to assign ownership to so I can?

[2020-06-17 10:56] ardakdemir commented on #73
@hao-fang  Where should I get the relevant files for SRW papers to add them to papers.csv?

[2020-06-17 13:53] stupid-2020 commented on #87
I could update the [main.py](https://github.com/acl-org/acl-2020-virtual-conference/blob/master/main.py) and "merge" the duplicated records:

![image](https://user-images.githubusercontent.com/66775489/84906306-51d27300-b0e4-11ea-99a2-7a0035b84017.png)

Let me know if I should update the [main.py](https://github.com/acl-org/acl-2020-virtual-conference/blob/master/main.py) or simply update the [com

[2020-06-17 14:53] palooney commented on #93
I can work on this. How should I self-assign this task to me?

[2020-06-17 17:58] hao-fang commented on #93
@palooney Sure!

Here are some more instructions about creating pull requests.
[code]
You can then create the pull request on the GitHub. See https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request.

**NOTE**: Since we are on a fork, we should choose the "base" to be "acl-org/acl-2020-virtual-conference", instead of the "Mini-Conf/Mini-Conf`.

[2020-06-17 18:36] hao-fang commented on #87
@stupid-2020  This looks better than the previous version. Can you make the changes? Thanks!

[2020-06-17 21:52] sgdgp commented on #24
@hao-fang @raosudha89  Should I use the template of the "Workshops" page to list out the tutorials ?

[2020-06-17 22:24] dreasysnail commented on #20
Hi @Robert-Alonso
Another volunteer, Prabhat, wants to work on the social page. Do you mind to first sign up with the Help page?

[2020-06-17 23:29] hao-fang opened #97 "Remove a paper from sitedata_acl2020"
**Number of Volunteers: 1**

We need to remove paper 1327 "Rethinking Dialogue State Tracking with Incremental Reasoning".

[2020-06-17 23:39] hao-fang opened #98 "Fix the invalid images for regular paper pages"
**Number of Volunteers: 1**

Currently the images are missing for individual papers. We should just remove them for now.
![image](https://user-images.githubusercontent.com/9957482/84961331-dad3b500-b0b8-11ea-8d08-ba8321df5406.png)

We may be able to use https://github.com/Mini-Conf/image-extraction to extract a figure from the PDF, and use a default image if no figure is available.
But I don't kno

[2020-06-17 23:56] hao-fang commented on #38
@GuyAglionby I have sent you an account via email. Can you use that account to create the channels. I'll delete the one you have created.

[2020-06-18 00:01] hao-fang commented on #96
Did some research and it seems impossible unless we do
1) do not send email when create a new user
2) use this to create a pre-generated password https://docs.aws.amazon.com/cli/latest/reference/cognito-idp/admin-set-user-password.html

[2020-06-18 00:01] #96 closed

[2020-06-18 01:20] hao-fang commented on #24
@sgdgp Yes, let's use that template.

[2020-06-18 01:27] hao-fang commented on #23
@georgepar Let's do this.

Create a sub-page for each day during July 6 -- 8, like ICLR2020 did (https://iclr.cc/virtual_2020/calendar.html#tab-Monday). See the screenshot below.
![image](https://user-images.githubusercontent.com/9957482/84966954-aca9a180-b0c7-11ea-8c88-2ee7baa82870.png)

Each sub-page contains the plenary sessions on that day.  Here is our schedule.

## July 6
![image](https://us

[2020-06-18 01:39] hao-fang commented on #30
@dpappas I merged the PR in the `sitedata_acl2020`. Can you see how you would implement the search-by-track function? Maybe give some examples? I'm still not sure how this would work.

[2020-06-18 01:50] hao-fang opened #100 "Get rid of "Multidisciplinary and Area Chair COI" track in `papers.csv`"
**Number of Volunteers: 1**

Probably need to re-run scripts used for #8 or #94 .
The "Multidisciplinary and Area Chair COI" papers should have been distributed to different tracks.
I'm waiting for confirmation from PCs.

[2020-06-18 02:21] #37 closed

[2020-06-18 02:36] prabhat1081 commented on #98
I tried out the tool in Google Colab with ACL2019 paper: https://arxiv.org/pdf/1901.05415.pdf. The tool does work for it.
![image](https://user-images.githubusercontent.com/7499972/84971544-d962b680-b0d1-11ea-9df9-737a1bf66f91.png)

[2020-06-18 02:49] kaushal0494 commented on #21
Hi @hao-fang,  I have few queries:
1). What is expected for this " A high-level explanation of how to get the best experience of attending a workshop virtually"? Should we provide easy access to the deatils of the workshop page?  is is similar to 'help' instruction? Provide me your thoughts.

2). For the workshop "Overall schedule of workshops" - Should we use a tabular form like the ICLR 2020 sch

[2020-06-18 02:53] hao-fang commented on #98
@prabhat1081 This is cool! I can share all the PDFs with you.

Do we need to pay to run this on Google Colab? We have ~800 papers. If so, do you have an estimate?

[2020-06-18 03:00] hao-fang commented on #21
@kaushal0494

@raosudha89 can you answer this? I'm not sure what you had in mind.

I like these "Monday / Tuesday / ..." tabs. We will have one workshop on July 5, 10 on July 9, and another 10 on July 10.
I'm not sure about "Calendar", which I feel we should probably merge into the "Schedule" page rather than having two different places. Can we leave this one out for the first version?

[2020-06-18 03:02] kaushal0494 commented on #21
okay @hao-fang

[2020-06-18 03:05] prabhat1081 commented on #98
The free version of Google Colab does have [usage limits](https://research.google.com/colaboratory/faq.html#usage-limits) but those have not been specified. I can try running and see what can be done if we hit any limits.

[2020-06-18 03:12] hao-fang opened #101 "[RocketChat] Customize the Home page message"
**Number of Volunteers: 2**

Need to check with Dan & PCs about the message.

![image](https://user-images.githubusercontent.com/9957482/84973758-b71f6780-b0d6-11ea-818a-50518444694a.png)

The RocketChat admin page looks like below, i.e., we will need to use HTML to customize the body.
![image](https://user-images.githubusercontent.com/9957482/85322988-189b5980-b47c-11ea-8383-706549521932.png)

[2020-06-18 03:19] hao-fang opened #103 "Fix "detail" view on Papers page"
**Number of Volunteers: 1**

It seems that ICLR truncate the abstracts for the "detail" view. Can someone fix this?

ICLR version https://iclr.cc/virtual_2020/papers.html
![image](https://user-images.githubusercontent.com/9957482/84974199-a3c0cc00-b0d7-11ea-8291-3bf3ef49775a.png)

Our version
![image](https://user-images.githubusercontent.com/9957482/84974242-baffb980-b0d7-11ea-847e-e4bd41c4a676.p

[2020-06-18 03:24] hao-fang commented on #98
@prabhat1081 Cool! I'll send you the PDF via email.
If possible, can you keep the receipt if it incurs any charges so we can reimburse you? Thanks!

[2020-06-18 03:25] prabhat1081 commented on #98
Ok thanks!

[2020-06-18 03:31] hao-fang commented on #98
Potential issues:
* We may need to know how the mapping of paper IDs. It may use the ACL anthology ID, instead of the submission ID.
* We need to think about where to put the images. We can put it under `static/images/acl2020/papers`, but I'm not sure if this is too big for GitHub. Maybe we should directly upload it to a different place, e.g., AWS S3.

[2020-06-18 05:05] hao-fang opened #104 "[AWS] Cognito user pool admin"
**Number of Volunteers: 2**

We will need to have a volunteer to manage the AWS Cognito user pool, specifically,
- [ ] write a Python script to import registered users to the pool (#57)
- [ ] implement a solution to handle registration **during** the conference (#55)
- [ ] propose a solution to manage different groups
- [ ] write a Python script to update all current users based on the proposal
-

[2020-06-18 06:26] hao-fang commented on #90
One thing to test is to use different browsers and report which one worked. Should be added to the Help page. #20

[2020-06-18 06:44] hao-fang commented on #38
@GuyAglionby BTW, can we use `-` instead of `_`, which seems to be slightly easier to type (without the SHIFT key).

[2020-06-18 08:05] Robert-Alonso commented on #20
Sure, I'll be working on the help page first then

[2020-06-18 09:14] GuyAglionby commented on #38
Thanks, that's worked and this is partially finished. Just waiting on confirmation in https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/17 before completing.

[2020-06-18 10:56] georgepar commented on #72
@hao-fang are demo papers considered main conference papers? So do we just add them to papers.csv or we do a separate page?

[2020-06-18 13:04] raosudha89 commented on #24
@sgdgp : I am currently working on the tutorials page. I will list out the tutorials and assign specific tasks under it for you. I will tag you here with those tasks. Thanks.

[2020-06-18 13:40] palooney commented on #93
Thanks! Are there any additional instructions we would like to include?

[2020-06-18 14:04] raosudha89 commented on #24
- [ ] Create RocketChat channel for each tutorial
      @hao-fang: How can I create new channels on RocketChat? Do I have the permission?

[2020-06-18 14:27] raosudha89 commented on #21
@kaushal0494

I will work on this. I will insert a short blurb. But I will do that once all workshop material is in the website.

[2020-06-18 14:34] raosudha89 commented on #21
@kaushal0494  Can you help with inserting all workshop information? Follow the steps below:
- [ ]  I just updated the tutorial page with each tutorial information (https://github.com/acl-org/acl-2020-virtual-conference/pull/109). The goal is to do this for all workshops as well
- [ ] You can get each workshop information from https://acl2020.org/program/workshops/
- [ ] Update the workshops.csv fi

[2020-06-18 14:40] kaushal0494 commented on #21
@raosudha89 I am working on it. I will complete it soon.

[2020-06-18 14:41] raosudha89 commented on #21
Awesome, thanks :)

[2020-06-18 14:44] raosudha89 commented on #24
@sgdgp  and @hao-fang

I have created a basic tutorial page with all tutorial information added to it. Please review https://github.com/acl-org/acl-2020-virtual-conference/pull/109

- [ ]  Next, we need to think of a way to show the schedule of tutorials since some tutorials are occurring twice and some are occurring only once. Check this https://acl2020.org/program/tutorials/

[2020-06-18 14:52] stupid-2020 commented on #104
@hao-fang I could help on the script for importing all registered users.  And will check if I could help on the other tasks listed.

[2020-06-18 15:09] hao-fang commented on #25
@jcklie @Chandrahasd @nickatomlin @luanyi
The current page looks nice!
I briefly tested the https://virtual.acl2020.org/sponsor_3.html.
Here are some points I found.
- [ ] Make sure all clickable links are working.
   - [ ] "Visit Website" is not working
- [ ] Add `target="_blank"` to all clickable links so it opens a new "external" pages.
- [ ] It seems that after the page load, it still auto-foc

[2020-06-18 15:22] hao-fang commented on #100
See https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/17#issuecomment-646091751

[2020-06-18 15:45] hao-fang commented on #93
@palooney Probably explains how to do a PR that involves changes in `sitedata_acl2020`, which is a submodule.
Basically there are a few steps.
1. Make the changes in `sitedata_acl2020`
2. Create a PR in the `sitedata_acl2020` repo
3. After the PR in `sitedata_acl2020` is merged, bump the version in the main repo in your branch by `git pull`.
4. Create a PR in the main repo.

Would be useful to add

[2020-06-18 15:52] hao-fang commented on #24
@raosudha89 Yes, you have the permission to create channels. Let me know if it doesn't work. I've also sent an email to our committee about RocketChat channels. You can find some explanation there.

[2020-06-18 15:53] hao-fang commented on #104
Thanks. I'll get send sample file to you via email later today.

[2020-06-18 16:05] GuyAglionby commented on #38
Ok, should be done now @hao-fang

[2020-06-18 16:44] jcklie commented on #25
For the sponsors.html:

- [ ] If you resize the page, then the images overlap before hitting the responsive breakpoint to be one below each other
- [ ] Some transparent logos get a grey background, I would make the background white for all

[2020-06-18 16:54] #103 closed

[2020-06-18 16:55] #100 closed

[2020-06-18 18:46] raosudha89 commented on #19
- [ ] Find the right way to embed two videos into the homepage

Details:
I was trying to embed to two videos in this page using the code below:

 <div class="col-md-4 col-sm-12">
    <dt>Welcome message from General Chair and Program Chairs</dt><br/>
    <div id="presentation-embed" class="slp embed-responsive embed-responsive-16by9"></div>
    <script src='https://slideslive.com/embed_presentatio

[2020-06-18 19:59] palooney commented on #93
Sure! I have created a new PR for this.

[2020-06-18 20:57] hao-fang opened #115 "Make content in `template/index.html` configurable"
**Number of Volunteers: 1**

Currently the content are hard-coded. It's better to make them configurable so we can upstream this to Mini-Conf in future.
- [ ] Revert [these lines]( https://github.com/acl-org/acl-2020-virtual-conference/blob/master/templates/index.html#L64-L97) back to `{{readme | markdown }}`.
   * create a `README-ACL2020.md` in the main repo, and let the `main.py` loads this fil

[2020-06-18 21:22] #97 closed

[2020-06-18 23:30] hao-fang commented on #73
@ardakdemir Here are the papers. Please let me know if you need any additional information.

[ACL SRW 2020 Live QA Slots (for website).xlsx](https://github.com/acl-org/acl-2020-virtual-conference/files/4801679/ACL.SRW.2020.Live.QA.Slots.for.website.xlsx)

[2020-06-18 23:55] hao-fang opened #118 "[AWS] verify all user emails to make sure they can reset passwords"
I'll do it and document the command.
I should also update the bash script.

[2020-06-18 23:59] #98 closed

[2020-06-19 00:38] hao-fang commented on #53
close this for now. we can re-open after the conference

[2020-06-19 00:38] #53 closed

[2020-06-19 02:43] hao-fang commented on #55
Useful resources:
https://aws.amazon.com/blogs/aws/new-receive-and-process-incoming-email-with-amazon-ses/

[2020-06-19 03:13] hao-fang commented on #56
Admin -> General

![image](https://user-images.githubusercontent.com/9957482/85093094-185f3d80-b1a0-11ea-984b-b3c30f802656.png)

[2020-06-19 03:53] hao-fang commented on #104
@stupid-2020 Can you write a Python script to consume a xlsx/csv file with following columns?
* Last Name
* First Name
* Middle Name
* Preferred Name
* Affiliation
* Timezone
* Country
* Email

I think you can use boto3. The equivalent AWS CLI command for each row would be
[code]
where `${email}` should be the Email column, and `${name}` should be `${FirstName} ${LastName}` columns.

Also, can you

[2020-06-19 03:55] hao-fang commented on #55
Old proposals (see the new solution in the issue description)

### Solution 1: manually create users
In the worst case, we just assign some on-call volunteers to respond to these adhoc registrations. The volunteer will create the user using the [bash script](https://github.com/acl-org/acl-2020-virtual-conference/tree/master/awscognito).

### Solution 2: user sign-up + manual verification
See [Allo

[2020-06-19 04:03] hao-fang commented on #86
@stupid-2020 FYI -- @raosudha89 has reached out to committee members to get their photos.

[2020-06-19 05:34] hao-fang commented on #118
https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/cognito-idp.html

[2020-06-19 06:28] hao-fang commented on #118
See #122

[2020-06-19 06:41] hao-fang opened #124 "Fix workshops page"
**Number of Volunteers: 1**

**NOTE**: Check with @kaushal0494 first since he is working on #21.

Currently it looks like below.
![image](https://user-images.githubusercontent.com/9957482/85104169-ec9e8080-b1bc-11ea-91de-42e0ebf9cc35.png)

We should make each box roughly at the same size. Probably we need to replace the text with a blurb. If so, we need to ask workshop organizers to provide such i

[2020-06-19 06:57] hao-fang commented on #53
AWS Lambda set up for `signin.acl2020.org`.

### serverlessrepo-acl2020-virtual-co-CheckAuthHandler-xxxxx
![image](https://user-images.githubusercontent.com/9957482/85105339-34260c00-b1bf-11ea-9292-89cf664eefa5.png)

* Save
* Action ->Publish New Version
* Action -> Deploy to Lambda@Edge

### serverlessrepo-acl2020-virtual-co-ParseAuthHandler-xxxxx
![image](https://user-images.githubusercontent.co

[2020-06-19 07:04] kaushal0494 commented on #21
@hao-fang can you provide instructions- how to run locally to see the website page. I run `make format` and all tests are passed.

[2020-06-19 07:11] stupid-2020 commented on #104
@hao-fang   Will do the following:
1. Read xlsx/csv file and validate the entries
2. Check duplicates (by comparing ${FIrstName}, ${LastName} and ${MiddleName})
3. Implement the function of creating user using boto3
4. Create test scripts to create and delete user

**Reference:**
[https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/cognito-idp.html](https://boto3.amazonaws.c

[2020-06-19 07:15] stupid-2020 commented on #86
@hao-fang @raosudha89  I will update the file once I have the information.  Thanks.

[2020-06-19 08:11] georgepar commented on #23
@hao-fang
Hi Hao,

Can you share the plenary schedule so I can include them and close this?
Basically we need something that is close to the fields of [this YAML](https://github.com/acl-org/acl-2020-virtual-conference-sitedata/blob/master/speakers.yml)

[2020-06-19 08:23] penny9287 commented on #88
@hao-fang  Hi, I want to know if I should create a new csv file to map the SubmissionID to SlidesLive presentation ID or just insert the SlidesLive presentation ID into the current paper.csv? Moreover, I can't access the "sitedata_acl2020" repo.

[2020-06-19 08:42] hao-fang commented on #21
You can do ‘make run’ to start the server locally.

[2020-06-19 09:21] kaushal0494 commented on #21
@hao-fang  all the format tests are passed.
When I am running `make run` then through this error

make run
export FLASK_DEBUG=True; export FLASK_DEVELOPMENT=True; python3 main.py sitedata_acl2020/
Traceback (most recent call last):
  File "main.py", line 465, in <module>
    extra_files = main(args.path)
  File "main.py", line 51, in main
    for p in site_data[typ]:
KeyError: 'papers'
Makefile:23

[2020-06-19 11:47] raosudha89 commented on #21
It looks like your sitedata_acl2020 is most likely empty. Did you follow steps here https://github.com/acl-org/acl-2020-virtual-conference/blob/master/CONTRIBUTING-ACL2020.md to link correctly to the other private repo that contains acl2020 sitedata?

[2020-06-19 12:00] raosudha89 commented on #124
@hao-fang  What if we don't include the blurb (description) instead just have the title and the list of organizers? I did that for tutorials page https://virtual.acl2020.org/tutorials.html

I think at this point asking workshop organizers for a shorter text is going to take additional time. And anyways, it is just a matter of someone clicking on the link. They can then view the description in the

[2020-06-19 12:02] raosudha89 commented on #21
@kaushal0494  We recently added a new workshop W20 https://acl2020.org/program/workshops/#w20-nlpcovid  Can you update workshops.csv with its information as well? Thanks.

[2020-06-19 13:05] kaushal0494 commented on #21
@raosudha89 I will update the contents workshops.csv and submit a PR.  Your suggestion looks good to me.

[2020-06-19 13:35] kaushal0494 commented on #21
@raosudha89 Done!

[2020-06-19 15:14] raosudha89 commented on #21
Thanks! I don't see a PR for this. Did you merge it with your previous workshop PR?

[2020-06-19 15:17] raosudha89 commented on #21
Great, I have approved and merged your PR on sitedata repo.

[2020-06-19 17:12] hao-fang commented on #124
@raosudha89 Sure. Let's do the simple version.

[2020-06-19 17:15] raosudha89 commented on #124
Sounds good. I will work on this.

[2020-06-19 17:28] raosudha89 commented on #124
Done and created a PR for this https://github.com/acl-org/acl-2020-virtual-conference/pull/130

[2020-06-19 17:53] #124 closed

[2020-06-19 17:57] hao-fang commented on #88
@GuyAglionby @georgepar -- Do you have any advice on this one since you have been working on these related files?

@penny9287 I just added you to that repo.

[2020-06-19 18:04] GuyAglionby commented on #88
Seems reasonable to just add a new column to `papers.csv`, maybe by editing https://github.com/acl-org/acl-2020-virtual-conference/blob/master/scripts/paper_import.py so we can easily regenerate the file in one go if necessary.

[2020-06-19 21:15] raosudha89 commented on #64
@hao-fang  and I decided that it would not make sense to have a separate page for SRW. We can just consider this as another track (under different tracks of papers). So closing this issue.

[2020-06-19 21:15] #64 closed

[2020-06-19 21:16] raosudha89 commented on #30
- [ ] Student Research Workshop should be one of the tracks.

[2020-06-19 21:28] raosudha89 commented on #89
@hao-fang : I am not if we want a separate page for this. As suggested by PCs, when can group this all under schedule where we can show all the plenary sessions (i.e. live sessions).

Plenary Sessions include Keynote Talks (pre-recorded talk and live Q&A), live award ceremonies (Lifetime Achievement, Distinguished Service, Test of the Time and Best Paper) and ACL Business Meeting (pre-recorded tal

[2020-06-19 22:25] ardakdemir commented on #73
Thanks!

[2020-06-20 02:41] sgdgp commented on #24
@raosudha89 which task should I focus on in this issue ?

[2020-06-20 03:02] sgdgp commented on #84
@hao-fang Will this be incorporated under #23 (as I find mention of making keynotes as plenary sessions and adding them) ?

[2020-06-20 03:51] hao-fang opened #134 "Use relative path instead of full URLs in sitedata_acl2020/tutorial_calendar.json"
**Number of Volunteers: 1**

... this will make it easy to debug locally

[2020-06-20 04:03] hao-fang opened #135 "Improve Workshops & Socials pages"
Use the same size for all boxes.
Also, the font seems to be a small and different from other top-level pages. Please fix.

![image](https://user-images.githubusercontent.com/9957482/85190732-2c727000-b270-11ea-8fb0-cfb496f28826.png)

![image](https://user-images.githubusercontent.com/9957482/85190754-56c42d80-b270-11ea-9608-053ec3c455a1.png)

[2020-06-20 04:07] hao-fang commented on #84
@sgdgp Oh yes, you are right. I'll close this one. Thanks for catching this.

[2020-06-20 04:07] #84 closed

[2020-06-20 04:14] hao-fang opened #136 "Extract images from SRW and demo papers"
- [x] Ask SRW chair to get the PDFs
- [ ] Ask Demo chairs to get the PDFs
- [ ] Extract images and add them to the repo

[2020-06-20 04:28] kaushal0494 commented on #21
@raosudha89 Let me know ..what next I should focus in this issue?

[2020-06-20 04:40] hao-fang commented on #88
@penny9287 Can you try to do that? We would like to get this done before June 22. Thanks!

[2020-06-20 04:51] hao-fang commented on #21
@kaushal0494 Can you do the following two things first?
- [ ] move `workshop.html` and `workshops.html` from the root folder to the `template/`.
- [ ] improve the `workshop.html` page

Currently it looks below.
![image](https://user-images.githubusercontent.com/9957482/85192133-43b45c00-b276-11ea-983e-56e5223e851b.png)

Let's chat this to something like below. Probably you can check https://github

[2020-06-20 04:53] penny9287 commented on #88
Yes, I can do that.------------------ 原始邮件 ------------------发件人: Hao Fang  <notifications@github.com>发送时间: 2020年6月20日 12:41收件人: acl-org/acl-2020-virtual-conference <acl-2020-virtual-conference@noreply.github.com>抄送: penny9287 <21gram0807@gmail.com>, Mention <mention@noreply.github.com>主题: 回复：[acl-org/acl-2020-virtual-conference] Add the SlidesLive ID formain conference papers (#88)

Seems reasona

[2020-06-20 04:54] kaushal0494 commented on #21
Sure @hao-fang I am on it. Thanks!

[2020-06-20 05:02] #33 closed

[2020-06-20 05:44] hao-fang opened #137 "Figure out the right way to embed SlidesLive videos on the Home page"
**Number of Volunteers: 1**

See https://github.com/acl-org/acl-2020-virtual-conference/issues/19#issuecomment-646242274 for more details

[2020-06-20 05:53] hao-fang commented on #31
close this -- we will not have time for it

[2020-06-20 05:53] #31 closed

[2020-06-20 05:55] hao-fang opened #138 "Prevent auto-focus on the RocketChat channel in the regular paper page"
**Number of Volunteers: 1**

On the regular paper page, it auto-focuses on the RocketChat channel after the page is loaded.
Is there a way to prevent this?

[2020-06-20 05:58] hao-fang opened #139 "Figure out a better way to display the Track of a paper"
**Number of Volunteers: 1**

There may have two colons when displaying the track.
![image](https://user-images.githubusercontent.com/9957482/85193715-f63cec80-b27f-11ea-820c-3dd5c94c36f3.png)

Is there a better way to display the information?
Also we may want to make the track as a clickable link, but it depends on how we implement #30 .

[2020-06-20 06:07] sgdgp commented on #137
working on this

[2020-06-20 06:36] sgdgp commented on #137
Created a PR. I changed the div id for the second video and called the same (new) div id from the javascript to embed the video.

[2020-06-20 06:57] #137 closed

[2020-06-20 07:03] hao-fang opened #141 "update `poster_schedule.yml` for SRW papers"
This PR https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/31 only adds the papers. Still needs to add the slots to the schedule.

[2020-06-20 07:04] ardakdemir commented on #141
Sure!

[2020-06-20 07:07] hao-fang opened #142 "Refactor main.py to handle different paper types"
I found it is a little difficult to follow the current `main.py` because we have different types of papers (main conference, SRW, demo).
And the `papers.csv`, `poster_schedule.yml`, `papers_recs.json`, `papers_projection.json` all not synced.

I'll work on a refactor of the `main.py` if I have time.
But for now, we need to figure out the steps to sync these files.
cc @GuyAglionby @georgepar @ardak

[2020-06-20 07:08] hao-fang commented on #142
and cc @prabhat1081 who has been working on extracting the images from PDFs

[2020-06-20 11:21] penny9287 commented on #88
@hao-fang  Hi, I created a new csv file named "papers_with_slide_id". The SlidesLive presentation IDs are inserted into the last column.
[papers_with_slide_id.zip](https://github.com/acl-org/acl-2020-virtual-conference/files/4807765/papers_with_slide_id.zip)

[2020-06-20 18:00] stupid-2020 commented on #104
@hao-fang I got the following message:

[code]

Any suggestion?

[2020-06-20 20:20] hao-fang commented on #23
@georgepar See https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/33 and https://github.com/acl-org/acl-2020-virtual-conference/pull/145

The rough schedule is here
![image](https://user-images.githubusercontent.com/9957482/85210770-9b46dc00-b2f7-11ea-9688-1662a3462dd7.png)

We will need to improve it.
- [ ] Rename the "Speakers" to "Plenary Sessions" in the page title
- [ ] Orde

[2020-06-20 20:23] hao-fang commented on #23
@OguzCennet Are you actively working on this ticket? I feel there may be a way to split the ticket into separate sub-tasks.

[2020-06-21 03:24] stupid-2020 commented on #104
Would it be possible to have a privileged page to pass the user information and call AWS Cognito API (boto3) on request?

[2020-06-21 14:07] raosudha89 commented on #89
Closing this one since we  have the Plenary Sessions (under Schedule) (https://github.com/acl-org/acl-2020-virtual-conference/issues/23) that includes all of this.

[2020-06-21 14:07] #89 closed

[2020-06-21 14:29] raosudha89 commented on #24
@sgdgp I think the next task here it to customize each tutorial page (e.g. https://virtual.acl2020.org/tutorial_T1.html),  since not all tutorials have the same format this year.

Here is the per tutorial information https://docs.google.com/spreadsheets/d/1aUIrybF8vkIMSXLcEReD6jIBHMPy8PGNFj3M3TMIZgc/edit#gid=936853935

- If a tutorial has pre-recorded video: Add the slideslive embedding code to ad

[2020-06-21 15:46] sgdgp commented on #24
@raosudha89 Ok. I will work on this.

[2020-06-21 17:32] raosudha89 commented on #23
In the schedule tab, under each of the days (Monday, Tuesday, Wednesday), I think it is more useful to show the events in the form of a calendar so that people can understand what time is the event in their own timezone. Just listing it out might be less useful.

We can have an "Overall Calendar" that shows the events for all days. And then additionally show each day separately again in form of a

[2020-06-21 18:17] raosudha89 commented on #135
I created a PR for making all workshop blocks of equal height: https://github.com/acl-org/acl-2020-virtual-conference/pull/147

[2020-06-21 18:19] raosudha89 commented on #18
- [ ] We should include 'Sunday' also in the calendar for tutorials.

[2020-06-21 18:33] raosudha89 commented on #21
@hao-fang  and @kaushal0494

I am going to work on displaying a high-level schedule for the workshops in the form of a calendar (just like we have for [tutorials](https://virtual.acl2020.org/tutorials.html)). I think this will be useful since each workshop has a different timeslot as given [here ](https://docs.google.com/spreadsheets/d/1sTRj-skkp7qYz1zwqvmPuXRay6HIHEOS7NOuUMsW8oE/edit#gid=93685393

[2020-06-21 18:58] hao-fang commented on #104
@stupid-2020 I have updated https://github.com/acl-org/acl-2020-virtual-conference/issues/55 with a Zapier + AWS Lambda solution. It can re-use some of the python code you've been developing.
Can you check that to see if this makes sense to you?

I'm not sure I understand what the privileged page look like..

[2020-06-21 21:16] raosudha89 commented on #21
Below is a screenshot of the new view of workshops:

![image](https://user-images.githubusercontent.com/7291397/85235446-c4d03800-b3c9-11ea-9a5c-3a1b05e68fd4.png)

[2020-06-21 23:24] GuyAglionby commented on #142
The 3 types of paper are differentiated by their volume, stored as part of the ID. As they share all the same fields they could share the same `paper.csv` and just be filtered on load, though it may be easier for ingestion reasons if they're stored in their own files.

`papers.csv` and `poster_schedule.yml` can certainly be generated in the same script to ensure consistency.

I think the most usef

[2020-06-22 01:32] stupid-2020 commented on #104
It make sense to me.  Could add function `create_user` to the `lambda_handler`.  It should be fully automated then.

[2020-06-22 01:40] stupid-2020 commented on #104
@hao-fang I think I am able to complete the lambda_handler, but I haven't written any AWS lambda function before.  (I think it should be implemented at AWS Lambda console, right?)

[2020-06-22 03:04] kaushal0494 commented on #21
@hao-fang @raosudha89 my apologies due to heavy rain in India, my internet was down from the last 2 days. I will complete the specified tasks today. Thank you!

[2020-06-22 03:07] kaushal0494 commented on #21
@raosudha89 This looks good to me. Easy to priorities- the workshops user wants to attend.

[2020-06-22 04:47] hao-fang commented on #104
@stupid-2020 Once the python script is ready, I can help the AWS Lambda part or find another volunteer. Basically it would look like something below
[code]

Then `event` is a dictionary sent from Zapier.

[2020-06-22 04:49] hao-fang commented on #23
@raosudha89 We may test whether the calendar view can show enough context information about the event. The title itself may not be informative enough. The current "card" view have more opportunity to show the start-end time, speaker, and some description about the meeting.
But if you or some volunteer can implement a calendar view, then we can see how it works. Because of the current time constrai

[2020-06-22 06:05] tlikhit commented on #135
I switched a few things up and fixed the socials and workshop pages: #149

[2020-06-22 07:51] #135 closed

[2020-06-22 07:52] hao-fang commented on #21
@raosudha89 looks good. Would it be possible to add workshop titles and organizers?

[2020-06-22 09:26] stupid-2020 commented on #138
**Method 1:**
Reference: [PE-149 Prevent iframe steals focus](https://github.com/RocketChat/Rocket.Chat/issues/9347)
Add JavaScript to show the iframe once the frame is loaded
[code]
I tried to set the timeout to 2000 but problem still persists.  I guess it depends on the browser's rendering speed.

**Method 2:**
Add a `floating button`.  When user click the button, show the RocketChat iframe and

[2020-06-22 13:36] raosudha89 commented on #21
Here is a view with title and organizer list. Let me know if it is looking too busy.

![image](https://user-images.githubusercontent.com/7291397/85293813-b7ab5b80-b452-11ea-8899-969421de22a7.png)

[2020-06-22 14:16] georgepar commented on #142
@hao-fang After this refactoring I get the following error when trying to run make freeze (I've pulled master for the repo and the sitedata)

[code]
Did something break, or am I doing smth wrong?

[2020-06-22 15:36] raosudha89 commented on #23
@hao-fang  Sounds good. I will wait for the workshop multiple calendar view issue https://github.com/acl-org/acl-2020-virtual-conference/pull/153 to be fixed and then I will create a demo for this and share it here.

[2020-06-22 15:42] raosudha89 commented on #21
Here is a PR for this feature https://github.com/acl-org/acl-2020-virtual-conference/pull/153

[2020-06-22 15:52] raosudha89 commented on #21
@ardakdemir

- [ ] Can you work on customizing each workshop page with their detailed schedule?

Check tabs named (July 5, July 9 and July 10) is [this spreadsheet](https://docs.google.com/spreadsheets/d/1sTRj-skkp7qYz1zwqvmPuXRay6HIHEOS7NOuUMsW8oE/edit#gid=261172372) to get the detailed schedule for each workshop.

Also, [this page](https://acl2020.org/program/workshops/) contains links to the in

[2020-06-22 16:24] hao-fang commented on #142
@georgepar hmm.. interesting, it works on my local env & in the GitHub Action.
Can you try `pip install -r requirements.txt`? I added `jsons` to the requirements so you might miss that package for serializing dataclasses.

[2020-06-22 16:29] hao-fang commented on #21
@raosudha89 @kaushal0494 This looks nice. Can you test some different timezone? For example, it the whole schedule now span 2 days because of the timezone difference?

[2020-06-22 16:44] hao-fang commented on #18
@tanvidadu I think we should first add all QA sessions to the calendar.
The QA sessions are explained https://github.com/acl-org/acl-2020-virtual-conference/issues/74
For now, I think you should grab `sitedata_acl2020/poster_schedule.yml` and add the sessions (e.g., 1A, 1B, ...) to the calendar.

[2020-06-22 16:46] hao-fang opened #154 "Merge #71 from Mini-Conf"
**Number of Volunteers: 1**

Can someone take the changes from this PR and merge it into our fork?
https://github.com/Mini-Conf/Mini-Conf/pull/71/files

[2020-06-22 17:15] hao-fang opened #157 "Add PDF links to ACL Anthology"
**Number of Volunteers: 1--2**

ACL2020 proceedings are now live at https://www.aclweb.org/anthology/events/acl-2020/
We should add PDF links of individual papers.

cc @GuyAglionby in case your script can do this easily

[2020-06-22 17:25] jcklie commented on #16
@salma-elanigri How is your progress so far? I would like to support you on this task but do not want to get in your way. Which tasks are you working on right now and which can I take?

[2020-06-22 18:00] #138 closed

[2020-06-22 18:01] hao-fang commented on #138
@stupid-2020 -- Thanks. I think @jcklie also noticed this and figured the 2nd solution seems to be the only one.
I changed the layout with #158 and it seems to work okay now that the RocketChat and SlidesLive are on the same "row".
I'm closing this issue for now. But if this bothers people, we can re-open again.

[2020-06-22 18:03] hao-fang commented on #20
@Robert-Alonso @dreasysnail -- It seems that this issue is done? I'm closing it now.
But if you are still working on it, feel free to re-open or create a new issue.

[2020-06-22 18:03] #20 closed

[2020-06-22 18:07] hao-fang commented on #27
@Robert-Alonso @dreasysnail -- I think the current version is good for a basic website.
We can do enhancement with follow-up issues. So I'm closing this ticket for now.
But if you are still working on it, feel free to re-open it.

[2020-06-22 18:07] #27 closed

[2020-06-22 18:11] hao-fang commented on #93
@palooney I'm closing this for now to clean up our backlogs. But we may need to add more instructions about the `git submodule`. We can open a new issue then.

[2020-06-22 18:11] #93 closed

[2020-06-22 18:12] hao-fang commented on #101
We should put the list of channels on the Home Page, e.g.,
* announcements, firsttimers, ...
* workshop-xxx
* tutorial-xxx
* sponsor-xxx
* keynote-xxx

[2020-06-22 18:29] hao-fang commented on #101
We should also put the CodeOfConduct and etc. on the Home page for visibility.

[2020-06-22 18:38] kaushal0494 commented on #21
@raosudha89  @hao-fang I observer some problem when the whole schedule now spans 2 days because of the timezone difference. It is not in a wrap-around manner.

1). Asia/macau
![pic1](https://user-images.githubusercontent.com/7456682/85322805-84b1a800-b4e4-11ea-8047-0b7853f517ba.png)
2). HongKong
![pic2](https://user-images.githubusercontent.com/7456682/85323192-37820600-b4e5-11ea-92cc-dd5e032a2cfa

[2020-06-22 18:40] salma-elanigri commented on #16
Hi @jcklie ! I am working on this task " See if we can display the time of the paper in the current timezone of the attendee (as used by the schedule calendar). " I tried to  use the moments and moment-timezonejs to convert the session.time to the user time zone but I don't how to make it work inside a Jinja loop.

[2020-06-22 18:45] jcklie commented on #16
You can use the `static/js/time-extend.js` function we already wrote and use throughout the website, e.g. on the [sponsor page](https://github.com/acl-org/acl-2020-virtual-conference/blob/master/templates/sponsor.html#L119). You need to format the time in a particular format, then it does the rest for you.

[2020-06-22 18:49] salma-elanigri commented on #16
thanks I will check this.

[2020-06-22 19:36] raosudha89 commented on #21
@kaushal0494  When a workshop spans multiple days (because of different timezones), it should show up on the tab of the next (or the previous) day. For this we may have to include July 8 and July 11 tabs as well. It would be nice if this shows up only for those whose agenda spills over into those other days.

@kaushal0494  How about we fix https://github.com/acl-org/acl-2020-virtual-conference/pul

[2020-06-22 20:15] GuyAglionby commented on #157
This should be pretty straightforward if the IDs here are parallel with those used in the Anthology, though I'm not sure that this is the case at the moment with the Demo and SRW papers. Would it be useful if I generated a mapping of submission id -> Anthology id for these?

[2020-06-22 20:36] hao-fang commented on #157
@GuyAglionby That sounds good! Are you using exact match on the title to get the mapping?
I think this is a general good practice, because in theory, we will always get the session slots assigned using the submission ID. The Anthology ID will be a relatively independent process and we do not want it to block the website development.

[2020-06-22 20:45] GuyAglionby commented on #157
That's the plan. That also makes sense!

[2020-06-22 20:48] hao-fang opened #160 "RocketChat emoji"
**Number of Volunteers: 1**

We want to add some common emoji to our RocketChat channel, e.g., "ACL logo", "Thank You", etc.
I'd like to have one volunteer to be the emoji admin who will do the following.
- [ ] collect information about emoji & make a proposal about what to include
- [ ] ask ACL2020 committee to review it
- [ ] upload the emoji to RocketChat

If you don't have time to be the admin

[2020-06-22 22:01] GuyAglionby commented on #157
There's 5 SRW papers that are in the current [srw_papers.csv](https://github.com/acl-org/acl-2020-virtual-conference-sitedata/blob/master/srw_papers.csv) but aren't on the Anthology: submission IDs 46, 79, 99, 105, 115, 116. Can we confirm if they should be included?

[2020-06-22 22:09] vladdy commented on #139
@hao-fang What do you think about putting the track above the title in a form like:

Track "Semantics: Textual Inference and Other Areas of Semantics"

It probably could be made italic as well.

[2020-06-22 23:35] GuyAglionby commented on #157
Here are the mappings: [demo-ids.xlsx](https://github.com/acl-org/acl-2020-virtual-conference/files/4816108/demo-ids.xlsx) [srw-ids.xlsx](https://github.com/acl-org/acl-2020-virtual-conference/files/4816110/srw-ids.xlsx). #72 and #73 are still open: should I leave it to those authors to integrate these into their ingestion scripts? (I think they're slightly modified from the one used for main trac

[2020-06-23 00:25] hao-fang opened #165 "Fix the webcal for individual papers"
**Number of Volunteers: 1**

I somehow breaks the ICS files and I got invalid file error when importing it to my Calendar app.
Should be an easy fix in this function http://github.com/acl-org/acl-2020-virtual-conference/blob/f63e5da66c7319a479de97667b6f2b3878c99460/main.py#L136-L136

[2020-06-23 00:29] hao-fang opened #166 "Fix the autocomplete in search"
**Number of Volunteers: 1**

It seems that there is something wrong with the font size in the search bar.
![image](https://user-images.githubusercontent.com/9957482/85347595-e0ad0a00-b4ad-11ea-89a9-1be8dbe33f04.png)

[2020-06-23 01:05] GuyAglionby commented on #165
I think the problem is that the files are behind a login wall, so calendar apps aren't able to grab them. If I `wget https://virtual.acl2020.org/paper_main.336.0.ics` I get redirected to the regular login page

[code]

However, if I try to import `http://localhost:5000/paper_main.336.0.ics` to Apple calendar (while a dev server is running) it works fine

[2020-06-23 01:17] stupid-2020 commented on #86
@hao-fang @raosudha89  Would like to ask if the information is ready.  Thanks for your attention.

[2020-06-23 01:22] #134 closed

[2020-06-23 02:14] #142 closed

[2020-06-23 02:29] hao-fang commented on #30
Closing this with #167
We will need follow-up PRs to fix several issues.

[2020-06-23 02:29] #30 closed

[2020-06-23 02:42] hao-fang commented on #165
@GuyAglionby
Hmm... ok.. I think the easy fix is to host these ics files in a different public place, which should be easy to do.
But I wonder whether we can quickly test this solution https://github.com/commonpike/add-to-calendar-buttons

[2020-06-23 03:16] hao-fang commented on #139
@vladdy Thanks for the suggestion! (cc @salma-elanigri since he is working on #126
I think at this moment, the right solution is to make the track clickable. With #167 we will have a HTML page for each track.

[2020-06-23 03:28] #154 closed

[2020-06-23 03:35] hao-fang opened #169 "Improve Home page layout"
**Number of Volunteers: 1**

The two videos are a little too small. Can anyone check if we can improve the layout a little bit?

![image](https://user-images.githubusercontent.com/9957482/85358094-bc5e2700-b4c7-11ea-9f0d-be1f72e6c287.png)

[2020-06-23 03:38] Robert-Alonso commented on #20
Hi @hao-fang, ok 👍 the remaining info to update would be just the details about last minute registration and browser compatibility, which depend on [#55](https://github.com/acl-org/acl-2020-virtual-conference/issues/55) and [#90](https://github.com/acl-org/acl-2020-virtual-conference/issues/90).

[2020-06-23 04:58] kaushal0494 commented on #21
@raosudha89 I will work on fixing #153

[2020-06-23 05:55] hao-fang commented on #157
I went ahead to re-generate the `demo_papers.csv` and `srw_papers.csv`.
https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/45
https://github.com/acl-org/acl-2020-virtual-conference/pull/171

@georgepar @ardakdemir -- we still need to get the session information into the `paper_schedule.yml`.

[2020-06-23 06:08] hao-fang opened #172 "Update paper_schedule.yml with the live QA sessions for demo and SRW papers"
**Number of Volunteers: 2**

I have already added demo_papers.csv and srw_papers.csv in #171 .
We still need to update the `paper_schedule.yml`.

cc @ardakdemir @georgepar since you two have been working on this.

* SRW sessions: https://github.com/acl-org/acl-2020-virtual-conference/issues/73#issuecomment-646355207
* demo paper sessions: should be in `sitedata_acl2020/inbox/DemoPapers_SHARED.xlsx

[2020-06-23 06:09] hao-fang commented on #73
Closing this, but I open a follow-up issue #172 .

[2020-06-23 06:09] #73 closed

[2020-06-23 06:10] hao-fang commented on #72
Closing this with #171
I opened a follow-up issue #172.

[2020-06-23 06:13] hao-fang commented on #136
@prabhat1081 We have added PDF urls in the `sitedata_acl2020/demo_papers.csv` and `sitedata_acl2020/srw_papers.csv`. Will you be able to extract images for those two files?
I think the SRW chair has also send the PDF via email. Not sure which one is easy.
If you need the demo PDFs in an email, I can ask the demo chairs to provide it.

[2020-06-23 06:17] hao-fang commented on #141
ah... sorry I forgot we already have an issue here. I have created a new one #172 so I'm going to close this.

[2020-06-23 06:17] #141 closed

[2020-06-23 06:19] #157 closed

[2020-06-23 06:22] hao-fang commented on #139
The current page looks like below
![image](https://user-images.githubusercontent.com/9957482/85367938-174f4880-b4df-11ea-9773-66f541f891c1.png)

We will just need to make the track `Semantics: Sentence Level` a clickable button to ``track_{{ track_name }}.html` (e.g., `track_Semantics:%20Textual%20Inference%20and%20Other%20Areas%20of%20Semantics.html`).

[2020-06-23 06:23] prabhat1081 opened #174 "Use the papers image path from config in paper.js and paper_vis.js"
The image path for the img of different paper is used in multiple locations (#121). The image path is now configured through the config.yml and updated in templates/components.html and templates/paper.html (#163).  The path is still hard-coded in papers.js and paper_vis.js which needs to be updated to use the configured path.

[2020-06-23 06:57] prabhat1081 commented on #136
Thanks @hao-fang. I have added the images for SRW papers in #176. I will use the links in demo_papers.csv to get the pdfs and add images.

[2020-06-23 07:10] hao-fang opened #177 "Re-create paper_recs.json and papers_projection.json with the latest files"
**Number of Volunteers: 1**

Since we have added `main_papers.csv`, `demo_papers.csv`, and `srw_papers.csv`, we will need to update the `paper_recs.json` and `papers_projection.json` accordingly.
We should either merge these three csv files into one or make the python scripts load them at once.

cc @georgepar and @GuyAglionby since it seems that you both have touched these two files?

[2020-06-23 07:42] #136 closed

[2020-06-23 08:05] hao-fang commented on #115
closing this b/c we don't have bandwidth for it.

[2020-06-23 08:05] #115 closed

[2020-06-23 08:06] hao-fang commented on #40
@ppartha03 any updates on this?

[2020-06-23 10:52] salma-elanigri commented on #16
![notfound](https://user-images.githubusercontent.com/36210302/85395269-c6c00580-b547-11ea-801a-bb6c67b0719f.PNG)
![paper_vis tml](https://user-images.githubusercontent.com/36210302/85395273-c7f13280-b547-11ea-829a-3fd46fcb68ce.png)

I have a problem with loading paper page after the last changes in the repository ( I already did a git pull)

[2020-06-23 11:31] GuyAglionby commented on #165
This is what the library gives:
![image](https://user-images.githubusercontent.com/1337259/85395519-30401400-b548-11ea-882e-07ebf5c0d61c.png)

The popup for the second session doesn't fit in the grey info box, and is cut off by `overflow:hidden` in `pp-card`. It looks fine if that's removed, but I'm not sure what that may break/why the property was there in the first place. Separately, I tried bri

[2020-06-23 14:10] raosudha89 commented on #18
@hao-fang and @tanvidadu  I will work on including 'sunday' in the calendar to make sure tutorials are seen. Instead of adding schedule of each tutorial (which is already shown under tutorials page), I will add a high-level session times under 'sunday' i.e.
- 6:00 AM to 9:30 AM (Seattle Time)
- 10:30 AM to 2:00 PM (Seattle Time)
- 3:00 PM to 6:30 PM (Seattle Time)

[2020-06-23 15:22] hao-fang commented on #165
@GuyAglionby I think this is nicer. Can you push a branch and I'll ask someone to take over?
@jcklie Can you help us to this one?

[2020-06-23 15:34] GuyAglionby commented on #165
Here we go https://github.com/acl-org/acl-2020-virtual-conference/tree/guyaglionby-20200623-ics-plugin

[2020-06-23 15:54] hao-fang commented on #18
@raosudha89 sounds good!
@tanvidadu We still need to add the QA sessions to the calendar. It seems that it can be done based on https://github.com/acl-org/acl-2020-virtual-conference/blob/master/scripts/README_Schedule.md ?

[2020-06-23 15:56] #177 closed

[2020-06-23 16:04] tanvidadu commented on #18
@hao-fang Yes, thanks, I'm on it!

[2020-06-23 16:06] #166 closed

[2020-06-23 17:11] #139 closed

[2020-06-23 17:12] raosudha89 commented on #18
@hao-fang  It looks like the entire main_calendar.json is still from ICLR. In addition to QA sessions, we need to add other events to this calendar as well. Do we already have other volunteers working on it?

[2020-06-23 17:15] hao-fang commented on #18
@raosudha89 I think @tanvidadu is working on it https://github.com/acl-org/acl-2020-virtual-conference/issues/18#issuecomment-648254468
But we need to double check the paper_schedule.yml file because it is not very clear which timezone it was.
I'll take a look later today when I have time.
Do you think we can manually enter information into the json file? Or should we follow https://github.com/acl

[2020-06-23 17:15] raosudha89 commented on #169
@hao-fang  How about instead of the two videos side-by-side, we can change it so that they are one below the other (with the announcement being the second column)?

If that sounds good, I can work on this.

[2020-06-23 17:25] hao-fang commented on #169
@raosudha89
I tried to put them one below the other, but it doesn't look very nice. But I have to admit that I'm not good at frontend design. Maybe you can try it..
FYI -- This is an enhancement which has lower priority. I put these issues under the "Website Enhancement" project. So we should prioritize those "Basic Website" issues first.

[2020-06-23 17:30] tanvidadu commented on #18
@hao-fang  @raosudha89 Yes, as of now, I've made followed the instructions from [https://github.com/acl-org/acl-2020-virtual-conference/blob/master/scripts/README_Schedule.md](https://github.com/acl-org/acl-2020-virtual-conference/blob/master/scripts/README_Schedule.md) assuming Seattle time. Could you kindly confirm the time zone of the paper_schedule.yml file?

[2020-06-23 18:04] hao-fang commented on #18
@tanvidadu The timezone is UTC+0. Is it easy to change the script?

[2020-06-23 18:05] jcklie commented on #165
I tried the overflow hidden and could not find anything breaking. I think it is only relevant if the height of the pp card is fixed, otherwise the overflow does nothing.

[2020-06-23 18:08] raosudha89 commented on #18
@tanvidadu The script you are working on will add the paper QA sessions to main_calendar.json right?
If yes, then once you do that, I can work on adding the following other events to the calendar:
- Plenary sessions
- Tutorials
- Workshops

[2020-06-23 18:10] raosudha89 commented on #24
@sgdgp  Is there any update on this? Just checking to see if you need help. We plan to do a dry-run of the website this Friday. So it would be helpful if we could get this done before that.

[2020-06-23 18:12] hao-fang commented on #18
@raosudha89 Probably you can make a similar `yaml` file so that we can modify that script to re-generate the `main_calendar.json` with two input files.
This way you two can work in parallel.
I'll think about how to automate this inside `load_site_data.py`.

[2020-06-23 18:16] hao-fang commented on #24
I did some changes on the page https://virtual.acl2020.org/tutorial_T1.html
But I didn't deal with the live vs. pre-recorded. We need to check with SlidesLive to see what kind of URL they will provide us for the livestream.

[2020-06-23 18:21] raosudha89 commented on #18
@hao-fang  @tanvidadu  As far as I understand, https://github.com/acl-org/acl-2020-virtual-conference/blob/master/scripts/README_Schedule.md script uses a given calendar (.ics file) to directly create main_calendar.json

Which script is being to generate yaml file?

I ask because, I can create a calendar (with plenary sessions, tutorials and workshops) and directly add entries into main_calendar.j

[2020-06-23 18:23] tanvidadu commented on #18
I created a .ics file and generated the json, however, I can write a script if needed for converting the YAML file.

@hao-fang Great, I'll do the same and change it for UTC+0.

@raosudha89 I agree, if there's no need for the YAML file, you may use the same procedure too.

[2020-06-23 18:24] raosudha89 commented on #18
@tanvidadu  Sounds great. I will update the main_calendar.json directly then. Thanks.

[2020-06-23 18:52] tanvidadu commented on #18
I've created a PR in the sitedata repository for adding the QA sessions into the main_calendar.json.

[2020-06-23 21:47] raosudha89 commented on #18
Great. I will work on adding rest of the sessions as detailed in [this spreadsheet](https://docs.google.com/spreadsheets/d/1sTRj-skkp7qYz1zwqvmPuXRay6HIHEOS7NOuUMsW8oE/edit#gid=936853935) into the main_calendar.json

[2020-06-23 22:08] raosudha89 commented on #18
I have created a PR for this https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/49

[2020-06-23 22:27] vladdy commented on #101
@hao-fang I could do this. Do we have a list of channels somewhere already?

[2020-06-23 22:29] vladdy commented on #55
@hao-fang  Do you need a help with this?

[2020-06-23 22:30] vladdy commented on #19
@hao-fang is a volunteer still needed for this?

[2020-06-23 23:09] raosudha89 commented on #21
@kaushal0494 : You may want to look at changes in this PR https://github.com/acl-org/acl-2020-virtual-conference/pull/190  It would be nice to have a similar day/list view under workshops as well.

[2020-06-24 00:26] hao-fang commented on #55
@vladdy Sure! Does the solution I described in the root post make sense to you? I think I need some help on the Zapier side. If you can help me on this, I'll put you in touch with the person who will set up the email forwarding.

[2020-06-24 00:28] hao-fang commented on #19
@vladdy
@raosudha89 is currently on this so I'll let her explain. My understanding is that this is basically done at least for the "Basic Website" task. We can improve the layout as a "Website Enhancements" if we have time #169 .

[2020-06-24 01:30] hao-fang commented on #18
@jcklie The new calendar looks nice!
I did some modification https://github.com/acl-org/acl-2020-virtual-conference/pull/193.
It looks like below now.
![image](https://user-images.githubusercontent.com/9957482/85486039-baa36a80-b57e-11ea-8eae-bbafdd2557b9.png)

There are still some things we may need to fix. Can you work on these items?
- [ ] Can we make "local" as the default Timezone?
- [ ] Figu

[2020-06-24 01:35] #172 closed

[2020-06-24 02:51] sgdgp commented on #24
@hao-fang @raosudha89  Sorry for the delay. I am working on this currently.
I see that the rocketchat rooms for the tutorials are not created yet. I see a reference to create rooms from #38. I will try that. Could you send me the dummy account credentials used to create the chat rooms for papers ?

[2020-06-24 02:54] kaushal0494 commented on #21
@raosudha89 Sure, let me check!

[2020-06-24 03:05] hao-fang commented on #24
@sgdgp I've send the account information to you.

[2020-06-24 03:35] hao-fang commented on #101
@vladdy We are collecting the information https://docs.google.com/spreadsheets/d/1S3u6Q401kDyyqXL1SEPBOIHawqHDEUN4F-B0KxOraLQ/edit?usp=sharing

Once it is ready, we can see how we should advertise these channels. I think the issue is with ~800 channels for papers, the user will not be able to browse all the channels and decide which one to join.
Let me know if you have any thoughts.

[2020-06-24 03:46] #72 closed

[2020-06-24 07:19] hao-fang opened #197 "create RocketChat channels for SRW papers"
**Number of Volunteers: 1**

Similar to #38, but we should use `sitedata_acl2020/srw_papers.csv` instead.

[2020-06-24 07:20] hao-fang commented on #197
@GuyAglionby  -- can you do this? Should be easy with your script, and you have the acl2020-admin-bot account information.

[2020-06-24 07:24] GuyAglionby commented on #197
Done!

[2020-06-24 07:41] hao-fang commented on #165
fwiw: It seems that we can change https://github.com/acl-org/acl-2020-virtual-conference/blob/81c16c802c60a27e0842d6a658811ddf1751bc23/static/js/add-to-calendar.js#L13 to remove the label.
So we can simply show an icon.
![image](https://user-images.githubusercontent.com/9957482/85516644-49ca7580-b5b3-11ea-99ab-8c6a76c4c44f.png)
But there are remaining issues, i.e., 1) how to align it to the same r

[2020-06-24 07:42] #197 closed

[2020-06-24 09:37] kaushal0494 commented on #21
Hey @hao-fang I  am in the process of improving `worksho.html` .
I added `Site`,  `Live` and `Chat` tabs. The new-look is:

![pic1](https://user-images.githubusercontent.com/7456682/85530584-acf7ee80-b62b-11ea-8eda-7a860297b9dd.png)

I have few queries:
1). Do we need to add a `Calendar` tab as ICLR2020?
2). De we need another tab `Schedule` which provides individual schedule?
3). Please provide s

[2020-06-24 11:23] jcklie commented on #169
You could make a tab menu or a carousel so that you can switch between the two

[2020-06-24 14:01] raosudha89 opened #200 "Overall website color scheme"
@hao-fang  I notice that you changed the colors on the schedule and paper tabs to make more closer to ACL color schema (aka red). But I think this makes the overall website look a bit dark to me. The older 'green' color scheme made it look brighter. Just my opinion though. Wanted to see what you think before changing anything.

We can keep it as it is now and see what PCs have to say in the dry ru

[2020-06-24 14:52] raosudha89 commented on #21
@kaushal0494  Regarding the 'Schedule' tab, yes, we do need a separate 'Schedule tab that displays the individual schedule for each workshop.

Check tabs named (July 5, July 9 and July 10) is [this spreadsheet](https://docs.google.com/spreadsheets/d/1sTRj-skkp7qYz1zwqvmPuXRay6HIHEOS7NOuUMsW8oE/edit#gid=261172372) to get the detailed schedule for each workshop.

Also, this page contains links to th

[2020-06-24 15:26] raosudha89 opened #205 "Add content of all plenary sessions"
- [ ] Add slideslive id for all plenary sessions

- [ ] Add rocketchat ID for all QA sessions of plenary

- [ ] Add zoom link for livestream

- [ ] Replace 'speaker/institution' with 'presenter' for non-keynote items in plenary session.

[2020-06-24 15:26] raosudha89 commented on #23
All plenary sessions have been added to the schedule (https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/49)
Closing this issue and creating a new one to add content of plenary session https://github.com/acl-org/acl-2020-virtual-conference/issues/205

[2020-06-24 15:26] #23 closed

[2020-06-24 15:27] raosudha89 commented on #205
From previous issue:

- [ ]  Rename the "Speakers" to "Plenary Sessions" in the page title
- [ ]  Order the sessions by time (I didn't do the PST / GMT conversion)
- [ ]  Gather the necessary information to be displayed. Can you make a list? I'll send an email to our program chairs and cc you to get those information.

Also, I'm thinking instead of opening a new page for each plenary session, can

[2020-06-24 15:53] kaushal0494 commented on #21
@raosudha89 Sure let me add this!

[2020-06-24 16:02] georgepar commented on #205
hi @raosudha89.
do you have an excel with this information?

[2020-06-24 16:16] sgdgp commented on #24
@hao-fang I created channels for the tutorials. But I mistakenly created the first set with names "tutorial-1" instead of "tutorial-T1". Do I have permission to delete channels ?

[2020-06-24 16:19] hao-fang commented on #24
@sgdgp Yes -- you can delete those with the acl2020-admin-bot.

[2020-06-24 16:23] sgdgp commented on #24
Done

[2020-06-24 17:02] hao-fang commented on #205
@georgepar Can you first put some dummy string for the SlidesLive ID, RocketChat channel name, and Zoom links?
We will need to add those once we gather all the information.

[2020-06-24 17:19] hao-fang commented on #169
Closing this with #198

[2020-06-24 17:19] #169 closed

[2020-06-24 18:27] hao-fang opened #206 "Display paper types (Long/Short/CL/TACL)"
**Number of Volunteers: 1**

PC asked whether we can display the paper type on the webpage.
This is our current webpage.
![image](https://user-images.githubusercontent.com/9957482/85612275-93e04500-b60d-11ea-8d9d-82541f10eafe.png)

A basic solution would be making another button next to the track "Interpretability and Analysis of Models for NLP". But we should not make it look like "clickable".

[2020-06-24 18:56] hao-fang commented on #19
I think it looks nice enough now with #198

[2020-06-24 18:56] #19 closed

[2020-06-24 19:14] raosudha89 commented on #24
@sgdgp

For each tutorial, we also need a high-level description of how the particular virtual tutorial will be held. This will be useful since there are a lot of variations. Some are entirely on zoom, some have pre-recorded videos + live sessions, while some are entirely pre-recorded. Check the tab July 5 on [this spreadsheet](https://docs.google.com/spreadsheets/d/1sTRj-skkp7qYz1zwqvmPuXRay6HIHE

[2020-06-24 19:29] raosudha89 commented on #205
@georgepar  Since this is high-priority and needs to be done before the dry-run on Friday, I want to also work on this. Can you tell me what exactly are you working on and I can maybe work parallely on other things?

[2020-06-24 20:20] hao-fang opened #208 "[RocketChat] Python scripts to manage RocketChat"
**Number of Volunteers: 1 - 2**

There are 800+ channels in our RocketChat and it is a little bit difficult to manage them on the web interface.
It would be nice to write a python script to list all channels so we can do some regex on the channel names to surface some unused channels.

It would be also nice to list all users so we can activate / deactivate users in a batch.
Examples for creating c

[2020-06-24 20:37] hao-fang commented on #208
Basically I want to be able to dump the channels into a file so I can use a text editor to view the information.
It can be as simple as a txt file with each line being a channel. But if you can do something fancier it would be useful too.

Same for the users. But we may want to do more on users soon, e.g., automatically add all users to a channel.
Feel free to post update on the Github issue -- I'

[2020-06-24 20:45] hao-fang commented on #208
cc @vladdy & @anaerobeth since this may help you on the #101: @GuyAglionby & @Robert-Alonso will work on this issue.

[2020-06-24 20:51] vladdy commented on #55
@hao-fang, the solution in the beginning of the issue may work, but it does not that straightforward and does not verify the existence of emails (although I'm not sure if it is required). I can help with it, but overall I would recommend building something using Lambda and SES (which was also mentioned in later post as option 4). It should not be more complicated if there is a domain which can be

[2020-06-24 20:56] vladdy commented on #101
I wonder if we could create links to the channels from the pages with article info, but on the other hand 800 channels appears to be something hard to manage. Do you have any thoughts about that?

In the meantime let me know if there is something I need to do.

[2020-06-24 20:58] hao-fang commented on #55
@vladdy -- yeah, the reason I go with Zapier is that they have some built-in email formatter to extract Name from the email body using a regex. If we use Lambda, then we need to run this on our own, and set up SES accordingly.
There has been some struggling with granting the right permissions to the AWS IAM account I'm currently using (since I don't have the access to the root account).
If you are

[2020-06-24 21:09] salma-elanigri commented on #206
Where can I get the information about the type of paper?

[2020-06-24 21:12] hao-fang commented on #208
I just learned that

![image](https://user-images.githubusercontent.com/9957482/85628165-84202b00-b624-11ea-8c81-35082fa62a21.png)

Can you make the python script be able to print out all "featured" channels as well?

[2020-06-24 21:18] vladdy commented on #55
Sure, let's try that! If it fails, it won't take long to switch to Zapier way.

[2020-06-24 22:37] hao-fang commented on #208
Another request -- we want to be able to assign users to be the owner of the channel.
Would be nice to be able to do it via a Python script which consume a csv/excel file.

@GuyAglionby @Robert-Alonso  -- let me know if you want to get one more volunteer on this.

[2020-06-24 22:45] GuyAglionby commented on #208
@hao-fang Should be no problem. Would it be alright if this depended on the two original files requested (user list + channel list)? This is to allow the new script to be run with channel name + usernames rather than internal rocketchat IDs, which can be hard to find

[2020-06-24 22:48] hao-fang commented on #208
Yes, our unique identifier is the user's email in our AWS Cognito user pool, so we should rely on the email address instead of RocketChat IDs.

[2020-06-24 22:57] hao-fang commented on #101
Our webpage for a paper looks like this. (You can go to virtual.acl2020.org to see what it looks like currently as well). The user will join the channel for the specific paper on the webpage.
![image](https://user-images.githubusercontent.com/9957482/85635488-d2d4c180-b632-11ea-9dc9-e9e7941ec750.png)

So we probably only need to list channels that do not have an entry point on the webpages, which

[2020-06-24 23:00] raosudha89 commented on #205
I didn't realize that @georgepar  is in a different timezone. Apologies for rushing you on this.

I have created a PR https://github.com/acl-org/acl-2020-virtual-conference/pull/209 for adding slideslive link and rocketchat channel to plenary sessions.

I tried to use collapse cards instead of opening the plenary information in the new page. But I realized that with the bio+abstract information fo

[2020-06-24 23:01] hao-fang commented on #55
@vladdy -- I've sent you the AWS account info on RocketChat.

[2020-06-24 23:05] hao-fang commented on #55
@vladdy -- maybe you can re-use some of the methods from @stupid-2020 who is working on some python scripts for creating users from a csv/excel file.
Feel free to discuss if any collaboration is needed.

[2020-06-24 23:07] hao-fang commented on #48
Current template as of June 24.

[code]

[2020-06-24 23:11] hao-fang commented on #48
From ICLR

[code]

[2020-06-25 00:10] hao-fang commented on #208
Another request -- can we make a python script to make a batch of channels to be "featured"?
It's fine to hard-code the channel names in the python script.

For example, I want to run
[code]
which will make all channels prefixed by "sponsor-" as featured.

![image](https://user-images.githubusercontent.com/9957482/85639359-5eebe680-b63d-11ea-8309-aa84097eb2e5.png)

[2020-06-25 00:23] hao-fang commented on #205
@raosudha89 That's good -- we just want to have something working for now. Everything else can be "Website Enhancements".

[2020-06-25 00:54] Robert-Alonso commented on #208
ok, will work on it 👍

[2020-06-25 01:19] hao-fang commented on #206
@salma-elanigri For main papers, it should be already in the `sitedata_acl2020/main_papers.csv` (see the column "paper_type").
You will need to edit `load_site_data` to populate that information, and then `paper.html` to add `{{ paper.paper_type }}` to display the information.
Let me know if you have additional questions.

[2020-06-25 01:25] panda-baba commented on #208
Could I also help you folks with the above scripts? I am familiar with python but not with rocket chat. Since we only need to make api calls to rocket chat. I guess I can help.

[2020-06-25 02:09] hao-fang opened #212 "Bash/Python scripts to generate papers_projection.json and paper_recs.json"
**Number of volunteers: 1 -- 2**

Currently it involve multiple steps as described in https://github.com/acl-org/acl-2020-virtual-conference/blob/master/scripts/README.recommendations.md.
In particular, the paper recommendation involves some hacky steps (e.g., copy-paste files edit the `recs.py` script). It also does not work on CPU machine.
It would be really helpful if we can consolidate these s

[2020-06-25 02:16] hao-fang commented on #212
There are some steps which I got stuck on for several minutes when following the steps https://github.com/acl-org/acl-2020-virtual-conference/blob/master/scripts/README.recommendations.md#produce-similar-paper-recommendations
* Clone https://github.com/ICLR/iclr.github.io. You will need git-lfs installed.
  * You will need to run `git lfs pull`
* Install missing requirements
  * You should do `pip

[2020-06-25 02:57] hao-fang commented on #212
cc @PVinay737 can you self-assign to this issue once you accept the invitation? Thanks!

[2020-06-25 03:46] anaerobeth commented on #101
I created a shared doc here https://docs.google.com/document/d/1lNx8wbkDlAmm-P8g9vVGKH15NWRGNifFwLt2TO0MYEc/edit and have started listing relevant channels from the ACL2020 RocketChat doc.

[2020-06-25 04:01] stupid-2020 commented on #104
Tried. No email sent when the user is "re-enabled"

[2020-06-25 04:09] raosudha89 commented on #200
@hao-fang  I have created a PR for this https://github.com/acl-org/acl-2020-virtual-conference/pull/213
It might be good to get this merged before the dry run (if it looks good to you).

[2020-06-25 04:20] raosudha89 opened #214 "QA session links in main calendar"
Currently the QA sessions in the main calendar (under schedule tab) do not point anywhere.
It would be nice if each QA session pointed to a page that lists all papers that have Q&A at that session so that an attendee can easily find papers that have Q&A at that time slot. This is traditionally what schedule for each session used to look like (for e.g. see naacl2019 schedule https://naacl2019.org/s

[2020-06-25 04:49] raosudha89 opened #215 "Make tutorials/workshops page calendar similar to main calendar"
@jcklie  Currently the schedule on the main tutorials page is displayed using a calendar of a different color scheme. Can we align it with whatever the color for tutorials are on the schedule page?

Regarding workshops page, there is a PR (https://github.com/acl-org/acl-2020-virtual-conference/pull/153) where we are trying to display just the three days of workshops instead of all days of the conf

[2020-06-25 04:55] raosudha89 commented on #16
Looks like all tasks in this issue are done. Thank you very much @salma-elanigri and @jcklie

[2020-06-25 04:55] #16 closed

[2020-06-25 04:59] raosudha89 opened #216 "Customize each tutorial page"
- [x] For each tutorial, we also need a high-level description of how the particular virtual tutorial will be held. This will be useful since there are a lot of variations. Some are entirely on zoom, some have pre-recorded videos + live sessions, while some are entirely pre-recorded. Check the tab July 5 on this spreadsheet for this information.

- [x] Customize each page depending on whether tuto

[2020-06-25 04:59] raosudha89 commented on #24
Closing this as basic tutorial page is done. Creating a new issue for customizing each tutorial page (https://github.com/acl-org/acl-2020-virtual-conference/issues/216)

[2020-06-25 04:59] #24 closed

[2020-06-25 05:02] raosudha89 commented on #21
@kaushal0494  Let me know if you need any help on this. We plan to do a dry-run of the website this Friday. So it would be good to finish this before that.

[2020-06-25 05:03] raosudha89 commented on #25
@jcklie  @hao-fang  The sponsors page looks really nice! Is there something more to be done on this issue for basic website? If not, then can we close this and move remaining enhancement tasks to a new issue?

[2020-06-25 05:04] kaushal0494 commented on #21
@raosudha89  I am working on it, If I stuck I will ping you

[2020-06-25 05:07] Robert-Alonso commented on #208
Hi @panda-baba, thanks for your help! I think you could work on the `make_channel_featured.py` script Hao mentioned.

[2020-06-25 05:07] raosudha89 commented on #18
Closing this issue since main tasks are done. I created some additional new issues to handle some enhancements mentioned in here.

[2020-06-25 05:07] #18 closed

[2020-06-25 05:36] hao-fang commented on #101
@anaerobeth Thanks a lot! Let me know when you have a draft and I'll send it over to the committee to review.

[2020-06-25 05:41] hao-fang commented on #214
Yes, we should do this.
MiniConf did this by using URL encoding, e.g., https://iclr.cc/virtual/papers.html?session=Tues+Session+2&filter=keywords
We need to encode this information in our data make this work.
Currently https://virtual.acl2020.org/papers.html?session=Tues+Session+2&filter=titles gives this, but it doesn't really do the job -- the papers can come from **any** session.
![image](https

[2020-06-25 05:46] hao-fang commented on #25
I think the remaining tasks here is to fill in the missing data for some sponsors, e.g., https://virtual.acl2020.org/sponsor_17.html is not complete.
I'll let people who are working on this to decide whether to close or keep this issue open.
For now, I move this to "blocked" in the the project view https://github.com/acl-org/acl-2020-virtual-conference/projects/2

[2020-06-25 05:51] hao-fang commented on #208
@panda-baba thanks for helping! Can you let me know your email so I can keep track the volunteers who currently have tasks? You can email me directly.

[2020-06-25 06:02] luanyi commented on #25
We are still waiting for information from several sponsors. The biggest remaining task is to add Zoom link to the virtual booths. I think it's better to keep this issue open at least during the dry run. The sponsors will raise some issues, and we need to adjust the virtual booths & correct some information accordingly.

[2020-06-25 07:10] georgepar commented on #205
@raosudha89 yeah I'm on EET :) sorry for the confusion.

I will continue with this today and see what else needs to be done

[2020-06-25 07:40] hao-fang commented on #212
@georgepar That's a good idea!
@PVinay737 I've created a repo https://github.com/acl-org/acl-2020-virtual-conference-tools and invited you both to it.
Can you start working there?
I only enabled a "master" branch protection rule, so you will need to create PRs to merge your changes.
We may need to set up the Github Action there. But we can do it later (unless you already know how to set it up.)

[2020-06-25 07:48] hao-fang commented on #53
Remember to bump the quota for sending welcome emails. Otherwise, it can only send 50 emails per day.
* https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-email.html

[2020-06-25 08:08] PVinay737 commented on #212
@hao-fang Is it fine if I try to setup either of Circle/Travis CI ?

@georgepar I'm trying to reproduce the steps following [guidelines](https://github.com/acl-org/acl-2020-virtual-conference/blob/master/scripts/README.recommendations.md) before I make changes to the Makefile. If there are any specific procedures to be followed do update me and I'll stick to that

[2020-06-25 08:17] hao-fang commented on #205
@georgepar
I have send an email to PCs and cc'd you to ask for descriptions of individual plenary sessions.

Meanwhile, can you add the speaker/host information to each session based on the table below?

Title | Authors | Type
-- | -- | --
  |   |  
Rewriting the Past: Assessing the Field through the Lens of Language Generation | Kathleen McKeown | Keynote
TBD | Josh Tenenbaum | Keynote
Test of Ti

[2020-06-25 08:25] hao-fang opened #219 "Provide a way to show/hide different types of events on the Calendar page"
**Number of volunteers: 1 - 2**

Currently the calendar is very dense, and some text are not shown properly, e.g.,
![image](https://user-images.githubusercontent.com/9957482/85683540-2d493e80-b682-11ea-85cd-81a63ae8c4ec.png)

It would be nice if we can have some buttons to toggle different types of events. Is this something possible @jcklie ?

Alternatively, we may just hide social events in the o

[2020-06-25 08:38] hao-fang commented on #219
@jcklie yeah, i think we are running out of time right now. So maybe we should go with the easier solution (i.e., do not show the social events here).
@raosudha89 what do you think?

[2020-06-25 08:42] hao-fang commented on #219
Ok -- I advertised this issue in the mailing list. Let's see if we can get some volunteers who are familiar with the JS magic.

[2020-06-25 08:59] jcklie commented on #219
I am happy to mentor if you find someone.

[2020-06-25 10:01] Robert-Alonso commented on #212
Hi @PVinay737 and @hao-fang 👋  I finished the RocketChat issue I was working on so I would like to help on this one. I've worked with PyTorch before so maybe I can lend a hand.

[2020-06-25 10:14] georgepar commented on #212
Ok there are 2 different processes that need to be automated:

### Paper visualization

 Here you need just the scripts included in this repo under scripts. The pipeline is
- `merge_paper_csvs.py`: Main, demo and SRW papers are stored in 3 different CSVs. This creates a single CSV with all papers.
- `embeddings.py`: This extracts embeddings from abstracts using BERT. I run it on a GPU machine. not

[2020-06-25 13:56] raosudha89 commented on #214
Using URL encoding to point to the papers page is a great idea. I am assigning one volunteer from the new pool of volunteers.

[2020-06-25 14:08] raosudha89 commented on #219
I have assigned two volunteers from the new pool of volunteers. @finiteautomata  and @MikelKN  Please ask @jcklie  if you need any high level advice.

[2020-06-25 14:10] raosudha89 commented on #215
@jcklie Yes, replacing it with new one sounds great. I will close this very old PR https://github.com/acl-org/acl-2020-virtual-conference/pull/153  where we were trying to achieve this. Thanks.

[2020-06-25 14:21] #200 closed

[2020-06-25 14:57] MikelKN commented on #219
I would love to help with that but i do not have experience coding in JavaScript.

[2020-06-25 15:48] jcklie commented on #219
The code is in [cal_head.html](https://github.com/acl-org/acl-2020-virtual-conference/blob/master/templates/cal_head.html)

What we need to do:

1. Add a multi dropdown next to the timezone one, see [here](https://developer.snapappointments.com/bootstrap-select/examples/#multiple-select-boxes) for an example. Pass the event types from flask and fill the dropdown with these.
2. Add a `onChange` cal

[2020-06-25 16:25] raosudha89 opened #222 "Help page should say 'paper' instead of 'poster'"
We don't have any posters for ACL2020 this time. On the help page though, it looks like all references to presentations are called 'poster' (maybe because ICLR had posters).

We should replace poster with paper wherever appropriate throughout the help page.

Tagging @dreasysnail  to assign appropriate volunteers.

[2020-06-25 16:39] jcklie commented on #215
@raosudha89 How would the workshop page look with a calendar? Right now, there are only cards with the workshop descriptions. Do you want two tabs or something, one for the overview and one for the calendar or just remove the cards?

[2020-06-25 16:51] tlikhit commented on #40
@hao-fang Should I work on this?

[2020-06-25 16:54] clefourrier commented on #214
This will also need to update the data (to link each session with its URL encoding) as done in https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/65 .

Please close after review, all should be done here.

[2020-06-25 16:56] clefourrier commented on #222
This is a data problem, not a site problem, and will be fixed with the above mentionned merge.

[2020-06-25 16:58] tlikhit commented on #62
@hao-fang I could help as well. I'm in EDT, but I'll be on break during that week so I should be able to cover another timezone.

[2020-06-25 17:00] #222 closed

[2020-06-25 17:05] hao-fang commented on #219
@tlikhit Do you think you can help this based on the instruction above?

[2020-06-25 17:11] tlikhit commented on #219
@hao-fang Yeah, I'll work on this

[2020-06-25 17:23] hao-fang commented on #219
@tlikhit @jcklie if possible, can we make the dropdown to mark which subset to show?  just like the "labels" in GitHub
![image](https://user-images.githubusercontent.com/9957482/85768383-cfdadf00-b6cd-11ea-95c7-9b5b0864290e.png)

[2020-06-25 17:26] #214 closed

[2020-06-25 17:33] tlikhit commented on #219
@hao-fang do you mean you want the ability to choose multiple event types at once? because then we'll have to address the overflow regardless if someone chooses all types...

[2020-06-25 17:45] hao-fang commented on #219
Yeah, that is what i have in mind. I'm hoping the users would be "okay" with overlapping like below if they can choose which event type to show.
![image](https://user-images.githubusercontent.com/9957482/85771589-e9c9f100-b6d0-11ea-83e3-7ce2c6866398.png)

We just need to make sure there is no overflow like this
![image](https://user-images.githubusercontent.com/9957482/85771559-e33b7980-b6d0-11ea-

[2020-06-25 17:55] tlikhit commented on #219
@hao-fang Got it! I haven't used fullcalendar before, but I think I should be able to fix this 👍

[2020-06-25 18:03] hao-fang opened #226 "Improve Regular Paper Layout for session information"
**Number of Volunteers: 1**

Sometimes the two sessions are not aligned.
![image](https://user-images.githubusercontent.com/9957482/85774019-4d551e00-b6d3-11ea-8072-084b31d83db2.png)

[2020-06-25 19:19] hao-fang commented on #212
@PVinay737 Can you start checking code to https://github.com/acl-org/acl-2020-virtual-conference-tools . You can put things under `acl2020_tools/utils` or some other module.
I'm going to remove scripts from this main repo after the transition.

[2020-06-25 19:19] hao-fang commented on #208
@GuyAglionby @panda-baba @Robert-Alonso  Can you start checking code to https://github.com/acl-org/acl-2020-virtual-conference-tools . You can put things under `acl2020_tools/chat`.
I'm going to remove scripts from this main repo after the transition.

[2020-06-25 19:19] hao-fang commented on #104
@stupid-2020 Can you start checking in code to https://github.com/acl-org/acl-2020-virtual-conference-tools . You can put things under acl2020_tools/awscognito.
I'm going to remove scripts from this main repo after the transition.

[2020-06-25 20:43] hao-fang opened #228 "use ACL logo as the favicon"
**Number of Volunteers: 1**

[2020-06-25 21:21] jcklie opened #230 "Improve "Papers" page"
Right now, for every track, there is a button. This does not look so nice.

[2020-06-25 21:37] anaerobeth commented on #101
@hao-fang @vladdy I added some information and comments to the shared doc. Let me know if I missed anything.

[2020-06-25 21:42] jcklie commented on #230
Some work is left (clicking the paper/visualization buttons sometimes does not work and the title/author button is not checked on visualiazion). Also, it might deserve some care for less wide screens.

[2020-06-25 21:55] raosudha89 commented on #215
@jcklie  I would suggest removing the cards completely. All in the information in the card can be embedded into the slots in the calendar (just like it currently is under dayview of workshops in main calendar).

[2020-06-25 22:14] #228 closed

[2020-06-25 22:38] raosudha89 opened #235 "Tutorials page calendar slots do not point to individual tutorial pages"
@jcklie  I was trying to find what change in [this commit ](https://github.com/acl-org/acl-2020-virtual-conference/commit/42f47af32ebcf4f0daf8d794ab782f4e972ee8cc) caused this. But I am not able to find it. Can you look into this?

[2020-06-25 22:48] hao-fang commented on #230
Add one more
- [ ] Make the search bar fill the row
![image](https://user-images.githubusercontent.com/9957482/85803090-46420600-b6fb-11ea-98f7-832879b67d95.png)

[2020-06-25 22:52] hao-fang commented on #40
@tlikhit This is low priority, but if you can figure out the current status then it would be good. My guess is that we only need to set the ID in `config.google_analytics_id` but I didn't dive into this.

[2020-06-25 22:54] hao-fang opened #236 "Make the title of social events black"
**Number of Volunteers: 1**

(cc @Robert-Alonso @prabhat1081)
 Can we make the tile of these events black? They are not clickable.
![image](https://user-images.githubusercontent.com/9957482/85803402-edbf3880-b6fb-11ea-8732-cdec10026bea.png)

[2020-06-25 23:13] hao-fang commented on #205
## July 6
![image](https://user-images.githubusercontent.com/9957482/85804484-99698800-b6fe-11ea-8ce8-a434a5fdf87e.png)
## July 7
![image](https://user-images.githubusercontent.com/9957482/85804494-a38b8680-b6fe-11ea-8694-ecc2271818c0.png)
## July 8
![image](https://user-images.githubusercontent.com/9957482/85804510-abe3c180-b6fe-11ea-923a-fe74c57986c7.png)

[2020-06-26 00:28] raosudha89 commented on #216
I submitted a PR for this: https://github.com/acl-org/acl-2020-virtual-conference/pull/237

[2020-06-26 01:20] stupid-2020 commented on #90
Just wonder if we need the following testing:

- browser compatibility (browsers on both mobile, laptop/PC)
- simple load test (using [vegeta](https://github.com/tsenart/vegeta) or [ab](https://httpd.apache.org/docs/2.4/programs/ab.html))

[2020-06-26 01:29] stupid-2020 commented on #104
ok.

[2020-06-26 01:36] hao-fang opened #240 "Bug on the Calendar view"
**Number of Volunteers: 1**

Sometimes when I go back to the "Calendar" tab from "Monday", the calendar looks like below
![image](https://user-images.githubusercontent.com/9957482/85811324-af814380-b712-11ea-98ab-5b592ad0ee2d.png)

I'm not sure why this happens. Refreshing the page solves the problem.

[2020-06-26 01:48] raosudha89 commented on #235
I think I found the solution for this. I am submitting a PR.

[2020-06-26 01:52] prabhat1081 commented on #236
Will do

[2020-06-26 02:10] raosudha89 commented on #215
@jcklie  I think after looking through the tutorial calendar page, I think I have some idea of how to do this for workshop page as well. But if you have already finished most of it, then I won't try to do it.

The reason I am trying to wrap these basic pages is because we have a dry run scheduled tomorrow where we are hoping we can show all main pages to PCs.

[2020-06-26 02:12] raosudha89 commented on #235
Submitted a PR for this https://github.com/acl-org/acl-2020-virtual-conference/pull/241

[2020-06-26 02:12] #216 closed

[2020-06-26 02:46] #236 closed

[2020-06-26 02:56] stupid-2020 commented on #104
It is possible to write a script to disable/enable user according to the `GroupName`.  For example:

[code]

But we need to use it with caution to avoid disable certain group users accidentally.

[2020-06-26 03:28] raosudha89 commented on #215
I submitted a PR for this https://github.com/acl-org/acl-2020-virtual-conference/pull/243

[2020-06-26 03:35] #235 closed

[2020-06-26 03:43] raosudha89 opened #244 "Customize each workshop page"
- [ ] @kaushal0494  Add detailed schedule for each workshop. Check tabs named (July 5, July 9 and July 10) is [this spreadsheet](https://docs.google.com/spreadsheets/d/1sTRj-skkp7qYz1zwqvmPuXRay6HIHEOS7NOuUMsW8oE/edit#gid=261172372) to get the detailed schedule for each workshop.

- [ ] @raosudha89  Add a virtual format description for each workshop (just like we have for [each tutorial](https://v

[2020-06-26 03:45] raosudha89 commented on #21
Since the main workshop page is done (with this PR https://github.com/acl-org/acl-2020-virtual-conference/pull/243), I am closing this and creating a new issue for customizing each workshop page (https://github.com/acl-org/acl-2020-virtual-conference/issues/244) and assigning @kaushal0494  to it.

[2020-06-26 03:45] #21 closed

[2020-06-26 03:58] kaushal0494 commented on #244
@raosudha89 Sure, Thanks for specific tasks.

[2020-06-26 04:40] PVinay737 commented on #212
Sure, will follow up from [here](https://github.com/acl-org/acl-2020-virtual-conference-tools/tree/master/acl2020_tools/utils)

[2020-06-26 04:46] kaushal0494 commented on #244
@raosudha89  In the schedule tab:  do we need to add schedule with calendar and timezone (as done for the tutorial home page) or simply add the schedule as given in [spreadsheet](https://docs.google.com/spreadsheets/d/1sTRj-skkp7qYz1zwqvmPuXRay6HIHEOS7NOuUMsW8oE/edit#gid=261172372)?

[2020-06-26 06:03] hao-fang commented on #240
Closing this with #246

[2020-06-26 06:03] #240 closed

[2020-06-26 07:25] Robert-Alonso commented on #208
Hi @hao-fang I saw the `list_channels.py` in the `acl2020_tools` repo. Let me know if there's anything else to be done :+1:

[2020-06-26 07:51] hao-fang opened #249 "Make Plenary Session pages look better"
**Number of Volunteers: 1-3**

Someone should go to individual plenary session pages and try to make these pages look nicer.

[2020-06-26 07:55] hao-fang opened #250 "The clickable "track" button on the paper page is not longer valid"
**Number of Volunteers: 1**

Now clicking the "Computational Social Science and Social Media" doesn't work anymore.
![image](https://user-images.githubusercontent.com/9957482/85834104-a52d6c80-b747-11ea-9d40-aa07da13284f.png)

cc @jcklie -- is there a way to use URL encoding to show tracks?

[2020-06-26 07:58] hao-fang opened #251 "Use tabs in workshops page"
**Number of Volunteers: 1**

cc @raosudha89
This could be controversial, but I found it a little confusing to show the day view by default on the workshops page.
Without reading the text, I'm a little surprised there is only a single workshop in the calendar. And I need to click ">" multiple times to get to the "July 9".

I feel it would be easier to use the tab + cards instead of the calendar vie

[2020-06-26 08:15] hao-fang opened #252 "add CL & TACL papers to sitedata_acl2020"
**Number of Volunteers: 1 - 2**

We need to add CL&TACL papers to `sitedata_acl2020`.
See the three raw files in this PR https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/73/files

We need to generate the following files
* cl_papers.csv
* tacl_papers.csv
* cl_paper_sessions.yml
* tacl_paper_sessions.yml

Should use scripts in https://github.com/acl-org/acl-2020-virtual-conferenc

[2020-06-26 08:21] jcklie commented on #215
@raosudha89 Nice work! I go to sleep when you start working so we missed each other yesterday.

[2020-06-26 08:30] jcklie commented on #215
I think your filtering for day/week view is wrong though.

[2020-06-26 08:43] #250 closed

[2020-06-26 08:45] #50 closed

[2020-06-26 08:45] hao-fang commented on #50
Close this since we will have a bot in Rocket.Chat to sync tweets.

[2020-06-26 13:06] raosudha89 commented on #215
Aah is it? Please feel free to fix it. I am new to full calendar, so it is
possible I might have done something wrong. Thanks.

On Fri, Jun 26, 2020 at 3:30 AM Jan-Christoph Klie <notifications@github.com>
wrote:

[2020-06-26 13:52] raosudha89 commented on #251
@hao-fang  I did want to use a tab view but with calendar within it since there are a lot of overlapping workshops on July 9 and July 10. So just listing them one below the other would be less useful for the attendee.

So can we have tabs but display workshops in the form of a day-view calendar within it?

[2020-06-26 13:57] raosudha89 commented on #251
@jcklie  I wonder if there is way to display only certain days under week-view of a calendar? If so then we could still use the calendar view but only show days July 5, 9 and 10.

[2020-06-26 14:00] raosudha89 commented on #244
@kaushal0494  Just simply add the schedule as given in the spreadsheet and add a note above that the all times are in PST. No need of a calendar.

[2020-06-26 14:00] jcklie commented on #251
We can do that, but we have the problem of extreme time zones moving slots one day back or forth

[2020-06-26 14:04] PVinay737 commented on #212
@hao-fang I've been able to reproduce `paper visualization` step and it's visualization gives (In Manual Inspection UMAP gives better correlations)

- UMAP
![umap](https://user-images.githubusercontent.com/44138475/85864145-c04cba80-b7e1-11ea-90cd-9cc6dfab207f.png)

- TSNE
![tsne](https://user-images.githubusercontent.com/44138475/85864040-9dbaa180-b7e1-11ea-8a09-66490bc09cde.png)

I suppose for t

[2020-06-26 14:04] clefourrier commented on #251
I'm doing this at the moment
![image](https://user-images.githubusercontent.com/22726840/85865776-b10c4380-b7c6-11ea-907b-206bf46b240a.png)

Could you please tell me rapidly if you want me to do something else instead?

[2020-06-26 14:08] kaushal0494 commented on #244
@raosudha89 Thank you for the clarification.

[2020-06-26 14:09] #215 closed

[2020-06-26 14:12] raosudha89 commented on #251
@clefourrier  This looks good to me. It may help to show the start and end times of workshops in these cards. But we can do that as an enhancement it not easy.

[2020-06-26 14:25] clefourrier commented on #251
@raosudha89 I'm done for the tab add, cf the 2 merge requests. Please check if all is good.

Regarding start/end date, I think it should be added in the data first.

[2020-06-26 14:38] raosudha89 commented on #251
@clefourrier I merged the sitedata PR. But the other PR has a conflict.

Regarding start/end date, it is included in overall_calendar.json. We will need to use that show dynamically show the start-end times locally and in GMT (check an e.g. paper https://virtual.acl2020.org/paper_main.367.html)

[2020-06-26 15:40] hao-fang commented on #251
@clefourrier @raosudha89 I think we can always use UTC+0 to group workshops into a day.
This is what I currently do for Plenary Sessions.

![image](https://user-images.githubusercontent.com/9957482/85874990-5e139b80-b788-11ea-9c71-217dba6df7c8.png)

I'm basically following the proceedings (see screenshots https://github.com/acl-org/acl-2020-virtual-conference/issues/205#issuecomment-649862715)

[2020-06-26 15:46] hao-fang commented on #212
@PVinay737 this looks good.

Good questions. Can you hard-code the the path in Makefile? We probably don't want to use git submodule again because it causes a lot of confusion...
[code]

Then we add `sitedata_acl2020/` to `.gitignore` so you can make a symlink or a copy of `sitedata_acl2020` inside the `acl-2020-virtual-conference-tools` repo. Does this make sense?

Sure. Go ahead to do it.

[2020-06-26 17:25] shruti-singh commented on #252
Hi,
I can help with this. Can someone please point me to the format of the csv files? Probably someone who has worked before, can they please point me what needs to be done. Thanks!

[2020-06-26 17:39] GuyAglionby commented on #252
@shruti-singh The csv files should have the same format as e.g. [srw_papers.csv](https://github.com/acl-org/acl-2020-virtual-conference-sitedata/blob/master/srw_papers.csv). There's a lot that can be reused from [process_srw_papers.py](https://github.com/acl-org/acl-2020-virtual-conference-tools/blob/master/acl2020_tools/utils/process_srw_papers.py) to create this. Ditto the poster sessions - they

[2020-06-26 18:03] hao-fang opened #258 "fix all links on the home page"
**Number of Volunteers: 1**

... and also make them open a new tab by default

[2020-06-26 20:01] raosudha89 opened #261 "Display session name on top when papers are searched by QA session"
Right now, when we click on a 'QA Session' under schedule calendar, it shows all papers in that session.

But it would be useful to display the QA session name on top of the retrieved set of papers.

[2020-06-26 20:08] #258 closed

[2020-06-26 20:27] hao-fang commented on #205
Here is the new instruction after today's meeting.

* We will not expose Zoom links to the public now. Everyone will ask questions in RocketChat and the co-host of the Zoom meeting will pick up questions and ask the speaker (like an interview).
  - [ ] Remove `zoom_link` field from`PlenarySession` dataclass in `sitedata.py`
  - [ ] Remove `zoom_link` field from [plenary_sessions.yml](https://githu

[2020-06-26 20:50] hao-fang commented on #249
Closing this. Should be merged to #205

[2020-06-26 20:50] #249 closed

[2020-06-26 21:01] #226 closed

[2020-06-26 21:10] hao-fang commented on #101
@anaerobeth -- Thanks! I'll get back to you in a few days. Need to sort out some other things first.

[2020-06-26 21:13] #219 closed

[2020-06-26 21:40] hao-fang commented on #208
@Robert-Alonso It would be nice if we can have a script to clear all messages in a list of channels.
We are going to do some dry-run and people may post test messages. We would like to remove those before the website goes live.

[2020-06-26 21:46] hao-fang commented on #230
@tlikhit -- Can you see if you can work on these?
(@jcklie -- Are you actively working on it right now?)

[2020-06-26 21:48] tlikhit commented on #219
@hao-fang  Currently, content is scrollable to prevent overflow, but I don't think this is ideal. I'm thinking of something like a tooltip wich pops more details on hovering, but it might not be mobile-friendly. What do you think?
![image](https://user-images.githubusercontent.com/58948612/85903678-f0da2780-b7d4-11ea-875b-03e735a054d9.png)

[2020-06-26 22:01] hao-fang commented on #219
Tooltip sounds good! Probably we don't need to worry too much about mobile-friendly right now given our timeline.

[2020-06-26 22:03] tlikhit commented on #230
Ok, I'll work on this. Another minor issue:
- [ ] Fix content moving out of scope when searching
<img width="1274" alt="Screen Shot 2020-06-26 at 5 58 03 PM" src="https://user-images.githubusercontent.com/58948612/85904514-ede03680-b7d6-11ea-9b69-283a778da11e.png">

[2020-06-26 22:47] hao-fang opened #266 "[BUG?] Calendar View"
@tlikhit It seems that there is something wrong with the calendar view? It the whitespace intended for the scroll bar?
![image](https://user-images.githubusercontent.com/9957482/85906766-304c4800-b7c4-11ea-9010-f0e5ede3cd81.png)

[2020-06-26 22:48] hao-fang commented on #266
BTW -- do you think it is okay to select all event types by default?

[2020-06-26 23:38] hao-fang commented on #208
- [ ] We also need a script to add all users to a list of channels (supplied by a file).

[2020-06-27 01:13] anaerobeth commented on #206
I can help with this feature if needed.

[2020-06-27 01:19] tlikhit commented on #266
@hao-fang That's odd, I'm unable to replicate this... Which browser are you using?
In any case, I'll add in tooltips and see if the issue is solved afterward.
Also, agree that selecting all events will be better.
![image](https://user-images.githubusercontent.com/58948612/85910905-871b4700-b7ef-11ea-9d04-3253c4778daa.png)

[2020-06-27 01:39] hao-fang commented on #266
@tlikhit -- I'm using Chrome. Can you try it on https://virtual.acl2020.org/schedule.html?

[2020-06-27 01:48] tlikhit commented on #266
Sorry, I'm unable to replicate on the website on chrome too...If you can spare some time, could you try inspecting the box?
<img width="1187" alt="Screen Shot 2020-06-26 at 9 43 03 PM" src="https://user-images.githubusercontent.com/58948612/85911887-38bd7680-b7f6-11ea-921c-ed8b19494531.png">

[2020-06-27 02:14] hao-fang commented on #266
hmm..... this is what i have

![image](https://user-images.githubusercontent.com/9957482/85912402-10774d00-b7e1-11ea-854b-732bf1e08152.png)

Maybe after switching to tooltips it will go away

[2020-06-27 02:57] hao-fang commented on #206
@anaerobeth Yes! That would be great! Does the above description make sense to you?

[2020-06-27 04:08] hao-fang opened #267 "Move [Live QA] to the same row as the session time"
**Number of Volunteers: 1**

It is a little bit confusing now. Because [Live QA] will be a Zoom link, and all other four are calendar links.
![image](https://user-images.githubusercontent.com/9957482/85914285-e6c62200-b7f0-11ea-927f-63e23f4ee7b7.png)

Maybe do this?

[code]

Other suggestions are welcome.

[2020-06-27 04:37] anaerobeth commented on #206
The instructions look good to me. However, I am having issues with setting up the repo and could not see the file `sitedata_acl2020/main_papers.csv` in master:
[code]
What am I missing?

[2020-06-27 04:52] hao-fang commented on #266
Also, how should we handle these 15min sessions?

![image](https://user-images.githubusercontent.com/9957482/85914848-095b3980-b7f7-11ea-9d4a-8f44a3116eaf.png)

![image](https://user-images.githubusercontent.com/9957482/85914857-1546fb80-b7f7-11ea-932f-6cf823b65128.png)

[2020-06-27 05:31] hao-fang opened #269 "Website Enhancement Suggestions"
**Number of Volunteers: 3-5**

(from Sasha & Hendrik)

- [x] Tutorials: I think it would be great to add the relevant parts of the blog post (Intro, Attendance, Program, Schedule) at the bottom and shrink the calendar height. This makes also clear that the multiple time slots are re-runs and not part 1 and 2 of the same tutorial.
- [x] Papers: "Demo" -> "Demo Papers"
- [x] Papers/Vis: The missing

[2020-06-27 05:42] hao-fang commented on #206
@anaerobeth Did you run `git submodule update --init --recursive` when you clone the repo?

You may want to take a look at https://github.com/acl-org/acl-2020-virtual-conference/blob/master/CONTRIBUTING-ACL2020.md first.

[2020-06-27 08:19] jcklie commented on #230
I do not intend working on this.

[2020-06-27 08:53] panda-baba commented on #208
I am facing some issues setting up the rocket chat server. I got it up but I am not getting the featured attribute while querying it through the API or the UI. Could you tell me what I am doing wrong?
<img width="1336" alt="Screenshot 2020-06-27 at 12 43 10 PM" src="https://user-images.githubusercontent.com/19544783/85918577-b4183a00-b881-11ea-8411-f7bf697e5012.png">

[2020-06-27 17:02] hao-fang commented on #208
Maybe our acl2020.rocket.chat uses a different version than you?

[2020-06-27 18:37] Chandrahasd commented on #25
Hi @jcklie, @hao-fang,

Just one minor concern. In the current sponsors' data, I have merged the following two pieces of information into a single "Resources" section.

[code]

They are shown in a single section on the sponsors' page.

![Screen Shot 2020-06-27 at 11 57 01 PM](https://user-images.githubusercontent.com/6125084/85929511-1fd6c300-b8d3-11ea-9988-45506ed1cf25.png)

Let me know if we nee

[2020-06-27 20:44] hao-fang opened #272 "Extract images from PDFs for CL and TACL papers"
* CL papers: https://github.com/acl-org/acl-2020-virtual-conference-sitedata/blob/master/inbox/ACL2020.CL.papers.xlsx
* TACL papers: https://github.com/acl-org/acl-2020-virtual-conference-sitedata/blob/master/inbox/ACL2020.TACL.papers.xlsx

[2020-06-27 21:02] hao-fang commented on #25
@Chandrahasd okay with me :)

[2020-06-28 01:22] shruti-singh commented on #252
Hi,
I have one more question regarding the sessions.yml files. Should I use the ID field in [2020_live_Q&A_schedule(forauthors).xlsx](https://docs.google.com/spreadsheets/d/19zvNvqnh3Is_tzfpfpbdTWUiga772KT_gH8qtIAyDqc/) or the SubmissionID field in [ACL2020.CL.papers.xlsx](https://github.com/acl-org/acl-2020-virtual-conference-sitedata/blob/fdd0a206825ea2f01851c0b36e3bb1d6ca7a93e2/inbox/ACL2020.TA

[2020-06-28 01:57] anaerobeth commented on #206
Proposed UI displaying the paper type in a gray rectangle next to the track:
<img width="877" alt="Screen Shot 2020-06-27 at 9 54 20 PM" src="https://user-images.githubusercontent.com/3663322/85935605-cd8ca680-b8c0-11ea-99dd-0c8c05e94569.png">

@hao-fang Let me know if this works.

[2020-06-28 01:58] hao-fang commented on #252
@shruti-singh Sorry for the confusion. I asked PCs about it and forgot to post it here.
In the `2020_live_Q&A_schedule (for authors).xlsx` file, you need to strip the "9" (for CL papers) and "99" (for TACL papers). For example, "91482" should become "1482", and "991709" should become "1709".
Then these IDs are consistent with the "Submission ID" in the `ACL2020.CL.papers.xlsx` and `ACL2020.TACL.pa

[2020-06-28 01:59] hao-fang commented on #206
@anaerobeth Looks nice! Can you make a PR for this? Thanks!

[2020-06-28 02:13] shruti-singh commented on #252
Thanks for the clarification! I should be done with this soon.

[2020-06-28 02:50] anaerobeth commented on #269
@hao-fang I can help with Papers/Vis: Missing keywords issue since I am already familiar with https://github.com/Mini-Conf/Mini-Conf/issues/34

[2020-06-28 03:44] #206 closed

[2020-06-28 03:45] hao-fang commented on #269
@anaerobeth That's great! You are definitely the right person!

[2020-06-28 04:31] hao-fang opened #275 "Enhancements on Home page"
**Number of Volunteers: 1**

- [ ] Remove the first intro video
- [x] Make Move organizers & acknowledgements to its own page "Organizers"
  - [x] Given the many organizers, maybe it's recommendable to allow four picture tiles per row to reduce scrolling.

[2020-06-28 07:09] #252 closed

[2020-06-28 07:10] hao-fang commented on #118
@stupid-2020 Can you do this for all current users in our pool? Currently I'm using this bash script for adhoc requests. https://github.com/acl-org/acl-2020-virtual-conference-tools/blob/master/acl2020_tools/awscognito/verify_user_email.sh

[2020-06-28 07:48] hao-fang commented on #230
Should be fixed with #278.
But someone needs to add some margin.
Also it's probably better to increase the "Tracks" box and decrease the size of the search bar.
@tlikhit Will you be able to fix this?

[2020-06-28 09:00] stupid-2020 commented on #118
ok.

[2020-06-28 11:39] kaushal0494 commented on #244
Created PR #279 for prerecorded talk and/or live streaming of zoom session, embed slides live video.  @raosudha89 you can
 add virtual format description for each workshop. Let me know if I have to add more information.

[2020-06-28 14:47] raosudha89 commented on #266
@tlikhit  I second with Hao's suggestion of showing all events by default. Right now, it looks like QA is the only session displayed on the schedule. It is hard to notice the 'Event types' dropdown instantly on that page. Thanks.

[2020-06-28 16:10] #174 closed

[2020-06-28 16:10] #272 closed

[2020-06-28 17:15] #118 closed

[2020-06-28 17:24] hao-fang commented on #208
New requests -- can someone write a script to do the following?
Given a csv file with email and paper UID (e.g., main-2), add the user to the corresponding channel (e.g., `#paper-main-2`) and set the user as the owner of the channel.
Thanks!

[2020-06-28 17:25] GuyAglionby commented on #208
@hao-fang could this be a flag on https://github.com/acl-org/acl-2020-virtual-conference-tools/blob/master/acl2020_tools/chat/add_users_to_channel.py?

[2020-06-28 17:36] hao-fang commented on #208
@GuyAglionby -- That sounds good!
FWIW -- this will be used to set the author of the paper as the owner of their channel. I'm still trying to figure out where we can get such information (as the author may use a different email to register). Maybe we will need have volunteers to do it manually with a #author-registration-desk channel (which is less automatic, but maybe more close to a physical con

[2020-06-28 18:26] #267 closed

[2020-06-28 18:33] hao-fang commented on #56
## Turn off email notification by default
yes, you can disable it on the server level in Administration -> Accounts -> Default User Preferences -> Offline Email Notifications:

![image](https://user-images.githubusercontent.com/9957482/85955396-167d4300-b933-11ea-8f99-1b6564df375f.png)

[2020-06-28 18:34] hao-fang commented on #267
@GuyAglionby Will you push your changes about the small calendar icon?

https://github.com/acl-org/acl-2020-virtual-conference/pull/271#issuecomment-650622747

[2020-06-28 18:39] hao-fang commented on #56
## click the avatar to show user info instead of starting a DM

sure, there's a setting for this which you can find in Administration -> Layout -> User Interface -> Click to Create Direct Message (when enabled it will skip showing the user's info and will forward you straight to the chat with this user) -> Disable:
![image](https://user-images.githubusercontent.com/9957482/85955512-eedaaa80-b933-1

[2020-06-28 20:15] hao-fang commented on #212
@PVinay737 This is a little urgent -- can you re-run the pipeline to generate the `paper_recs.json` and `papers_projection.json` by merging the following files in the `sitedata_acl2020`.
* main_papers.csv
* demo_papers.csv
* srw_papers.csv
* cl_papers.csv
* tacl_papers.csv

Thanks a lot!

[2020-06-28 22:37] #261 closed

[2020-06-29 00:42] raosudha89 opened #282 "Add start end times in calendar on schedule page"
Right now, it is hard to align some sessions to the time especially on days that have too many parallel sessions. It would be really helpful if the sessions include start time (and if possible end time) along with their names in the calendar.

For e.g. instead of "Undergraduate student panel" --> "7:00 - 8:30 Undergraduate student panel"

@hao-fang  let me know what you think. I can work on this i

[2020-06-29 02:26] hao-fang commented on #282
@raosudha89 would those text fit into the calendar card?
Go for it if it works better.

[2020-06-29 03:23] Robert-Alonso commented on #208
Hi @hao-fang, do you know how I could get a RocketChat access token with delete permissions?

![image](https://user-images.githubusercontent.com/5826177/85969472-60931280-b98d-11ea-84a1-bfa396ee67d4.png)

[2020-06-29 03:32] raosudha89 commented on #244
@kaushal0494  PR https://github.com/acl-org/acl-2020-virtual-conference/pull/279 was failing some checks. Please check my comments on that PR to fix the issues.

[2020-06-29 04:00] raosudha89 commented on #86
@stupid-2020  Sorry for the delay. We asked all committee members to give us their photo if they wanted to update their current photo on the website. I have added all the photos I received till now using this PR https://github.com/acl-org/acl-2020-virtual-conference/pull/283

Once the PR is merged, please use them.

[2020-06-29 04:39] hao-fang commented on #208
@Robert-Alonso I just granted the "Clear Channel History" permission to `acl2020-admin-bot`. Can you check again?
But please be very careful with this permission and do NOT share the account & access token with other people.

cc @vladdy -- FYI I added a new role "admin-bot" which has the permission to "Clear Channel History". I added this role to the `acl2020-admin-bot` account. Do you have any co

[2020-06-29 04:56] hao-fang commented on #86
@stupid-2020 #283 is merged now. Please make the changes on https://github.com/acl-org/acl-2020-virtual-conference-sitedata/blob/master/committee.yml.
Thanks!

[2020-06-29 05:19] Robert-Alonso commented on #208
Thanks @hao-fang! I successfully tested the script and just submitted the PR. I also created a #testchannel in RocketChat, feel free to delete it :+1:

[2020-06-29 05:46] hao-fang commented on #208
@Robert-Alonso Thanks! I've deleted the channel and revoked the permission. I think talk with @vladdy to see whether we want to grant the permission to `acl2020-admin-bot` in future.

[2020-06-29 05:53] hao-fang commented on #104
@stupid-2020 Have you checked with this in https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/cognito-idp.html#CognitoIdentityProvider.Client.list_users
[code]
It seems that your script can only list 60 users at one time because of
[code]
See https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_ListUsers.html#API_ListUsers_RequestSyntax

Can you d

[2020-06-29 05:58] hao-fang opened #285 "Create RocketChat channels for demo, SRW, CL, TACL papers"
**Number of Volunteers: 1**

The files are under `sitedata_acl2020`.
* srw_papers.csv
* demo_papers.csv
* cl_papers.csv
* tacl_papers.csv

I notice that I have used submission ID as the UID for SRW and Demo papers, although they have an Anthology ID. (The `main_papers.csv` still use the Anthology ID for UID.)
This is a little bit unfortunate but we should **NOT** change it now b/c our Zoom account

[2020-06-29 06:00] PVinay737 commented on #212
Apologies for the delay in reporting @hao-fang.

I have rerun the scripts and added the new ones. Please review this [PR](https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/84)

[2020-06-29 06:44] clefourrier commented on #251
Does this issue need anything else?

[2020-06-29 07:36] stupid-2020 commented on #86
Never mind

[2020-06-29 07:36] stupid-2020 commented on #86
Never mind.

[2020-06-29 07:47] stupid-2020 commented on #104
Sorry for making such mistake.  Will fix it soon.

[2020-06-29 11:34] GuyAglionby commented on #285
Done :)

[2020-06-29 13:59] raosudha89 commented on #86
@stupid-2020  I see https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/86 has been merged. But on the virtual website, I don't still see the updated photos. Has the sitedata been rebuilt? if not, can you do that?

[2020-06-29 14:04] raosudha89 commented on #266
Many internal committee members now have access to the website and may need to use the schedule page for their tasks. Currently the schedule tab is almost unreadable (QA sessions for e.g.) with the scroll bar issue. We need to fix this ASAP.

[2020-06-29 16:14] raosudha89 opened #287 "Fix workshop page"
The workshops page is not showing the content under each tab. I am working on fixing this bug.

[2020-06-29 16:27] hao-fang commented on #285
@GuyAglionby  Thank you so much!

[2020-06-29 16:27] #285 closed

[2020-06-29 18:02] #287 closed

[2020-06-29 18:08] raosudha89 commented on #251
Closing this. Thanks @clefourrier

[2020-06-29 18:08] #251 closed

[2020-06-29 18:14] raosudha89 commented on #244
@kaushal0494  your PR has now been merged.

Do you have an ETA on when the schedule for each workshop will be posted?

[2020-06-29 21:11] raosudha89 opened #295 "Tutorial page: Add time and zoom link for live sessions just like paper page"
Each tutorial page header currently looks like this

![image](https://user-images.githubusercontent.com/7291397/86056441-50714680-ba12-11ea-93e6-6894698e4e80.png)

Instead, we should make it more similar to each paper page where the time and the zoom link for the live session is displayed in the header

![image](https://user-images.githubusercontent.com/7291397/86056498-6b43bb00-ba12-11ea-938d-a60

[2020-06-29 21:14] raosudha89 opened #296 "Workshop: Add time and zoom link for live sessions just like paper page"
This is similar to the https://github.com/acl-org/acl-2020-virtual-conference/issues/295

Currently the workshop header looks like this

![image](https://user-images.githubusercontent.com/7291397/86056746-c2499000-ba12-11ea-8531-485f887fdb15.png)

Instead, we should make it more similar to each paper page where the time and the zoom link for the live session is displayed in the header

![image](ht

[2020-06-29 21:16] raosudha89 commented on #282
Okay. I will wait for https://github.com/acl-org/acl-2020-virtual-conference/issues/266 to be fixed and then see addition of times look on the calendar.

[2020-06-29 22:49] tlikhit commented on #282
@raosudha89  I tried to add in time but it doesn't look good. What I'm thinking of doing is totally removing the first column with times and putting times and partial title on the card. Clicking on card will open a pop-up with full title and link. Does that sound good?

[2020-06-30 01:19] stupid-2020 commented on #86
@raosudha89 Sorry for late reply.  (I think we are working at different timezone)  I don't have the access to the virtual website you guys are working on.  Here is the output from my machine:

![image](https://user-images.githubusercontent.com/66775489/86071806-c1683b00-bab2-11ea-95a8-a93038cff5f1.png)

[2020-06-30 01:53] hao-fang commented on #86
@stupid-2020 can you access virtual.acl2020.org? You should be able to login with the same account for RocketChat.

[2020-06-30 01:54] goodmami commented on #275
I'll take this.

[2020-06-30 01:58] kaushal0494 commented on #244
@raosudha89 I am working on that. Due to the non-uniform schedules, I am facing a problem in including them automatically. I will try to finish today.

[2020-06-30 02:45] goodmami commented on #25
Just comparing the sponsors page with what's currently at https://acl2020.org/sponsors/list/, and I see that ByteDance is not listed in the Gold sponsors here. Should it be added?

[2020-06-30 03:02] luanyi commented on #25
@goodmami ByteDance is not in the sponsor list Priscilla provided us. I have never received any email from them either so I don't think they are one of our sponsors. I'll double check with Priscilla. In any case it's already too late to prepare a virtual booth for them. We can put a logo and add a link to their company.

[2020-06-30 03:26] goodmami commented on #275
PR #300 just moves the organizers to their own page. Once they were off the home page, it didn't actually feel like too much scrolling so I think 3 tiles per row is fine, and in fact 4 might be too crowded on some displays.

And regarding the following:

It looks like there are two video slots on the home page:
1. A Message from the General Chair and Program Chairs
2. About the virtual conference

[2020-06-30 03:53] anaerobeth commented on #269
@hao-fang These are the keywords extracted using DyGIE++ from the title+abstract of the main papers:

[acl_keywords.xlsx](https://github.com/acl-org/acl-2020-virtual-conference/files/4849342/acl_keywords.xlsx)

Let me know if anything looks off to you. I can save a new version of main_papers.csv with the missing keywords filled in and create a PR.

[2020-06-30 04:30] anaerobeth commented on #212
@hao-fang If you are still looking for another volunteer, I can help with this issue.

[2020-06-30 04:41] PVinay737 commented on #212
@anaerobeth please go ahead

[2020-06-30 04:43] PVinay737 commented on #212
@anaerobeth please go ahead..

[2020-06-30 04:46] PVinay737 commented on #212
@anaerobeth please go ahead as I'm short of time..if you need anything from myside do update me asap

[2020-06-30 05:01] hao-fang commented on #275
@goodmami yes, please remove the "A Message from the General Chair and Program Chairs".
Thanks!

[2020-06-30 05:04] hao-fang commented on #212
@PVinay737 @anaerobeth -- I think this is not time-sensitive anymore since we already get the files in #84
You can work on other items with higher priority. If you want, you can come back to work on this one after the conference is over.

[2020-06-30 05:05] #212 closed

[2020-06-30 05:07] hao-fang commented on #269
@anaerobeth This looks good.
Can you figure out how to add them so it can be used in the Visualization page?
I imagine you just need to fill in the "keywords" column in `main_papers.csv` under `sitedata_acl2020`. But I'm not 100% sure.

[2020-06-30 05:16] hao-fang commented on #230
@tlikhit Please prioritize #240 first.
I'll close this one because I think it works good enough.

[2020-06-30 05:16] #230 closed

[2020-06-30 05:19] hao-fang commented on #62
@vladdy I'll close this one for now since the descriptions are outdated.
I'm trying to clean up the issues so we get a v1.0 version ready.

I'll create another main issue of RocketChat related tasks to be tracked on and assign you on this.

@tlikhit -- I'm making a plan for on-call volunteers support and I may ask you about it. For now, let's focus on finishing the website issues.

[2020-06-30 05:19] #62 closed

[2020-06-30 05:20] #86 closed

[2020-06-30 05:20] #160 closed

[2020-06-30 06:30] goodmami commented on #275
Done in #302. Thanks!

[2020-06-30 07:49] #275 closed

[2020-06-30 07:56] hao-fang commented on #266
@tlikhit Nice job! It looks good now!

[2020-06-30 07:56] #266 closed

[2020-06-30 07:57] hao-fang commented on #282
With #303 -- the current tooltip shows the start&end time, which is nice! Thanks @tlikhit !

[2020-06-30 07:57] #282 closed

[2020-06-30 07:59] hao-fang opened #305 "Improve Tutorials page (Calendar View)"
@tlikhit Can you apply the same changes from #303 to the Tutorials page? It would be good to make it consistent with the Schedule page, i.e., showing the tooltips. Thanks!

[2020-06-30 08:00] hao-fang commented on #296
FYI @tlikhit -- this one and the #295 currently have higher priority which you can work on next.

[2020-06-30 09:24] stupid-2020 commented on #104
To find user(s) with multiple group:

[code]

The sample output of `duplicate.csv` generated:

[code]

To remove the user(s) from the group, it is recommended to backup the `duplicate.csv` and keep ONLY the user(s) should be removed from the group:

[code]

[2020-06-30 09:57] stupid-2020 commented on #86
I can access the web but not the "console" to run "build freeze".

[2020-06-30 11:58] kaushal0494 commented on #244
Again same problem: Unable to add a schedule for individual workshop pages automatically from (using workshop id) .yml file. It will be great If some can have a look. Thanks

[2020-06-30 12:27] raosudha89 commented on #244
@tlikhit Can you please take a look at the issue @kaushal0494  is facing?

[2020-06-30 12:31] raosudha89 opened #306 "Calendar: Do not change color on hover"
I found the changing of color to red on hovering over calendar elements to be a bit distracting. @hao-fang @tlikhit  What do you think? If you think it is okay, we can keep it.

[2020-06-30 13:13] anaerobeth commented on #296
@raosudha89 I can help with this task if needed

[2020-06-30 13:46] tlikhit commented on #306
I concur. Will remove or change to a milder color based on Hao's opinion.

[2020-06-30 13:48] tlikhit commented on #296
@anaerobeth Please feel free to work on this and hmu if you get stuck  :)

[2020-06-30 15:45] hao-fang commented on #86
@stupid-2020 What do you mean by the "console"? The `make freeze` is executed in the Github Action.

[2020-06-30 15:47] hao-fang commented on #306
@raosudha89 @tlikhit -- This is a fairly low priority issue. Let's first finish all other issues, i.e., the individual tutorial pages & workshop pages.

[2020-06-30 17:53] clefourrier commented on #296
@anaerobeth If you still want to work on this issue, could you please self assign?
(Else feel free to assign me and I'll have a go at it ^^)

[2020-06-30 17:54] anaerobeth commented on #269
New visualization displaying keywords:
<img width="1048" alt="Screen Shot 2020-06-30 at 1 46 16 PM" src="https://user-images.githubusercontent.com/3663322/86159644-aa3c4400-bad8-11ea-876d-da7d2b5ebadf.png">

[2020-06-30 18:03] #295 closed

[2020-06-30 18:07] raosudha89 opened #309 "Tutorials: Add SlidesLive video IDs for all prerecorded talks"
[This spreadsheet](https://docs.google.com/spreadsheets/d/1mnkvwYGcramosUflCRlVdgzUPIUSfkqUDpDTa5Faslg/edit#gid=1249246662) has  slideslive video ids for all pre-recorded tutorial talks.

Embed this appropriately into tutorial page.

[2020-06-30 18:08] raosudha89 commented on #309
@goodmami  Please feel free to ask me if you have any questions.

[2020-06-30 18:09] raosudha89 opened #310 "Workshops: Add Slideslive video IDs for pre-recorded talks"
[This spreadsheet](https://docs.google.com/spreadsheets/d/1mnkvwYGcramosUflCRlVdgzUPIUSfkqUDpDTa5Faslg/edit#gid=1249246662) has  slideslive video ids for all pre-recorded workshop talks.

Embed this appropriately into each workshop page.

[2020-06-30 18:26] hao-fang commented on #269
@anaerobeth This looks fun!
I wonder whether we should also "search-by-keywords" feature now..
Do you know how to do it? You can probably compare our code with Mini-Conf code...

[2020-07-01 00:02] anaerobeth commented on #296
Proposed workshop header with zoom link and session time:

<img width="985" alt="Screen Shot 2020-06-30 at 7 59 35 PM" src="https://user-images.githubusercontent.com/3663322/86188382-73802100-bb0c-11ea-8f8e-0164140f82f4.png">

I will need to add new columns for zoom_link, session1_time, session2_time to `workshops.csv`. Is there a link to a document with those values? Also, should the workshops pa

[2020-07-01 01:24] anaerobeth commented on #269
@hao-fang Search by keywords functionality:
<img width="1064" alt="Screen Shot 2020-06-30 at 9 22 19 PM" src="https://user-images.githubusercontent.com/3663322/86192672-19855880-bb18-11ea-8fad-5823ad358deb.png">

Keywords displayed in the paper header:
<img width="1003" alt="Screen Shot 2020-06-30 at 9 22 47 PM" src="https://user-images.githubusercontent.com/3663322/86192614-fe1a4d80-bb17-11ea-96d

[2020-07-01 01:32] hao-fang commented on #269
@anaerobeth Thanks a lot!
Let's do this.
* Enable search by keywords in both "Browse" and "Visualization"
* But do **not** display the keywords on the paper header (it is a little bit too noisy).

Can you make the changes and submit a PR in https://github.com/acl-org/acl-2020-virtual-conference-sitedata and another PR in this repo?
Thanks! This is awesome!

[2020-07-01 03:16] goodmami commented on #309
@raosudha89 the Tutorial sheet in the spreadsheet looks incomplete. It is missing
- T6, *Commonsense Reasoning for Natural Language Processing*, by Maarten Sap, Vered Shwartz, Antoine Bosselut, Yejin Choi, Dan Roth
- T7, *Integrating Ethics into the NLP Curriculum*, by Emily M. Bender, Dirk Hovy and Alexandra Schofield

T7 appears to be partially filled out, though. The main thing is I don't have

[2020-07-01 03:24] goodmami commented on #309
Sorry, it looks like maybe it doesn't have a prerecorded talk, according to the `virtual_format_description` column in `sitedata_acl2020/tutorials.csv`. But then there are several other tutorials that *do* have a slideslive ID in the spreadsheet but the CSV file says they do not (T2, T7, T8), so I don't know which information to trust.

For now I'll put in the slideslive video ids for those in the

[2020-07-01 04:43] hao-fang opened #317 "Improve CONTRIBUTION-ACL2020.md"
**Number of volunteers**: 1-2

Can someone familiar with this repo make a pass on the CONTRIBUTION-ACL2020.md and see if there is any problem?
We will need to ask on-call volunteers during the conference to make adhoc changs.
Thanks!

[2020-07-01 04:44] hao-fang commented on #39
🎉

[2020-07-01 04:44] #39 closed

[2020-07-01 05:57] #305 closed

[2020-07-01 06:02] #88 closed

[2020-07-01 06:34] clefourrier commented on #317
@hao-fang
- Setup environment: LGTM (though the virtualenv part could be restructured a bit for clarity, I can do it if needed)
- Pull request: LGTM
- Pages overview: Only talks about sponsors, **do we want to add other page types?**
- Deploy at AWS with login authentication: **Need to be done**
- FAQ: Almost empty, but I don't know the kind of info which would need to be added.

[2020-07-01 07:15] hao-fang commented on #317
@clefourrier Thanks for taking a look!

Yes, please help to make it better!

Cool!

Yes, if it is possible. But I don't know how hard it would be to write down the documents. I guess we should probably just tell which page corresponds to which html file under the `templates/` folder.

You can delete this one. GitHub action will automatically deploy the website to AWS for every PR merge.

I guess t

[2020-07-01 07:17] clefourrier commented on #317
Ok, I'll do it during the day!

[2020-07-01 12:02] clefourrier commented on #317
@hao-fang Have a look, and tell me if more info is needed

[2020-07-01 14:18] raosudha89 opened #320 "BUG: Calendar view shows incorrect time on hovering over an event"
Emily Bender (from acl2020 committee) says: I noticed something odd about the calendar on virtual.acl2020.org: When I hover over an event, it shows me a pop-up window with time info that doesn’t match what’s in the calendar view (and also isn’t UTC). Do you know what this is supposed to be?

[2020-07-01 16:25] hao-fang commented on #317
@clefourrier -- thanks! I approved the PR with two minor comments. Can you fix them and merge the PR? Thanks!

[2020-07-01 16:49] raosudha89 commented on #309
@goodmami  I just submitted a PR https://github.com/acl-org/acl-2020-virtual-conference/pull/323 for this issue. I had to do this asap and so I did it myself. Sorry to overstep you. But I realized you had some missing context to work on this.

I will need your help to do a similar thing for workshops (https://github.com/acl-org/acl-2020-virtual-conference/issues/310). I will assign you on that iss

[2020-07-01 16:50] raosudha89 commented on #309
Keeping this open because of the following issue. Waiting for slideslive people to respond to fix it.

T2, T4, T7, T8:  Video IDs are in the spreadsheet but when I embed into website, it is not getting displayed.

[2020-07-01 17:31] tlikhit commented on #320
@raosudha89 Sorry, this should be fixed with #325

[2020-07-01 18:27] maartensap opened #327 "Append text to Queer in AI social event description"
Could some please update the queer in AI social event description (on https://virtual.acl2020.org/socials.html) to

diff: I've added the last sentence "People of all identities (including allies) are invited to attend!"

[2020-07-01 18:31] raosudha89 commented on #244
@tlikhit  Can you please prioritize this? The first workshop (W1: WiNLP) is schedule for July 5th and the website is going live on July 3rd. We really want the detailed schedule for atleast W1 to be up by then. Thanks.

[2020-07-01 18:39] raosudha89 commented on #244
@tlikhit  I am working on converting workshops.csv to workshops.yml file so that we can include the schedule (i.e. list of talks, their timings and video ids) in them. I will push the yml file and let you know.

[2020-07-01 20:27] tlikhit commented on #244
@raosudha89 Please ping me once you've added the workshops.yml file. I'll add in a calendar style schedule.

[2020-07-01 20:40] hao-fang commented on #327
@prabhat1081 can you fix this one?

[2020-07-01 20:42] raosudha89 commented on #244
@tlikhit  I ended up not working on creating the yml file since I don't know how to do that.

I instead worked on displaying prerecorded talks on each workshop page. See this PR https://github.com/acl-org/acl-2020-virtual-conference/pull/328

We still need a way to display the schedule. It need not be in the calendar form (since that would be complicated). Can we just list the schedule in the form

[2020-07-01 21:15] #320 closed

[2020-07-01 21:19] raosudha89 commented on #310
@goodmami  Can you check the changes I did for adding pre-recorded talks of W1 and W2 in this PR https://github.com/acl-org/acl-2020-virtual-conference/pull/328

and do the same for the following workshops: W11, W12, W13, W14, W15, W16, W17, W18, W19

[2020-07-01 21:24] raosudha89 commented on #296
@anaerobeth  You can find the start and end time of the live sessions for each workshop in their respective tabs in [this spreadsheet ](https://docs.google.com/spreadsheets/d/1BbjMuZyROC973mukGks45h4bwZwDziJmv8B1RNLfz1Q/edit#gid=1154304671)

We still do not have the zoom links as yet. You can just fill those with https://zoom.com for now.

[2020-07-01 21:42] #317 closed

[2020-07-01 22:06] tlikhit commented on #244
@raosudha89 Ok, I'll have to add in the schedule info for each workshop from the spreadsheets. I'm assuming I should include everything - breaks, poster sessions, prerecordings and live sessions.
Do I have to take into consideration the subdivisions in the workshop? For example, if I'm not misunderstanding, W1 seems to be divided into 4 sections.

[2020-07-01 23:49] sudhra commented on #244
@tlikhit  Each workshop has a dedicated website that you can find here: https://acl2020.org/program/workshops/
You can pickup the detailed schedule from there. That will clarify questions about subsections.
If it is easy to include subsections, add those. Otherwise, we can just keep it linear.

[2020-07-01 23:50] sudhra commented on #244
Actually, lets not worry about subsection. Let's mainly add the time and the name of the session. It would be easier that way and honestly, we don't have enough time to be thorough here. So let's just do the minimum we can.

[2020-07-02 00:22] hao-fang opened #332 "Create RocketChat channels for workshops"
**Number of Volunteers: 2**

I'll share the acl2020-admin-bot account info with you to create these channels. There are 20 channels, one for each workshop.

[2020-07-02 01:50] SebastinSanty commented on #269
@hao-fang I can probably take a stab at the Tutorials section. Also, regarding the colors, we might want to make it accessible for color-blind people.

[2020-07-02 01:56] hao-fang commented on #269
@SebastinSanty Sounds great! Please do it!

[2020-07-02 02:19] goodmami commented on #310
@raosudha89 on it.

Immediately I notice that W4 (BioNLP) is incomplete in the spreadsheet, with only about half of the accepted papers listed (compared to https://aclweb.org/aclwiki/BioNLP_Workshop), and with several typos, so I'll skip that one for now. Who do we contact to get complete information?

Then W16 and W19 look like they have all talks listed (though I don't have a good way to confirm

[2020-07-02 02:22] goodmami commented on #310
(by "the rest" I mean W11 through W19)

[2020-07-02 02:37] sudhra commented on #310
@goodmami  Thanks. Yes, some may be missing slideslive id. We will have to make a note here and update them later.

Thanks for taking care of W11 to W19. Can you also do W20?

I am taking care of W3 to W9 right now. If you are curious about my workflow, I do the following:
1. I go to the workshop tab on the [spreadsheet](https://docs.google.com/spreadsheets/d/1mnkvwYGcramosUflCRlVdgzUPIUSfkqUDpDTa

[2020-07-02 02:41] goodmami commented on #310
Sure

That's exactly what I'm doing :) Although W12 has an extra column indicating if the talk is live or prerecorded. I just removed that column, too.

[2020-07-02 02:42] raosudha89 commented on #310
@goodmami  sounds great :) thanks!

[2020-07-02 02:55] hao-fang opened #334 "Update FAQ page"
**Number of Volunteers: 1**

Change the General data protection FAQ on https://virtual.acl2020.org/about.html to be called "General Data Protection and Privacy" and add a sentence at the end saying "For more information on privacy practices of all the conference software, we encourage all attendees to consult the statements from each of the companies at https://zoom.us/privacy, https://slideslive.

[2020-07-02 03:10] hao-fang opened #335 "Add pdf links for some tutorials pages"
**Number of Volunteers: 2**

From Tutorial Chairs: The Tutorial pages will need some extra links to the tutorial material:
Links to Pdf slides for those tutorials which are not pre-recorded (T2, T6, T7, T8). We should have all the slides by tomorrow Wednesday). Let us know if you can also host the slides or if we should make a Google folder on our own.
Links to external tools like Doory (for brain

[2020-07-02 03:17] raosudha89 commented on #335
@hao-fang  At this point, I think we should just post the slides as a link to a pdf. Not try to display the slides as a slideshow.

[2020-07-02 03:19] raosudha89 commented on #335
@hao-fang Can you forward me the email when they send this information?

[2020-07-02 03:27] raosudha89 commented on #309
Tutorial chairs confirmed that T2, T6, T7, T8 do not have pre-recorded talks.
I have asked them about T4.

[2020-07-02 03:57] raosudha89 commented on #310
@goodmami  I have merged your PR. Can you do one thing before we close this? Can you list all workshops that have some issue with pre-recorded talks? i.e. missing slideslive id or missing some other value?

[2020-07-02 03:59] raosudha89 commented on #335
@hao-fang  Sounds good.

[2020-07-02 04:03] raosudha89 opened #338 "Tutorials: Add livestream ID and zoom link"
We need to get this information from slideslive and add it to tutorials.csv under sitedata_acl2020

[2020-07-02 04:04] raosudha89 opened #339 "Workshops: Add livestream ID and zoom link"
We need to get this information from slideslive and add it to workshops.csv

[2020-07-02 04:06] goodmami commented on #310
Short of actually cross-referencing the lists with all the workshop programs (if they are published) or verifying individual slideslive videos, here's what I see:

- W4 (incomplete list)
- W5 (closing remarks missing a speaker; is this a problem?)
- W12 (best paper talk missing a speaker)
- W16 (missing all slideslive ids)
- W19 (missing all slideslive ids)

In addition some of the invited talks h

[2020-07-02 04:08] raosudha89 commented on #310
@goodmami  Thanks! I will follow up on these.

[2020-07-02 04:42] anaerobeth commented on #296
Updated Workshop UI with the live session schedules and hardcoded zoom link:

<img width="985" alt="Screen Shot 2020-07-02 at 12 35 22 AM" src="https://user-images.githubusercontent.com/3663322/86316890-fcc25100-bbfb-11ea-8205-08f19e53188a.png">

[2020-07-02 06:24] Robert-Alonso commented on #334
Hi @hao-fang I can work on it :+1:

[2020-07-02 06:26] SushantKafle opened #343 "[Accessibility] Navigational tab selected indicated only through visuals"
The selected navigational tab only indicated visually. Screen reader (SR) doesn't say which of the navigational tabs is selected.

Solution: One option is to use "aria-current" to convey that the navigation tab is the active / current one. More details here:

- [https://www.accessibility-developer-guide.com/examples/sensible-aria-usage/current/](https://www.accessibility-developer-guide.com/exampl

[2020-07-02 06:27] SushantKafle opened #344 "[Accessibility] The tick mark besides the papers are not labelled; Screen reader ignores them completely."
The tick mark besides the papers are not labelled, so SR ignores them completely.

Solution: Provide "aria-label" for the div. Make sure to indicate whether the div is selected or un-selected -- which could be done through the label.

![Screenshot 2020-06-30 at 9 25 59 AM](https://user-images.githubusercontent.com/4416671/86323871-7bb28c00-bbf2-11ea-893c-d35493b5d58d.png)

[2020-07-02 06:28] SushantKafle opened #345 "[Accessibility] The images besides the paper don't have alt-tags."
The images besides the paper don't have alt-tags.

Solution: Provide alternate description to the images.

[2020-07-02 06:32] SushantKafle opened #346 "[Accessibility] Other miscellaneous issues"
- Screen reader reads the user-avatar and the name in the chatbox, redundantly.
![Screenshot 2020-06-30 at 9 18 26 AM](https://user-images.githubusercontent.com/4416671/86324023-bf0cfa80-bbf2-11ea-830f-0bc8766e0f7d.png)
Solution: One solution is to use "aria-hidden" to indicate the screen readers to skip reading the avatars.

- The "Event type" dropdown menu (in https://virtual.acl2020.org/schedul

[2020-07-02 06:37] hao-fang commented on #334
@Robert-Alonso  Thanks!

[2020-07-02 06:49] Robert-Alonso commented on #334
Done :)

[2020-07-02 07:03] hao-fang commented on #332
#workshop-1-winlp
#workshop-2-iwslt
#workshop-3-NLP4ConvAI
#workshop-4-bionlp
#workshop-5-fever
#workshop-6-iwpt
#workshop-7-flp
#workshop-8-nuse
#workshop-9-alvr
#workshop-10-RepL4NLP
#workshop-11-nli
#workshop-12-wngt
#workshop-13-bea
#workshop-14-SIGMORPHON
#workshop-15
#workshop-16
#workshop-17
#workshop-18
#workshop-19
#workshop-20

[2020-07-02 07:07] #334 closed

[2020-07-02 12:49] raosudha89 commented on #244
@tlikhit  Is there any update on this? We need this to be done latest by 3pm PT today. The website goes live tomorrow. Sorry for rushing you, but this is critical at this point. Thanks.

[2020-07-02 13:47] anaerobeth commented on #332
I can help with this task if needed. Let me know where to find relevant documentation for this task.

[2020-07-02 14:10] raosudha89 commented on #335
Tutorial chair have given us the pdfs: https://drive.google.com/drive/folders/1b082SUDSqnkZTCggTJV3ymgMKav9-s6m

[2020-07-02 14:42] raosudha89 commented on #310
@goodmami The missing IDs for W16 and W19 have been added now https://docs.google.com/spreadsheets/d/1mnkvwYGcramosUflCRlVdgzUPIUSfkqUDpDTa5Faslg/edit#gid=1369416394

Can you update their csv files? Thanks.

[2020-07-02 15:03] goodmami commented on #310
Done on the sitedata repo: https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/131

[2020-07-02 15:12] raosudha89 opened #355 "Update workshop tutorial session times to display in local timezone"
See how this is done for paper page. Code here https://github.com/acl-org/acl-2020-virtual-conference/blob/c5d884c617339af59b476505c6a27e3700d414fe/templates/paper.html#L168-L173

And replicate for tutorial and workshop page which is currently hard coded to display at GMT and PDT.

[2020-07-02 15:28] tlikhit commented on #244
@raosudha89 In the current merge I used data from the spreadsheet. I'm cleaning and reformatting the data for the rest of the workshops too, should be done soon. A couple of questions:
- W1(WiNLP) website has a sponsored breakfast from 8-9 as first event on its website but not in the spreadsheet. Should I add in events on the workshop websites but not in the spreadsheet?
- The workshops page seems

[2020-07-02 15:32] raosudha89 commented on #244
@tlikhit

- Good question. I think the website schedule is old. Let's use the spreadsheet only
- Yes, sounds good

Also, could you make the schedule collapsible and keep it hidden by default? I think it is taking up too much space right now.  Thanks

[2020-07-02 15:35] tlikhit commented on #244
I will add in days and make it collapsible 👍

[2020-07-02 16:09] hao-fang opened #356 "Add search by session"
From PC:

Might be possible by adding something like the current "Track" bar?

[2020-07-02 16:37] raosudha89 commented on #244
@tlikhit  Thanks. Please tag me here once you submit the PR for making it collapsible.

[2020-07-02 16:39] raosudha89 commented on #309
T4 video is now getting displayed correct. Closing this. We have a different issue for adding pdf links for tutorials https://github.com/acl-org/acl-2020-virtual-conference/issues/335

[2020-07-02 16:39] #309 closed

[2020-07-02 16:40] raosudha89 commented on #296
Thanks @anaerobeth  :)

[2020-07-02 16:44] raosudha89 commented on #339
Jarda (from slideslive) says he will give us these links on July 3rd. Follow up with him.

[2020-07-02 16:44] raosudha89 commented on #338
Jarda (from slideslive) says he will give us these links on July 3rd. Follow up with him.

[2020-07-02 16:51] raosudha89 commented on #335
I am working on this.

[2020-07-02 17:31] hao-fang commented on #332
@anaerobeth I'll put you in touch with @finiteautomata via email

[2020-07-02 18:21] raosudha89 commented on #244
@tlikhit  Are you working on this currently? If not, then I can work on this. We want this updated in the next hour since we will be recording an intro video at 1pm PT and we are hoping this page will be updated by then.

[2020-07-02 18:23] tlikhit commented on #244
@raosudha89  I'm done with it! I'm waiting on https://github.com/acl-org/acl-2020-virtual-conference-sitedata/pull/136 to be merged as I changed some fields

[2020-07-02 18:26] raosudha89 commented on #244
Thank you so much. I just merged that PR.

[2020-07-02 18:34] tlikhit commented on #244
@raosudha89  Thanks, sent in #358

[2020-07-02 18:49] raosudha89 commented on #244
@tlikhit  Thank you so much! I merged the PR. Closing this now.

[2020-07-02 18:49] #244 closed

[2020-07-02 18:57] raosudha89 commented on #335
Slides for T2, T7, T8 have been added using a 'Slides' link under main header.

![image](https://user-images.githubusercontent.com/7291397/86398799-07f89980-bc5b-11ea-968b-b9bcf0ea1215.png)

However, T6 has multiple slide pdfs (under static/pdf/T6-Slides folder). I am not sure how to display multiple slide decks.

@hao-fang  Any suggestions as to which volunteer might be able to work on this?

[2020-07-02 19:02] raosudha89 opened #360 "Add link to Dory on T1 tutorial page"
Link should be called: Question and discussion topic collection via Dory
Link: https://www.dory.app/c/google.com/aaabb999_acl-20-interpretability-tutorial/questions